extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)
block content
  .page-header
    .row
      .col-lg-6
        h1 Moje odsotnosti
  if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
    .row.col-lg-11
      .col-lg-2#imgEmployee
        if (employee.role.toLowerCase() == 'admin')
          img.img-fluid(src='/admin64.png' alt='ikona')
        else if (employee.role.toLowerCase() == 'tajnik' || employee.role.toLowerCase() == 'komercialist' || employee.role.toLowerCase() == 'komerciala' || employee.role.toLowerCase() == 'računovodstvo')
          img.img-fluid(src='/secratery64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja' || employee.role.toLowerCase() == 'vodja projektov' )
          img.img-fluid(src='/manager64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja strojnikov')
          img.img-fluid(src='/managerMech64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja cnc obdelave')
          img.img-fluid(src='/managerCNC64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja električarjev')
          img.img-fluid(src='/managerElec64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja programerjev')
          img.img-fluid(src='/managerPLC64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'električar')
          img.img-fluid(src='/electrican64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'strojnik' || employee.role.toLowerCase() == 'strojni monter')
          img.img-fluid(src='/mechanic64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'programer plc-jev')
          img.img-fluid(src='/plc64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'programer robotov')
          img.img-fluid(src='/robot64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'konstruktor')
          img.img-fluid(src='/builder64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'konstrukter')
          img.img-fluid(src='/builder64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'cnc' || employee.role.toLowerCase() == 'cnc operater')
          img.img-fluid(src='/cnc64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'varilec')
          img.img-fluid(src='/welder02.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'serviser')
          img.img-fluid(src='/serviser.png')
        else if (employee.role.toLowerCase() == 'student' || employee.role.toLowerCase() == 'študent')
          img.img-fluid(src='/student03.png')
        else if (employee.role.toLowerCase() == 'info')
          img.img-fluid(src='/infoUser.png')
        else if (employee.role.toLowerCase() == 'info elektro')
          img.img-fluid(src='/infoElec.png')
        else if (employee.role.toLowerCase() == 'info strojna')
          img.img-fluid(src='/infoMech.png')
        else if (employee.role.toLowerCase() == 'info konstrukcija')
          img.img-fluid(src='/infoBuild.png')
        else if (employee.role.toLowerCase() == 'info programiranje')
          img.img-fluid(src='/infoProgrammer.png')
        else if (employee.role.toLowerCase() == 'info plc')
          img.img-fluid(src='/infoPlc.png')
        else if (employee.role.toLowerCase() == 'info robot')
          img.img-fluid(src='/infoRobot.png')
        else if (employee.role.toLowerCase() == 'info nabava')
          img.img-fluid(src='/infoSales.png')
        else if (employee.role.toLowerCase() == 'info montaža')
          img.img-fluid(src='/infoAssembly.png')
        else
          img.img-fluid(src='/worker64.png', alt='ikona')
      .col-lg-4
        h5#employeeName.col-lg-8= employee.name+' '+employee.surname
      .col-lg-2
        if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
          a.btn.btn-primary(href='/employees/userId?userId='+employee.id) Projekti
      .col-lg-2
        if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          //button#changePassBtn.btn.btn-primary(onclick='openChangePassModal('+employee.id+')') Spremeni geslo
          button#changePassBtn.btn.btn-primary Spremeni geslo
      .col-lg-2
        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          //button#changeRoleBtn.btn.btn-primary(onclick='openChangeRoleModal('+employee.id+')') Spremeni pravice
          button#changeRoleBtn.btn.btn-primary Spremeni pravice
    br
    .row
      .col-lg-3
        button#toggleAddAbsenceBtn.btn.btn-success Dodaj odsotnost
        //button.btn.btn-success(onclick='toggleAddAbsenceCollapse()') Dodaj odsotnost
    br
    .collapse.multi-collapse(id='collapseAddAbsence') 
      form#addAbsenceForm(role='form', method='post')
        .form-group
          label.w-100(for='absenceNameNew') Ime odsotnosti
            input#absenceNameNew.form-control(type='text', name='absenceNameNew')
        .form-group
          label.w-100(for='absenceStartNew') Začetek odsotnosti
            input#absenceStartNew.form-control(type='date', name='absenceStartNew', required="")
        .form-group
          label.w-100(for='absenceFinishNew') Konec odsotnosti
            input#absenceFinishNew.form-control(type='date', name='absenceFinishNew', required="")
        .form-group
          label.w-100(for='absenceReasonNew') Razlog
            select#absenceReasonNew.custom-select.mr-sm-2.form-control.select2-absence-reasonsNew.w-100(name='absenceReasonNew')
        .d-flex.justify-content-center
          button#btnAddAbsence.btn.btn-success(type='submit') Dodaj
    br
    .row.col-lg-12
      .col-xs-12.col-sm-8
        h5 Odsotnosti (nepotrjena):
    #absenceList.list-group.d-flex.ml-3.mr-3.span-absence-list
      //each absence in absences
        if (!absence.approved && absence.active)
          .list-group-item(id='absence'+absence.id)
            .row
              .col-md-3.mt-2
                if (absence.name)
                  label(id='absenceName'+absence.id)= absence.name
                else
                  label(id='absenceName'+absence.id) (brez imena)
              .col-md-3.mt-2
                if (absence.project_name)
                  label(id='absenceProject'+absence.id)= absence.project_name
                else
                  label(id='absenceProject'+absence.id) (brez projekta)
              .col-md-2.mt-2
                label(id='absenceDate'+absence.id)= absence.formatted_start.date + " - " + absence.formatted_finish.date
              .col-md-2.mt-2
                label(id='absenceReason'+absence.id)= absence.reason
              .col-md-2(id='absenceControl'+absence.id)
                if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik' || user_type == 'komercialist' || user_type == 'komerciala' || user_type == 'računovodstvo')
                  button.btn.btn-success.mt-2(onclick='approveAbsence('+absence.id+',1,1)')
                    i.fas.fa-check.fa-lg
                button.btn.btn-primary.ml-2.mt-2(onclick='toggleCollapse('+absence.id+')')
                  i.fas.fa-pen.fa-lg
                button.btn.btn-danger.ml-2.mt-2(onclick='deleteAbsence('+absence.id+',0,0)')
                  i.fas.fa-trash.fa-lg
            .collapse.multi-collapse.task-collapse(id='collapseEditAbsence'+absence.id)
    br
    .row.col-lg-12
      .col-xs-12.col-sm-8
        h5 Odsotnosti (potrjena):
    #approvedAbsenceList.list-group.d-flex.ml-3.mr-3.span-absence-list
      //each absence in absences
        if (absence.approved && absence.active)
          .list-group-item(id='absence'+absence.id)
            .row
              .col-md-3.mt-2
                if (absence.name)
                  label(id='absenceName'+absence.id)= absence.name
                else
                  label(id='absenceName'+absence.id) (brez imena)
              .col-md-3.mt-2
                if (absence.project_name)
                  label(id='absenceProject'+absence.id)= absence.project_name
                else
                  label(id='absenceProject'+absence.id) (brez projekta)
              .col-md-2.mt-2
                label(id='absenceDate'+absence.id)= absence.formatted_start.date + " - " + absence.formatted_finish.date
              .col-md-2.mt-2
                label(id='absenceReason'+absence.id)= absence.reason
              .col-md-2(id='absenceControl'+absence.id)
                if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik' || user_type == 'komercialist' || user_type == 'komerciala' || user_type == 'računovodstvo')
                  button.btn.btn-success.mt-2(onclick='approveAbsence('+absence.id+',0,1)')
                    i.fas.fa-times.fa-lg
                  button.btn.btn-primary.ml-2.mt-2(onclick='toggleCollapse('+absence.id+')')
                    i.fas.fa-pen.fa-lg
                  button.btn.btn-danger.ml-2.mt-2(onclick='deleteAbsence('+absence.id+',0,1)')
                    i.fas.fa-trash.fa-lg
            .collapse.multi-collapse.task-collapse(id='collapseEditAbsence'+absence.id)
    br
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() ==' tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
      .row.col-lg-12
        .col-xs-12.col-sm-8
          h5 Odsotnosti (odstranjena):
      #deletedAbsenceList.list-group.d-flex.ml-3.mr-3.span-absence-list
        //each absence in absences
          if (!absence.active)
            .list-group-item(id='absence'+absence.id)
              .row
                .col-md-3.mt-2
                  if (absence.name)
                    label(id='absenceName'+absence.id)= absence.name
                  else
                    label(id='absenceName'+absence.id) (brez imena)
                .col-md-3.mt-2
                  if (absence.project_name)
                    label(id='absenceProject'+absence.id)= absence.project_name
                  else
                    label(id='absenceProject'+absence.id) (brez projekta)
                .col-md-2.mt-2
                  label(id='absenceDate'+absence.id)= absence.formatted_start.date + " - " + absence.formatted_finish.date
                .col-md-2.mt-2
                  label(id='absenceReason'+absence.id)= absence.reason
                .col-md-2(id='absenceControl'+absence.id)
                  if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik' || user_type == 'komercialist' || user_type == 'komerciala' || user_type == 'računovodstvo')
                    if (absence.approved == true)
                      button.btn.btn-success.mt-2(onclick='approveAbsence('+absence.id+',0,0)')
                        i.fas.fa-times.fa-lg
                    else
                      button.btn.btn-success.mt-2(onclick='approveAbsence('+absence.id+',1,0)')
                        i.fas.fa-check.fa-lg
                    button.btn.btn-primary.ml-2.mt-2(onclick='toggleCollapse('+absence.id+')')
                      i.fas.fa-pen.fa-lg
                    if (absence.approved == true)
                      button.btn.btn-danger.ml-2.mt-2(onclick='deleteAbsence('+absence.id+',1,1)')
                        i.fas.fa-trash-restore.fa-lg
                    else
                      button.btn.btn-danger.ml-2.mt-2(onclick='deleteAbsence('+absence.id+',1,0)')
                        i.fas.fa-trash-restore.fa-lg
              .collapse.multi-collapse.task-collapse(id='collapseEditAbsence'+absence.id)
    //MODALNO OKNO SPREMENI GESLO
    #modalChangePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Spremeni Geslo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
          .col-sm-12#messagePass
            form#changePasswordform(role='form', method='post')
              .form-group
                label.w-100(for='user_password') Geslo 
                  input#user_password.form-control(type='password', name='user_password', required='', autocomplete='off')
              .form-group
                label.w-100(for='user_password_again') Ponovno geslo 
                  input#user_password_again.form-control(type='password', name='user_password_again', required='', autocomplete='off')
                  .valid-feedback Gesli se ujemata!
                  .invalid-feedback Gesli se ne ujemata!
              button#btnChangePass.btn.btn-primary(type='submit') Spremeni
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO SPREMENI PRAVICE - VLOGO
    #modalChangeRole.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Spremeni Pravice
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
          .col-sm-12#messageRole
            form#changeRoleform(role='form', method='post')
              .form-group
                label.w-100(for='user_role') Vloga
                  select#user_role.custom-select.mr-sm-2.form-control.select2-role.w-100(name='user_role')
              button#btnChangeRole.btn.btn-primary(type='submit') Spremeni
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //script(type='text/javascript', src='../javascripts/absences/absences.js', async)
  script(type='text/javascript', src='../javascripts/absences/absences.min.js', async)