extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet')
  script(src='/select2/select2.min.js')
  //za vis.js
  script(src='/moment/moment.min.js')
  script(src='/moment/sl.min.js')
  script(src='/vis/vis-data.min.js')
  link(rel='stylesheet', type="text/css", href='/vis/vis-timeline-graph2d.min.css')
  script(src='/vis/vis-timeline-graph2d.min.js')
  //arrow.js - javascript file/addon for adding arrows from one id element on timeline to another id element
  script(src='/vis/arrow.js')
block content
  .page-header
    .row
      .col-lg-6
        h1 Odsotnosti
  if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja' || true)
    // elements for admin/tajnik/vodja
    .d-flex
      button#addAbsenceBtn.btn.btn-success.mb-2(data-toggle="tooltip" data-placement="auto" title="Dodaj novo odsotnost")
        i.fas.fa-plus.fa-lg
      // button for editing supervisor for roles
      if (user_type.toLowerCase() == 'admin')
        button#editSupervisorBtn.btn.btn-primary.mb-2.ml-2(data-toggle="tooltip" data-placement="auto" title="Uredi odgovornost vlog")
          i.fas.fa-user-edit.fa-lg
      button#btnAbsencesOverview.btn.btn-primary.ml-auto.mr-2.active Pregled
      button#btnAbsencesViz.btn.btn-primary Vizualizacija
    .row
      .col
        .mb-2.d-flex
          //- if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || (user_type.toLowerCase().substring(0,5) == 'vodja'))
          .w-150px
            select#absenceCategoryFilter.custom-select.mr-sm-2.form-control.select2-categories(name='absenceCategoryFilter', aria-label="Oddelki")
              label.custom-control-label.sr-only(for='absenceCategoryFilter') Oddelki
          .w-150px.ml-2
            select#absenceStatusFilter.custom-select.mr-sm-2.form-control.select2-status(name='absenceStatusFilter', aria-label="Status")
              label.custom-control-label.sr-only(for='absenceStatusFilter') Status
          //- if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || (user_type.toLowerCase().substring(0,5) == 'vodja'))
          .w-150px.ml-2
            select#absenceUsersFilter.custom-select.mr-sm-2.form-control.select2-users(name='absenceUsersFilter', aria-label="Zaposleni")
              label.custom-control-label.sr-only(for='absenceUsersFilter') Zaposleni
      .col
        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          .ml-2
            #activityBtnGroup.btn-group.btn-group-toggle.mr-2(data-toggle='buttons')
              label.btn.btn-primary Vse
                input#optionAllActivities(type='radio' value='0' name='absenceActivityOptions' autocomplete='off')
              label.btn.btn-primary Aktivne
                input#optionTrueActivities(type='radio' value='1' name='absenceActivityOptions' autocomplete='off' checked='')
              label.btn.btn-secondary Neaktivne
                input#optionFalseActivities(type='radio' value='2' name='absenceActivityOptions' autocomplete='off')
      .col
        .ml-auto.d-flex
          .custom-control.custom-radio.mr-2.mt-2.w-140px
            input#radioLatest.custom-control-input(type='radio', name='radioMonthOrLatest', checked='')
            label.custom-control-label.d-flex(for='radioLatest')
              select#radioLatestValue.form-control.form-control-sm.ml-1.mt-n1
                option(value="10") Zadnjih 10
                option(value="20", selected) Zadnjih 20
                option(value="30") Zadnjih 30
                option(value="40") Zadnjih 40
                option(value="50") Zadnjih 50
                option(value="60") Zadnjih 60
                option(value="70") Zadnjih 70
                option(value="100") Zadnjih 100
                option(value="-1") Vsi
          .custom-control.custom-radio.mt-2
            input#radioMonths.custom-control-input(type='radio', name='radioMonthOrLatest')
            label.custom-control-label(for='radioMonths')
              //button#moveLeftMonth.btn.btn-primary.mr-2.mt-n1
                i.fas.fa-chevron-left.fa-lg
              input#selectMonth.w-155px.mr-2(type='month' name='selectMonth' min='' value='')
              //button#moveRightMonth.btn.btn-primary.mt-n1
                i.fas.fa-chevron-right.fa-lg
    //- .mb-2.d-flex
    //-   if (user_type == 'admin' || user_type == 'tajnik' || (user_type.substring(0,5) == 'vodja'))
    //-     .w-150px
    //-       select#absenceCategoryFilter.custom-select.mr-sm-2.form-control.select2-categories(name='absenceCategoryFilter', aria-label="Oddelki")
    //-         label.custom-control-label.sr-only(for='absenceCategoryFilter') Oddelki
    //-   .w-150px.ml-2
    //-     select#absenceStatusFilter.custom-select.mr-sm-2.form-control.select2-status(name='absenceStatusFilter', aria-label="Status")
    //-       label.custom-control-label.sr-only(for='absenceStatusFilter') Status
    //-   if (user_type == 'admin' || user_type == 'tajnik' || (user_type.substring(0,5) == 'vodja'))
    //-     .w-150px.ml-2
    //-       select#absenceUsersFilter.custom-select.mr-sm-2.form-control.select2-users(name='absenceUsersFilter', aria-label="Zaposleni")
    //-         label.custom-control-label.sr-only(for='absenceUsersFilter') Zaposleni
    //-   if (user_type == 'admin' || user_type == 'tajnik')
    //-     .ml-2
    //-       #activityBtnGroup.btn-group.btn-group-toggle.mr-2(data-toggle='buttons')
    //-         label.btn.btn-primary Vse
    //-           input#optionAllActivities(type='radio' value='0' name='absenceActivityOptions' autocomplete='off')
    //-         label.btn.btn-primary Aktivne
    //-           input#optionTrueActivities(type='radio' value='1' name='absenceActivityOptions' autocomplete='off' checked='')
    //-         label.btn.btn-secondary Neaktivne
    //-           input#optionFalseActivities(type='radio' value='2' name='absenceActivityOptions' autocomplete='off')
    //-   .ml-auto.d-flex
    //-     .custom-control.custom-radio.mr-2.mt-2
    //-       input#radioLatest.custom-control-input(type='radio', name='radioMonthOrLatest', checked='')
    //-       label.custom-control-label.d-flex(for='radioLatest')
    //-         select#radioLatestValue.form-control.form-control-sm.ml-1.mt-n1
    //-           option(value="10") Zadnjih 10
    //-           option(value="20", selected) Zadnjih 20
    //-           option(value="30") Zadnjih 30
    //-           option(value="40") Zadnjih 40
    //-           option(value="50") Zadnjih 50
    //-           option(value="60") Zadnjih 60
    //-           option(value="70") Zadnjih 70
    //-           option(value="100") Zadnjih 100
    //-           option(value="-1") Vsi
    //-     .custom-control.custom-radio.mt-2
    //-       input#radioMonths.custom-control-input(type='radio', name='radioMonthOrLatest')
    //-       label.custom-control-label(for='radioMonths')
    //-         //button#moveLeftMonth.btn.btn-primary.mr-2.mt-n1
    //-           i.fas.fa-chevron-left.fa-lg
    //-         input#selectMonth.w-155px.mr-2(type='month' name='selectMonth' min='' value='')
    //-         //button#moveRightMonth.btn.btn-primary.mt-n1
    //-           i.fas.fa-chevron-right.fa-lg
    #absenceCollapse.collapse.show
      #absenceList.list-group.d-flex.ml-3.mr-3
      //- .list-group-item(id='absence1')
        .row
          .col-md-4
            label(id='absenceUser1') Miha Horvat
          .col-md-4
            label(id='absenceRole1') vloga
          .col-md-4
            .d-flex
              h4.ml-auto
                span.badge.badge-pill.badge-secondary(id='absenceStatus1') STATUS
        .row
          .col-md-4
            label(id='absenceDate1') start - finish
          .col-md-4
            label(id='absenceReason1') Razlog
          .col-md-4
            if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik')
              .d-flex(id='absenceControl1')
                button.btn.btn-danger.ml-2.ml-auto
                  i.fas.fa-trash.fa-lg
                button.btn.btn-primary.ml-2
                  i.fas.fa-pen.fa-lg
                button.btn.btn-warning.ml-2
                  i.fas.fa-times.fa-lg
                button.btn.btn-success.ml-2
                  i.fas.fa-check.fa-lg
      //- .list-group-item(id='absence2')
        .row
          .col-md-4
            label(id='absenceUser2') Rok Kovač
          .col-md-4
            label(id='absenceRole2') električar
          .col-md-4
            h4.d-flex
              span.badge.badge-pill.badge-success.ml-auto(id='absenceStatus2') POTRJENO
        .row
          .col-md-4
            label(id='absenceDate2') 20. 8. 2021 - 20. 8. 2021
          .col-md-4
            label(id='absenceReason2') Selitev
          .col-md-4
            if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik')
              .d-flex(id='absenceControl2')
                button.btn.btn-danger.ml-2.ml-auto
                  i.fas.fa-trash.fa-lg
                button.btn.btn-primary.ml-2
                  i.fas.fa-pen.fa-lg
                button.btn.btn-warning.ml-2
                  i.fas.fa-times.fa-lg
      //- .list-group-item(id='absence3')
        .row
          .col-md-4
            label(id='absenceUser3') Marko Čater
          .col-md-4.mt-2
            label(id='absenceRole3') vodja električarjev
          .col-md-4
            h4.d-flex
              span.badge.badge-pill.badge-success.ml-auto(id='absenceStatus3') POTRJENO
        .row
          .col-md-4
            label(id='absenceDate3') 30. 8. 2021 - 10. 9. 2021
          .col-md-4
            label(id='absenceReason3') Dopust
          .col-md-4
            if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik')
              .d-flex(id='absenceControl3')
                button.btn.btn-danger.ml-2.ml-auto
                  i.fas.fa-trash.fa-lg
                button.btn.btn-primary.ml-2
                  i.fas.fa-pen.fa-lg
                button.btn.btn-warning.ml-2
                  i.fas.fa-times.fa-lg
      //- .list-group-item(id='absence4')
        .row
          .col-md-4
            label(id='absenceUser4') Jani Kovačič
          .col-md-4
            label(id='absenceRole4') strojnik
          .col-md-4
            h4.d-flex
              span.badge.badge-pill.badge-warning.ml-auto(id='absenceStatus4') ZAVRNJENO
        .row
          .col-md-4
            label(id='absenceDate4') 27. 8. 2021 - 27. 8. 2021
          .col-md-4
            label(id='absenceReason4') Dopust
          .col-md-4
            if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik')
              .d-flex(id='absenceControl4')
                button.btn.btn-danger.ml-2.ml-auto
                  i.fas.fa-trash.fa-lg
                button.btn.btn-primary.ml-2
                  i.fas.fa-pen.fa-lg
                button.btn.btn-success.ml-2
                  i.fas.fa-check.fa-lg
      //- .list-group-item(id='absence5')
        .row
          .col-md-4
            label(id='absenceUser5') Luka Kranjc
          .col-md-4
            label(id='absenceRole5') varilec
          .col-md-4
            h4.d-flex
              span.badge.badge-pill.badge-success.ml-auto.invisible(id='absenceStatus5') 
        .row
          .col-md-4
            label(id='absenceDate5') 25. 8. 2021 - 27. 8. 2021
          .col-md-4
            label(id='absenceReason5') Dopust
          .col-md-4
            if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik')
              .d-flex(id='absenceControl5')
                button.btn.btn-danger.ml-2.ml-auto
                  i.fas.fa-trash.fa-lg
                button.btn.btn-primary.ml-2
                  i.fas.fa-pen.fa-lg
                button.btn.btn-warning.ml-2
                  i.fas.fa-times.fa-lg
                button.btn.btn-success.ml-2
                  i.fas.fa-check.fa-lg
    #vizCollapse.collapse
      #vizPanel.bg-light
        h5 Vizualizacija odsotnosti
          .row.ml-2.mt-2.mr-2.d-flex
            button#moveLeftAbsencesBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik levo")
              i.fas.fa-chevron-left.fa-lg
            button#homeAbsencesBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Trenutni teden")
              i.fas.fa-home.fa-lg
            button#moveRightAbsencesBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik desno")
              i.fas.fa-chevron-right.fa-lg
            button#dayAbsencesBtn.btn.btn-primary.ml-auto(data-toggle="tooltip", data-original-title="Dan")
              i.fas.fa-calendar-day.fa-lg
            button#weekAbsencesBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Teden")
              i.fas.fa-calendar-week.fa-lg
            button#monthAbsencesBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Mesec")
              i.fas.fa-calendar.fa-lg
            button#lowerFontAbsencesBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Zmanjšaj velikost pisave")
              i.fas.fa-font.fa-lg
              i.fas.fa-long-arrow-alt-down.fa-lg
            button#higherFontAbsencesBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Povečaj velikost pisave")
              i.fas.fa-font.fa-lg
              i.fas.fa-long-arrow-alt-up.fa-lg
            //- button#refreshAbsencesBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Osveži podatke")
              i.fas.fa-sync.fa-lg
        hr
        #absencesVis
    // elements for every other role
  //MODALNO ZA SPOROČILO O NAPAKI
  #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Obvestilo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          row.d-flex
            .mr-auto.w-25
              if (type == 1)
                img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
              else if (type == 2)
                img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
              else
                img#msgImg.img-fluid(src='/info.png', alt='ikona')
            .ml-auto.mt-5
              h5#msg= msg
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
  //MODALNO OKNO ZA BRISANJE ODSOTNOSTI
  #modalDeleteAbsence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold POZOR
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
            h5#deleteModalMsg.text-center Ste prepričani, da želite odstraniti to odsotnost?
            .text-center
              button#btnDeleteAbsence.btn.btn-danger.mb-n2 Odstrani
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO UREDI ODSOTNOST
  #modalEditAbsence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.text-center
        .modal-header
          h4.modal-title.w-100.font-weight-bold Urejanje odsotnosti
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .col-sm-12#messageEditAbsence
          form#editAbsenceform(role='form', method='put')
            if (user_type.toLowerCase() != 'admin' || user_type.toLowerCase() != 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
            .form-group
              label.w-100.display-none(for='editAbsenceName') Ime odsotnosti
                input#editAbsenceName.form-control(type='text', name='editAbsenceName')
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || (user_type.toLowerCase().substring(0,5) == 'vodja' && user_type.toLowerCase() != 'vodja projektov'))
              .form-row
                  .col-md-6
                    .form-group
                      label.w-100(for='editAbsenceUser') Zaposleni
                        select#editAbsenceUser.custom-select.mr-sm-2.form-control.select2-editabsence-users(name='editAbsenceUser', required='', disabled)
                  .col-md-6
                    .form-group
                      label.w-100(for='editAbsenceReason') Razlog
                        select#editAbsenceReason.custom-select.mr-sm-2.form-control.select2-reasons(name='editAbsenceReason', required='')
            else
              .form-group
                label.w-100(for='editAbsenceReason') Razlog
                  select#editAbsenceReason.custom-select.mr-sm-2.form-control.select2-reasons(name='editAbsenceReason', required='')
            .form-row
              .col-md-6
                .form-group
                  label.w-100(for='editAbsenceStart') Začetek odsotnosti (vključno)
                    input#editAbsenceStart.form-control(type='date', name='editAbsenceStart', required='')
              .col-md-6
                .form-group
                  label.w-100(for='editAbsenceFinish') Konec odsotnosti (vključno)
                    input#editAbsenceFinish.form-control(type='date', name='editAbsenceFinish', required='')
            .form-row
              .col-md-12
                .form-group
                  label.w-100(for='editAbsencePendingNote') Opomba (Po potrebi)
                    textarea#editAbsencePendingNote.form-control(name='editAbsencePendingNote', rows='3')
            button#editAbsenceBtn.btn.btn-success(type='submit') Posodobi
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO DODAJ ODSOTNOST
  #modalAddAbsence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.text-center
        .modal-header
          h4.modal-title.w-100.font-weight-bold Nova odsotnost
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .col-sm-12#messageAddAbsence
          form#addAbsenceform(role='form', method='post')
            if (user_type.toLowerCase() != 'admin' || user_type.toLowerCase() != 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
            .form-group
              label.w-100.display-none(for='addAbsenceName') Ime odsotnosti
                input#addAbsenceName.form-control(type='text', name='addAbsenceName')
            .form-row
              .col-md-6
                .form-group
                  label.w-100(for='addAbsenceUser') Zaposleni
                    select#addAbsenceUser.custom-select.mr-sm-2.form-control.select2-addabsence-users(name='addAbsenceUser', required='')
              .col-md-6
                .form-group
                  label.w-100(for='addAbsenceReason') Razlog
                    select#addAbsenceReason.custom-select.mr-sm-2.form-control.select2-reasons(name='addAbsenceReason', required='')
            .form-row
              .col-md-6
                .form-group
                  label.w-100(for='addAbsenceStart') Začetek odsotnosti (vključno)
                    input#addAbsenceStart.form-control(type='date', name='addAbsenceStart', required='')
              .col-md-6
                .form-group
                  label.w-100(for='addAbsenceFinish') Konec odsotnosti (vključno)
                    input#addAbsenceFinish.form-control(type='date', name='addAbsenceFinish', required='')
            .form-group
              label.w-100(for='addAbsenceStatus') Status
                select#addAbsenceStatus.custom-select.mr-sm-2.form-control.select2-approve-status(name='addAbsenceStatus')
                  option(value=-1, selected) Brez statusa
                  option(value=0) Zavrnjeno
                  option(value=1) Odobreno
            .form-row
              .col-md-12
                .form-group
                  label.w-100(for='addAbsencePendingNote') Opomba (Po potrebi)
                    textarea#addAbsencePendingNote.form-control(name='addAbsencePendingNote', rows='3')
            button#addNewAbsenceBtn.btn.btn-success(type='submit') Dodaj
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO ZA IZBIRO NADREJENEGA ZA VLOGE
  #modalEditSupervisor.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.text-center
        .modal-header
          h4.modal-title.w-100.font-weight-bold Uredi odgovorne osebe za vlogo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#editSupervisorForm(role='form', method='put')
            .form-row
              .col-md-6
                .form-group
                  label.w-100(for='editSupervisorsRoles') Vloga
                    select#editSupervisorsRoles.custom-select.mr-sm-2.form-control.select2-supervisors-roles(name='editSupervisorsRoles', required='')
              .col-md-6
                .form-group
                  label.w-100(for='editSupervisorsUsers') Odgovorne osebe
                    select#editSupervisorsUsers.custom-select.mr-sm-2.form-control.select2-supervisors(name='editSupervisorsUsers')
            button#editSupervisorBtn.btn.btn-success(type='submit') Posodobi
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  // MODALNO OKNO ZA ZAVRNITEV ODSOTNOSTI
  #modalRejectAbsence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalForRejectAbsenceConfirm', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold POZOR
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
            h5#rejectModalMsg.text-center Ste prepričani, da želite zavrniti to odsotnost?
            // note for rejecting absence
            .form-group
              label.w-100(for='absenceResolveNote') Opomba
                textarea#absenceResolveNote.form-control(name='absenceResolveNote', rows='3')
            .text-center
              button#btnCnfRejectAbsence.btn.btn-success.mb-n2 Potrdi zavrnitev
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //script(type='text/javascript', src='../javascripts/absences/absencesnew.js', async)
  script(type='text/javascript', src='../javascripts/absences/absences.min.js', defer)