doctype html
html(lang='sl')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', async)
    link(rel='stylesheet', href='/bootstrap/css/sandstone.bootstrap.min.css', async)
    link(rel='stylesheet', href='/stylesheets/style.min.css', async)
    script(type='text/javascript', src='../javascripts/jquery-3.4.1.min.js')
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
  body
    .container
      .row
        .col-md-6.offset-md-3
          form(method='POST')
            .form-group
              label(for='username') Username
                span.text-danger *
              input#username.form-control(name='username', type='text', value='admin')
            .form-group
              label(for='password') Password
                span.text-danger *
              input#password.form-control(name='password', type='text', value='admin')
            .text-center
              button.btn.btn-primary(type='submit') Login