extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)

block content-fluid
  .page-header
    .row.justify-content-start
      .col-lg-6
        h1 Načrtovanje projekta - koledar
  br
  .row.calendar
    .col-md-10.border.border-dark.calendar-body
      h5 Koledar
        .row
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 25. 11.
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Montaža nove opreme
                  p.card-text 
                  | Elektro: Janez, Miha
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Drugo opravilo
                  p.card-text 
                  | Elektro: Jan, Črt
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 26. 11.
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Montaža nove opreme
                  p.card-text 
                  | Elektro: Janez, Miha
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 27. 11.
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Montaža nove opreme
                  p.card-text 
                  | Elektro: Janez, Miha
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 28. 11.
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Montaža nove opreme
                  p.card-text 
                  | Elektro: Janez, Miha
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 29. 11.
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Montaža nove opreme
                  p.card-text 
                  | Elektro: Janez, Miha
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 30. 11.
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Montaža nove opreme
                  p.card-text 
                  | Elektro: Janez, Miha
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 1. 12.
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Montaža nove opreme
                  p.card-text 
                  | Elektro: Janez, Miha
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
        .row
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 2. 12.
            .calendar-day-body
              .card.border-primary
                .card-body.p-1
                  h5.card-title ROBOTEH Montaža nove opreme
                  p.card-text 
                  | Elektro: Janez, Miha
                  br
                  | Strojna: Luka, Jože
                  h6.card-subtitle.mb-2.text-muted Prenočitev za 5 oseb
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 3. 12.
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 4. 12.
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 5. 12.
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 6. 12.
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 7. 12.
          .col.border.border-dark.calendar-day
            .row
              h5.text-center.border.border-dark.mb-0(style="width:100%;") 8. 12.
        .row
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-09")', id='day-2019-12-09')
            .card-header(style="width:100%;") 9. 12.
            .card-body.p-1.hidden-scroll
              .card.border-assembly.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-assembly', aria-expanded='true', aria-controls='collapse-assembly', style="text-decoration:none;color:inherit;")
                   | Montaža nove opreme
                #collapse-assembly.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Elektro: Janez, Miha
                      br
                      | Strojna: Luka, Jože
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
              .card.border-programming.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-programming', aria-expanded='true', aria-controls='collapse-programming', style="text-decoration:none;color:inherit;", onclick="toggleTask()")
                   | Programiranje
                #collapse-programming.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | PLC: Jože, Mirko
                      br
                      | Robot: Andrej
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-10")', id='day-2019-12-10')
            .card-header(style="width:100%;") 10. 12.
            .card-body.p-1.hidden-scroll
              .card.border-assembly.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-assembly', aria-expanded='true', aria-controls='collapse-assembly', style="text-decoration:none;color:inherit;")
                   | Montaža nove opreme
                #collapse-assembly.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Elektro: Janez, Miha
                      br
                      | Strojna: Luka, Jože
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
              .card.border-programming.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-programming', aria-expanded='true', aria-controls='collapse-programming', style="text-decoration:none;color:inherit;", onclick="toggleTask()")
                   | Programiranje
                #collapse-programming.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | PLC: Jože, Mirko
                      br
                      | Robot: Andrej
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
              .card.border-mechanic.mb-1(style="width:100%;")
                .card-header.p-1 
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-strojna', aria-expanded='true', aria-controls='collapse-strojna', style="text-decoration:none;color:inherit;")
                   | Strojno opravilo
                #collapse-strojna.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Strojna: Beno, Ciril
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-11")', id='day-2019-12-11')
            .card-header(style="width:100%;") 11. 12.
            .card-body.p-1.hidden-scroll
              .card.border-assembly.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-assembly', aria-expanded='true', aria-controls='collapse-assembly', style="text-decoration:none;color:inherit;")
                   | Montaža nove opreme
                #collapse-assembly.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Elektro: Janez, Miha
                      br
                      | Strojna: Luka, Jože
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
              .card.border-mechanic.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-strojna', aria-expanded='true', aria-controls='collapse-strojna', style="text-decoration:none;color:inherit;")
                   | Strojno opravilo
                #collapse-strojna.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Strojna: Beno, Ciril
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-12")', id='day-2019-12-12')
            .card-header(style="width:100%;") 12. 12.
            .card-body.p-1.hidden-scroll
              .card.border-assembly.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-assembly', aria-expanded='true', aria-controls='collapse-assembly', style="text-decoration:none;color:inherit;")
                   | Montaža nove opreme
                #collapse-assembly.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Elektro: Janez, Miha
                      br
                      | Strojna: Luka, Jože
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
              .card.border-mechanic.mb-1(style="width:100%;")
                .card-header.p-1 
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-strojna', aria-expanded='true', aria-controls='collapse-strojna', style="text-decoration:none;color:inherit;")
                    | Strojno opravilo
                #collapse-strojna.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Strojna: Beno, Ciril
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-13")', id='day-2019-12-13')
            .card-header(style="width:100%;") 13. 12.
            .card-body.p-1.hidden-scroll
              .card.border-assembly.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-assembly', aria-expanded='true', aria-controls='collapse-assembly', style="text-decoration:none;color:inherit;")
                   | Montaža nove opreme
                #collapse-assembly.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Elektro: Janez, Miha
                      br
                      | Strojna: Luka, Jože
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
              .card.border-mechanic.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-strojna', aria-expanded='true', aria-controls='collapse-strojna', style="text-decoration:none;color:inherit;")
                   | Strojno opravilo
                #collapse-strojna.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Strojna: Beno, Ciril
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-14")', id='day-2019-12-14')
            .card-header(style="width:100%;") 14. 12.
            .card-body.p-1.hidden-scroll
              .card.border-assembly.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-assembly', aria-expanded='true', aria-controls='collapse-assembly', style="text-decoration:none;color:inherit;")
                   | Montaža nove opreme
                #collapse-assembly.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Elektro: Janez, Miha
                      br
                      | Strojna: Luka, Jože
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-15")', id='day-2019-12-15')
            .card-header(style="width:100%;") 15. 12.
            .card-body.p-1.hidden-scroll
              .card.border-assembly.mb-1(style="width:100%;")
                .card-header.p-1
                  a#heading-collapsed.collapsed.d-block(data-toggle='collapse', href='#collapse-assembly', aria-expanded='true', aria-controls='collapse-assembly', style="text-decoration:none;color:inherit;")
                   | Montaža nove opreme
                #collapse-assembly.collapse.show(aria-labelledby='heading-collapsed')
                  .card-body.p-1
                    p.card-text
                      | Elektro: Janez, Miha
                      br
                      | Strojna: Luka, Jože
                    h6.card-subtitle.mb-1.text-muted Prenočitev za 5 oseb
        .row
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-16")', id='day-2019-12-16')
            .card-header(style="width:100%;") 16. 12.
            .card-body.p-1.hidden-scroll
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-17")', id='day-2019-12-17')
            .card-header(style="width:100%;") 17. 12.
            .card-body.p-1.hidden-scroll
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-18")', id='day-2019-12-18')
            .card-header(style="width:100%;") 18. 12.
            .card-body.p-1.hidden-scroll
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-19")', id='day-2019-12-19')
            .card-header(style="width:100%;") 19. 12.
            .card-body.p-1.hidden-scroll
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-20")', id='day-2019-12-20')
            .card-header(style="width:100%;") 20. 12.
            .card-body.p-1.hidden-scroll
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-21")', id='day-2019-12-21')
            .card-header(style="width:100%;") 21. 12.
            .card-body.p-1.hidden-scroll
          .col.calendar-day.card.border-dark.p-0(onclick='toggleSelectedDay("day-2019-12-22")', id='day-2019-12-22')
            .card-header(style="width:100%;") 22. 12.
            .card-body.p-1.hidden-scroll
    .col-md-2.border.border-dark
      h5 Kontrola + Delavci
      .row.border.border-dark.calendar-control
        label.w-100 Začetek:
        label Konec:
      .row.border.border-dark.calendar-workers
        ul.list-group.text-center(style="width:100%;")
          li.list-group-item.d-flex.justify-content-between.align-items-center.calendar-worker-builder.active(onclick='toggleWorker("worker1")', id='worker1') Janez Novak
          li.list-group-item.d-flex.justify-content-between.align-items-center.calendar-worker-mechanic(onclick='toggleWorker("worker2")', id='worker2') Jan Smole
          li.list-group-item.d-flex.justify-content-between.align-items-center.calendar-worker-plc(onclick='toggleWorker("worker3")', id='worker3') Ana Pevec
  table#projectsTable.display.table.table-hover.table-light(style='width:100%')
    //p= JSON.stringify(projects)
  //script(type='text/javascript', src='../javascripts/calendar/calendar.js')
  script(type='text/javascript', src='../javascripts/project/projects.min.js', async)
  //script(type='text/javascript', src='../javascripts/project/projects.js', async)