extends layout

block skripte
  //- povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)
  //- mobiscroll calendar
  link(href='/mobiscroll.custom/css/mobiscroll.javascript.min.css' rel='stylesheet')
  script(src='/mobiscroll.custom/js/mobiscroll.javascript.min.js')
  //- moment
  script(src='/moment/moment.min.js')
  script(src='/moment/sl.min.js')
  //- moment timezone
  script(src='/moment/moment-timezone.min.js')
  script(src='/moment/moment-timezone-utils.min.js')
block content-fluid
  #calendarOverview.tui-calendar
  #work-order-popup
    #myTabContent.tab-content
      #eventPopup.tab-pane.fade.show.active
        .mbsc-form-group.mt-n1
          label
            | Naročnik/Lokacija
            input#work-order-title(mbsc-input='')
          label
            | Projekt
            input#work-order-location(mbsc-input='')
          label
            | Opravilo
            textarea#work-order-notes(mbsc-textarea='')
          label.mt-n4
            | Ves dan
            input#event-all-day(mbsc-switch='' type='checkbox')
          .form-row.mt-n2.mx-1
            .col-md-6
              .form-group
                label.w-90.ml-3(for='workOrderStart') Začetek
                  input#workOrderStart.form-control(type='datetime-local', name='workOrderStart')
            .col-md-6
              .form-group
                label.w-90.mr-1(for='workOrderEnd') Konec
                  input#workOrderEnd.form-control(type='datetime-local', name='workOrderEnd')
          #event-color-picker.event-color-c.mt-n1
            .event-color-label Barva
            #event-color-cont
              #event-color.event-color
        .form-row.mx-1
            .col-md-12
              .form-group
                label.w-95.ml-2(for='eventWorkers') Zadolženi
                  select#eventWorkers.custom-select.mr-sm-2.form-control.select2-workers.w-100(name='worker')
                  .invalid-feedback Za dodajanje novega dogodka je potrebno dodeliti vsaj enega uporabnika!
        //- #work-order-resources.mbsc-form-group
        .mbsc-button-group
          button#work-order-unvalid.mbsc-button-block(mbsc-button='' data-color='warning' data-variant='outline') Označi kot neveljavno
        .mbsc-button-group
          button#work-order-delete.mbsc-button-block(mbsc-button='' data-color='danger' data-variant='outline') Odstrani dogodek
      #taskPopup.tab-pane.fade
        .mbsc-form-group.mt-n1
          .form-row.mt-2.mx-1
            .col-md-12
              .form-group
                label.w-95.ml-2(for='taskProject') Projekt
                  select#taskProject.custom-select.mr-sm-2.form-control.select2-project.w-100.overflow-visible(name='project')
                  .invalid-feedback Za dodajanje novega opravila je potrebno izbrati projekt na katerega se nanaša!
          .form-row.mx-1
            .col-md-12
              .form-group
                label#taskNameLabel.w-95.ml-2(for='taskName') Ime opravila
                  input#taskName.form-control(type='text', name='taskName', required='')
                  .invalid-feedback Za dodajanje novega opravila je potrebno vnesti ime opravila!
          .form-row.mt-n2.mx-1
            .col-md-6
              .form-group
                label.w-90.ml-3(for='taskStart') Začetek
                  input#taskStart.form-control(type='date', name='taskStart')
                  .invalid-feedback Manjka začetek
            .col-md-6
              .form-group
                label.w-90.mr-1(for='taskFinish') Konec
                  input#taskFinish.form-control(type='date', name='taskFinish')
                  .invalid-feedback Manjka konec
          .form-row.mx-1
            .col-md-12
              .form-group
                label.w-95.ml-2(for='taskCategory') Kategorija
                  select#taskCategory.custom-select.mr-sm-2.form-control.select2-category.w-100(name='category')
          .form-row.mx-1
            .col-md-12
              .form-group
                label.w-95.ml-2(for='taskWorkers') Zadolženi
                  select#taskWorkers.custom-select.mr-sm-2.form-control.select2-workers.w-100(name='worker')
                  .invalid-feedback Za dodajanje novega opravila je potrebno dodeliti vsaj enega uporabnika!
          .form-row.mx-1
            .col-md-12
              .form-group
                label#taskNoteAddLabel.w-95.ml-2(for='taskNote') Komentar
                  input#taskNote.form-control(type='text', name='taskNote', required='')
          .mbsc-button-group
            button#task-delete.mbsc-button-block(mbsc-button='' data-color='danger' data-variant='outline') Odstrani opravilo
      #absencePopup.tab-pane.fade.disabled
        .mbsc-form-group.mt-n1
          .form-row.mx-1.mt-2
            .col-md-12
              .form-group
                label#absenceNameLabel.w-95.ml-2(for='absenceName') Ime odsotnosti
                  input#absenceName.form-control(type='text', name='absenceName', required='')
                  .invalid-feedback Za dodajanje nove odsotnosti je potrebno vnesti ime odsotnosti!
          .form-row.mt-2.mx-1.mt-n2
            .col-md-6
              .form-group
                label.w-95.ml-2(for='absenceType') Razlog/Tip
                  select#absenceType.custom-select.mr-sm-2.form-control.select2-reasons.w-100(name='absenceType')
                  .invalid-feedback Za dodajanje nove odsotnosti je potrebno izbrati razlog odsotnosti!
            .col-md-6
              .form-group
                label.w-95.ml-n2(for='absenceWorker') Odsoten
                  select#absenceWorker.custom-select.mr-sm-2.form-control.select2-workers.w-100(name='worker')
                  .invalid-feedback Za dodajanje nove odsotnosti je potrebno dodeliti uporabnika!
          .form-row.mt-n2.mx-1
            .col-md-6
              .form-group
                label.w-95.ml-2(for='absenceStart') Začetek
                  input#absenceStart.form-control(type='date', name='absenceStart')
            .col-md-6
              .form-group
                label.w-95.ml-n2(for='absenceFinish') Konec
                  input#absenceFinish.form-control(type='date', name='absenceFinish')
          .form-row.mt-n2.mx-1
            .col-md-12
              .form-group
                label#absenceNoteAddLabel.w-95.ml-2(for='absenceNote') Komentar
                  input#absenceNote.form-control(type='text', name='absenceNote', required='')
          .form-row.mt-n2.mx-1
            .col-md-12
              .form-group
                label#absenceStatusAddLabel.w-95.ml-2(for='absenceStatus') Status
                  select#absenceStatus.custom-select.mr-sm-2.form-control.select2-absence-status.w-100(name='absenceStatus')
          .mbsc-button-group
            button#absence-delete.mbsc-button-block(mbsc-button='' data-color='danger' data-variant='outline') Odstrani odsotnost
  #demo-event-color
    .crud-color-row
      .crud-color-c(data-value='#ffeb3c')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.rumena-ozadje
      .crud-color-c(data-value='#ff9900')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.oranzna-ozadje
      .crud-color-c(data-value='#f44437')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.oranzna-rdeca-ozadje
      .crud-color-c(data-value='#ea1e63')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.crimson-ozadje
      .crud-color-c(data-value='#9c26b0')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.darkmagenta-ozadje
    .crud-color-row
      .crud-color-c(data-value='#3f51b5')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.mediumblue-ozadje
      .crud-color-c(data-value='#5ac8fa')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.deepskyblue-ozadje
      .crud-color-c(data-value='#009788')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.seagreen-ozadje
      .crud-color-c(data-value='#4baf4f')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.limegreen-ozadje
      .crud-color-c(data-value='#7e5d4e')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.saddlebrown-ozadje
    .crud-color-row
      .crud-color-c(data-value='#1a73e8')
        .crud-color.mbsc-icon.mbsc-font-icon.mbsc-icon-material-check.royalblue-ozadje
  #custom-event-tooltip-popup.md-tooltip
    #tooltip-event-header.md-tooltip-header.d-flex
      span#tooltip-event-location.md-tooltip-name-age
      span#tooltip-event-time.md-tooltip-time.text-nowrap.ml-auto
    .md-tooltip-info.mobiscroll-tooltip-height
      .md-tooltip-title
        span#tooltip-title Lokacija: 
        span#tooltip-event-title.md-tooltip-status.md-tooltip-text
      .md-tooltip-title
        span#tooltip-notes Opravilo: 
        span#tooltip-event-notes.md-tooltip-reason.md-tooltip-text
      .md-tooltip-title
        span#tooltip-users Zadolženi: 
        span#tooltip-event-users.md-tooltip-location.md-tooltip-text
      .md-tooltip-title
        span#tooltip-owner Avtor: 
        span#tooltip-event-owner.md-tooltip-location.md-tooltip-text
        //- button#tooltip-changes-button.btn.btn-outline-dark.ml-2.btn-sm(type='button')
          i.fas.fa-history.fa-lg
      span#tooltipButtonsRow.md-tooltip-text
        .md-tooltip-text(id="tooltipButtonRow").d-flex
            .custom-control.custom-checkbox.table-custom-checkbox.mt-1(id="tooltip-event-checkbox")
              input.custom-control-input(id="custom-task-check" type="checkbox")
              label.custom-control-label(for="custom-task-check")
            button.btn.btn-outline-dark.ml-2.btn-sm(id="tooltip-changes-button" type="button")
              i.fas.fa-history.fa-lg
            button.btn.btn-danger.ml-2(id="tooltip-event-delete" data-toggle="tooltip" data-original-title="Odstrani")
              i.fas.fa-trash.fa-lg
            button.btn.btn-info.ml-1(id="tooltip-event-subtasks" data-toggle="tooltip" data-original-title="Naloge")
              i.fas.fa-check-square.fa-lg.text-dark
            button.btn.btn-success.ml-1(id="tooltip-event-buildparts" data-toggle="tooltip" data-original-title="Kosovnica")
              i.fas.fa-pencil-ruler.fa-lg.text-dark
            a.btn.btn-warning.ml-1(id="tooltip-event-shortcut" data-toggle="tooltip" data-original-title="Bljiznica")
              i.fas.fa-share.fa-lg.text-dark
            .progress.ml-2.w-80.mt-2.mr-2
              .progress-bar.w-73(id="tooltip-event-progress")
      div#tooltipSubtasks.list-group.d-flex.mr-2.mt-1
      div#tooltipBuildparts.list-group.d-flex.mr-2.mt-1
      span#tooltipHistory.md-tooltip-text
      //- button#tooltip-event-view.md-tooltip-view-button(mbsc-button='' data-color='secondary') View patient file
      //- button#tooltip-event-delete.md-tooltip-delete-button(mbsc-button='' data-color='danger' data-variant='outline') Delete appointment
  //MODALNO ZA KONFLIKTE
  #modalConflicts.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Konflikti
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        #conflictsBody.modal-body.fixed-modal-body
        .modal-footer.d-flex.justify-content-center
          button#addTaskBtnOR.btn.btn-success Vseeno dodaj opravilo
  //MODALNO ZA UREJANJE KONFLIKTOV
  #modalEditConflicts.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Konflikti
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        #editConflictsBody.modal-body.fixed-modal-body
        .modal-footer.d-flex.justify-content-center
          button#editTaskBtnOR.btn.btn-success Vseeno posodobi opravilo
  //MODALNO ZA UREJANJE KONFLIKTOV PRI DRAG&DROP
  #modalDragConflicts.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Konflikti
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span#closeDragModal(aria-hidden='true') &times;
        #editDragConflictsBody.modal-body.fixed-modal-body
        .modal-footer.d-flex.justify-content-center
          button#dragTaskBtnOR.btn.btn-success Vseeno posodobi opravilo
  //MODALNO ZA FILTRIRANJE ZAPOSLENIH
  #modalFilterResources.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        //- .modal-header
          h4.modal-title.w-100.font-weight-bold Filtriraj
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span#closeFilterModal(aria-hidden='true') &times;
        .modal-body.fixed-modal-body
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              a.nav-link.active(data-toggle='tab', href='#filterResourcesBody', role='tab') Filtriraj zaposlene
            li.nav-item
              a.nav-link(data-toggle='tab', href='#filterTasksBody', role='tab') Filtriraj kategorijo opravil
          #myTabContent.tab-content
            #filterResourcesBody.tab-pane.fade.show.active(role='tabpanel')
            #filterTasksBody.tab-pane.fade(role='tabpanel')
        .modal-footer.d-flex.justify-content-center
          button#filterResourcesBtn.btn.btn-success Filtriraj
  script(type='text/javascript', src='../javascripts/calendar/mobiscroll.min.js')