extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)
block content-fluid
  .page-header.mt-n3
    .d-flex.justify-content-between
      .krneki
        label#dateInputLabel.w-200px(for='dateInput') Spremeni datum
          input#dateInput.form-control(type='date', name='dateInput')
        label.ml-2.w-200px(for='projectSelect') Izberi projekt
          select#projectSelect.custom-select.mr-sm-2.form-control.select2-projects.select2-choices.w-100(name='projectSelect', disabled=disabled)
        a#mobiscroll.btn.btn-primary.ml-2(href='/calendar/mobiscroll') Nova stran
      .mt-3
        button#prevWeekBtn.btn.btn-primary.mr-2
          i.fas.fa-chevron-left.fa-lg
        label#dateLabel.h2.mr-2 15. 4. 2019 - 28. 4. 2019
        button#nextWeekBtn.btn.btn-primary
          i.fas.fa-chevron-right.fa-lg
      .mt-3
        .custom-control.custom-switch.ml-2.mt-2
          button#fullScreenBtn.btn.btn-primary.ml-auto.mr-2
            i.fas.fa-expand-arrows-alt.fa-lg
          .btn-group.btn-group-toggle.mr-5.mt-n1(data-toggle='buttons')
            input#weekCount.form-control.text-center.w-60px(type='number', name='weekCount', value='2', min='1', max='99')
            label#optionWeek.btn.btn-primary.active
              input(type='radio', name='options', autocomplete='off', checked='')
              |  Teden
            label#optionMonth.btn.btn-primary
              input#optionMonth(type='radio', name='options', autocomplete='off')
              |  Mesec
          input#customSwitch1.custom-control-input(type='checkbox', checked='')
          label.custom-control-label.mt-3(for='customSwitch1') samo nekončana
          button#resetInputBtn.btn.btn-primary.ml-2
            i.fas.fa-sync-alt.fa-lg
  .row.calendar.mb-n1
    .col-md-10.calendar-body(id='calendar')
    .col-md-2
      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase().substring(0,4) == 'info')
        #scrollList.row.border.border-dark.calendar-day-overview.hidden-scroll
          ul#expiredList.list-group.bg-white.w-100
        .row.border.border-dark.calendar-day-overview.hidden-scroll
          ul#workersList.list-group.text-center.w-100
            each user in users
              if ((user.role.toLowerCase() == 'konstrukter' || user.role.toLowerCase() == 'konstruktor') && user_type.toLowerCase() != 'info')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-builder(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase() == 'strojnik')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-mechanic(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase() == 'cnc' || user.role.toLowerCase() == 'cnc operater')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-mechanic(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase() == 'električar')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-electrican(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase() == 'programer plc-jev')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-plc(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase() == 'programer robotov')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-robot(id='worker'+user.id)= user.name+' '+user.surname
              else if ((user.role.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo') && user_type.toLowerCase() != 'info')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-tajnik(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase().substring(0,5) == 'vodja' && user_type.toLowerCase() != 'info')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-leader(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase() == 'admin' && user_type.toLowerCase() != 'info')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-admin(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase() == 'delavec')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-worker(id='worker'+user.id)= user.name+' '+user.surname
              else if (user.role.toLowerCase() == 'študent')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-worker(id='worker'+user.id)= user.name+' '+user.surname
              else if (user_type.toLowerCase() == 'none')
                li.list-group-item.list-group-item-linkable.d-flex.justify-content-between.align-items-center.calendar-worker-info(id='worker'+user.id)= user.name+' '+user.surname
      else
        .row.border.border-dark.calendar-day-overview.hidden-scroll
          ul#workersList.list-group.w-100
        #scrollList.row.border.border-dark.calendar-day-overview.hidden-scroll
          ul#expiredList.list-group.bg-white.w-100
  table#projectsTable.display.table.table-hover.table-light.w-100
  #legend.row
  //MODALNO OKNO ZA POGOVOR
  #modalNotes.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Sporočila
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        #messagesBody.modal-body.message-modal-body.mx-3
        .modal-footer.justify-content-center
          .d-flex.w-100
            input#newMessage.form-control.p-1.mr-auto(placeholder='', type='text', name='subtaskInput', autocomplete='off', data-toggle="popover", data-content="", data-placement="top")
            .input-group-append
              button#newMessageBtn.btn.btn-success
                i.fas.fa-angle-double-right.fa-lg
  //MODALNO OKNO ZA OPOZORILO POVEZAVE Z DELOVNIMI NALOGI
  #modalWarningWO.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold Nekončana storitev
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .row
            .col-4
              img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
            .col-8.mt-3
              h5#warningWoMsg.text-center
              | Storitev nima povezanega delovnega naloga!
              | Ko se poveže delovni nalog s storitvijo se bo lahko storitev zaključila.
          .text-center
            a.btn.btn-primary(href='/workorders') Pojdi na delovne naloge
          if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
            hr
            .row
              .col-12.mt-3
                h5.text-center V primeru, da ima storitev delovni nalog v papirnati obliki:
            .text-center
              button#btnOverrideSubtask.btn.btn-success.mb-n2 Končaj storitev
              button#btnOverrideTask.btn.btn-success.mb-n2 Končaj storitev
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  if (user_type.toLowerCase() == 'info')
    //script(type='text/javascript', src='../javascripts/calendar/info.js')
    script(type='text/javascript', src='../javascripts/calendar/info.min.js')
  else
    //script(type='text/javascript', src='../javascripts/calendar/overview.js')
    //script(type='text/javascript', src='../javascripts/calendar/tasks.js', async)
    //script(type='text/javascript', src='../javascripts/calendar/subtasks.js', async)
    //script(type='text/javascript', src='../javascripts/messages/messages.js', async)
    script(type='text/javascript', src='../javascripts/calendar/overview.min.js')