extends layout

block skripte
  //- mobiscroll calendar
  link(href='/mobiscroll.custom/css/mobiscroll.javascript.min.css' rel='stylesheet')
  script(src='/mobiscroll.custom/js/mobiscroll.javascript.min.js')
  //- moment
  script(src='/moment/moment.min.js')
  script(src='/moment/sl.min.js')
  //- moment timezone
  script(src='/moment/moment-timezone.min.js')
  script(src='/moment/moment-timezone-utils.min.js')
  //- select2
  link(href='/select2/select2.min.css', rel='stylesheet')
  script(src='/select2/select2.min.js')
block content-fluid
  #carReservationCalendar.tui-calendar.md-meal-planner-calendar.md-timeline-height
  #custom-event-tooltip-popup.md-tooltip
    #tooltip-event-header.md-tooltip-header
      span#tooltip-event-title.md-tooltip-name-age
      span#tooltip-event-additional-title.md-tooltip-time
    .md-tooltip-info
      .d-flex.mb-2 Lokacija:
        input#tooltip-location.form-control.ml-2(type='text' name='tooltip-location')
        button#save-location-button.btn.btn-info.ml-2
          i.fas.fa-save.fa-lg
      .d-none Ključi:  
        span#tooltip-event-keys.md-tooltip-reason.md-tooltip-text.ml-2
        .custom-control.custom-switch.ml-auto.mt-2
          input#has-keys-switch.custom-control-input(type='checkbox')
          label.custom-control-label(for='has-keys-switch')
      //- .d-flex.mb-2 // was d-flex and now is d-none because this feature is not used
      .d-none.mb-2
        | Status: 
        span#tooltip-event-status.md-tooltip-location.md-tooltip-text.ml-2
        button#status-button.btn.btn-warning.ml-auto
      .d-flex
        label.mr-2 Rezerviral:
        select#tooltip-reservation-select.custom-select.ml-2.users-select
      .md-tooltip-title
        | Avtor rezervacije: 
        span#tooltip-event-owner.md-tooltip-location.md-tooltip-text
      .mbsc-button-group
        button#tooltip-event-delete.mbsc-button-block(mbsc-button='' data-color='danger' data-variant='outline') Odstrani rezervacijo
  //MODALNO OKNO DODAJ VOZILO
  #modalAddCarForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold Dodaj vozilo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .col-sm-12#messageAdd
          form#addCarform(role='form', method='post')
            .form-row
              .col-md-6
                .form-group
                  label.w-100(for='manufacturerInput') Proizvajalec*
                    input#manufacturerInput.form-control(type='text', name='manufacturerInput', required)
              .col-md-6
                .form-group
                  label.w-100(for='modelInput') Model*
                    input#modelInput.form-control(type='text', name='modelInput', required)
            .form-row
              .col-md-6
                .form-group
                  label.w-100(for='yearInput') Letnik*
                    input#yearInput.form-control(type='number', name='yearInput', required)
              .col-md-6
                .form-group
                  label.w-100(for='plateInput') Registerska številka*
                    input#plateInput.form-control(type='text', name='plateInput', required)
              .form-row
              .col-md-6
                .form-group
                  label.w-100(for='registrationExpirationInput') Potek registracije
                    input#registrationExpirationInput.form-control(type='date', name='registrationExpirationInput')
              .col-md-6
                .form-group
                  label.w-100(for='vignetteExpirationInput') Potek vinjete
                    input#vignetteExpirationInput.form-control(type='date', name='vignetteExpirationInput')
            .row.justify-content-center
              .col-md-6
                .form-group
                  label.w-100(for='departmentInput') Oddelek
                    select#departmentInput.custom-select.ml-2.select-department
            .text-center
              button#btnAddCar.btn.btn-success(type='submit') Dodaj
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO UREJAJ VOZILO
  #modalEditCar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header.text-center
          h4#editCarHeader.modal-title.w-100.font-weight-bold Izbrano vozilo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .row
            .col-4
              img.card-img-top.rounded.mx-auto.d-block(src='/skodaFront128.png', alt='Slika vozil')
            .col-8
              .row
                .col-6
                  .form-group
                    label(for='carManufacturerInput') Proizvajalec
                    input#carManufacturerInput.form-control(type='text' aria-describedby='carManufacturer' placeholder='Proizvajalec' disabled='')
                .col-6
                  .form-group
                    label(for='carModelInput') Model
                    input#carModelInput.form-control(type='text' aria-describedby='carModel' placeholder='Model' disabled='')
              .row
                .col-6
                  .form-group
                    label(for='carYearInput') Letnik
                    input#carYearInput.form-control(type='number' aria-describedby='carYear' placeholder='Letnik' disabled='')
                .col-6
                  .form-group
                    label(for='carPlateInput') Registerska tablica
                    input#carPlateInput.form-control(type='text' aria-describedby='carPlate' placeholder='Registerska tablica' disabled='')
              .row
                .col-6
                  .form-group
                    label(for='carRegistrationExpirationInput') Potek registracije
                    input#carRegistrationExpirationInput.form-control(type='date' aria-describedby='carRegistrationExpiration' placeholder='Potek registracije' disabled='')
                .col-6
                  .form-group
                    label(for='carVignetteExpirationInput') Potek vinjete
                    input#carVignetteExpirationInput.form-control(type='date' aria-describedby='carVignetteExpiration' placeholder='Potek vinjete' disabled='')
              #carDepartmentRow.row.justify-content-center.d-none
                .col-md-6
                  .form-group
                    label.w-100(for='carDepartmentInput') Oddelek
                      select#carDepartmentInput.custom-select.ml-2.select-department-edit
              .row.d-none
                .col-12.d-flex.justify-content-center
                  button#malfunctionToggleButton.btn.ml-3
                    i.fas.fa-exclamation-triangle.fa-3x
                  button#maintenanceToggleButton.btn.ml-3
                    i.fas.fa-wrench.fa-3x
                  button#wheelsToggleButton.btn.ml-3
                    i.fas.fa-dot-circle.fa-3x
                  button#inspectionToggleButton.btn.ml-3
                    i.fas.fa-clipboard-list.fa-3x
              .row
                .col-12.d-flex
                  button#deleteCarButton.btn.btn-danger.ml-auto
                    i.fas.fa-trash.fa-lg
                  button#cancelEditCarButton.btn.btn-danger.ml-auto.d-none
                    i.fas.fa-times.fa-lg
                  button#saveEditCarButton.btn.btn-success.ml-2.d-none
                    i.fas.fa-save.fa-lg  
                  button#editCarButton.btn.btn-primary.ml-2
                    i.fas.fa-pen.fa-lg
                  button#addCarNoteButton.btn.btn-success.ml-2
                    i.fas.fa-plus.fa-lg
          .row
            #carNotes.col-12.car-notes-list
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Zapri
  //MODALNO OKNO ZA POTRDITEV BRISANJA VOZILA
  #modalDeleteCar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold POZOR
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
            h5#deleteCarModalMsg.text-center Ste prepričani, da želite odstraniti to vozilo?
            .text-center
              button#btnDeleteCarConf.btn.btn-danger.mb-n2 Odstrani
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO ZA POTRDITEV BRISANJA OPOMBE VOZILA
  #modalDeleteCarNote.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold POZOR
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
            h5#deleteCarModalMsg.text-center Ste prepričani, da želite odstraniti to opombo vozila?
            .text-center
              button#btnDeleteCarNoteConf.btn.btn-danger.mb-n2 Odstrani
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  // MODALNO OKNO ZA PRIKAZ PDF PRAVILNIKA
  #modalPdf.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Pravilnik
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body.fixed-modal-body
          object#pdfObject(data='/Documents/pravilnik.pdf', type='application/pdf', width='100%', height='100%')
        .modal-footer.d-flex.justify-content-center
          button.close#closePdfModal(type='button', data-dismiss='modal', aria-label='Cancel') Zapri
  script(type='text/javascript', src='../javascripts/cars/carsCalendar.min.js')
  //- script(type='text/javascript', src='../javascripts/cars/carRevs.js')
  //- script(type='text/javascript', src='../javascripts/cars/carNotes.js')
  //- script(type='text/javascript', src='../javascripts/cars/carManage.js')