extends layout

block skripte
  //select2
  link(href='/select2/select2.min.css', rel='stylesheet')
  script(src='/select2/select2.min.js')
  //pdf.js
  script(src='/pdfjs/pdf.min.js', async)
  script(src='/pdfjs/pdf.worker.min.js', async)

block content-fluid
  .page-header
    .row
      .col-lg-12
        h1 Reklamacije
  //if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik' || user_type == 'programer robotov' || user_type == 'programer plc-jev' || user_type == 'konstrukter' || user_type == 'konstruktor')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    br
    .row.col-lg-12
      //a#btnCollapseTask.btn.btn-primary.mr-2.active(data-toggle='collapse', href='#collapseTableTask', role='button', aria-expanded='false', aria-controls='collapseTableTask') Opravila
      //a#btnCollapseFile.btn.btn-primary(data-toggle='collapse', href='#collapseFileTab', role='button', aria-expanded='false', aria-controls='collapseFileTab') Datoteke
      button#btnCollapseCompSub.btn.btn-primary.mr-2.active Reklamacije Naročnikov
      button#btnCollapseCompSup.btn.btn-primary Reklamacije dobaviteljem
    .row
      .col
        #collapseCompSub.collapse.multi-collapse.show
          br
          .h3 Reklamacije naročnikov
          .btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons')
              label.btn.btn-primary Vse
                input#option0(type='radio' name='compSubTypeOptions' autocomplete='off' checked='')
              label.btn.btn-mechanic.active Mehanske
                input#option1(type='radio' name='compSubTypeOptions' autocomplete='off')
              label.btn.btn-electrican Elektro
                input#option2(type='radio' name='compSubTypeOptions' autocomplete='off')
              label.btn.btn-programmer Programske
                input#option3(type='radio' name='compSubTypeOptions' autocomplete='off')
          if (user_type.toLowerCase() == 'admin')
            .btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons')
              label.btn.btn-primary Vse
                input#optionAllActivities(type='radio' name='compSubActivityOptions' autocomplete='off')
              label.btn.btn-primary Aktivne
                input#optionTrueActivities(type='radio' name='compSubActivityOptions' autocomplete='off' checked='')
              label.btn.btn-secondary Neaktivne
                input#optionFalseActivities(type='radio' name='compSubActivityOptions' autocomplete='off')
          //- .btn-toolbar(role='toolbar', aria-label='Toolbar for activities status')
            .btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='Error type group')
              button#option0.btn.btn-primary.active(type='radio', name='options', autocomplete='off') Vse
              button#option1.btn.btn-danger(type='radio', name='options', autocomplete='off') Mehanske
              button#option2.btn.btn-success(type='radio', name='options', autocomplete='off') Elektro
              button#option3.btn.btn-secondary(type='radio', name='options', autocomplete='off') Programska
            if (user_type == 'admin')
              .btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons', aria-label='Active comp sub group')
                button#optionAllActivities.btn.btn-primary(type='radio', name='options1', autocomplete='off') Vse
                button#optionTrueActivities.btn.btn-primary.active(type='radio', name='options1', autocomplete='off') Aktivne
                button#optionFalseActivities.btn.btn-secondary(type='radio', name='options1', autocomplete='off') Neaktivne
          //- //add complaints subscribers here
          //- br
          .table-responsive.mt-2
            table.table.table-hover.bg-light.table-bordered.table-striped.table-fixed
              thead
                tr
                  th.text-center.w-120px(scope='col') Št. reklamacije
                  th.text-center.w-160px(scope='col') Datum
                  th.text-center.w-180px(scope='col') Naročnik
                  th.text-center.w-200px(scope='col') Kontaktna oseba naročnika
                  th.text-center.w-220px(scope='col') Projekt
                  th.text-center.w-300px(scope='col') Opis reklamacije - napaka
                  th.text-center.w-150px(scope='col') Vrste napake
                  th.text-center.w-265px(scope='col') Napotena oseba za reševanje reklamacije
                  th.text-center.w-140px(scope='col') Vzrok
                  th.text-center.w-200px(scope='col') Ukrep za odpravo vzroka
                  th.text-center.w-160px(scope='col') Datum zaključka
                  th.text-center.w-100px(scope='col') Upravičenost (ukrep)
                  th.text-center.w-130px(scope='col') Strošek
                  th.text-center.w-170px(scope='col') Opombe
                  th.text-center.w-140px(scope='col') Status
                  th.w-240px(scope='col')
              tbody#complaintsSubTableBody
              //ADD ROW INSIDE TABLE FOR COMPLAINTS SUBSCRIBERS (compSub for short)
              if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komercijalist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                tr(id='newComplaintSubRow')
                  form#addCompSubForm(role='form', method='post', action='/complaints/subscribers')
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubNumberNew.form-control(type='text', name='compSubNumberNew', autocomplete="off", required='', placeholder="Št. reklamacije")
                        label.custom-control-label.sr-only(for='compSubNumberNew') Št. reklamacije
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubDateNew.form-control.remove-calendar-icon.w-100(type='date', name='compSubDateNew', required='')
                        label.custom-control-label.sr-only(for='compSubDateNew') Datum
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        select#compSubSubscriberNew.custom-select.mr-sm-2.form-control.select2-subscribers.w-100(name='compSubSubscriberNew', aria-label="Naročnik", required='')
                        label.custom-control-label.sr-only(for='compSubSubscriberNew') Naročnik
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubContactNew.form-control(type='text', name='compSubContactNew', autocomplete="off", placeholder="Kontaktna oseba naročnika")
                        label.custom-control-label.sr-only(for='compSubContactNew') Kontaktna oseba naročnika
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        select#compSubProjectNew.custom-select.mr-sm-2.form-control.select2-projects.w-100(name='compSubProjectNew', aria-label="Projekt")
                        label.custom-control-label.sr-only(for='compSubProjectNew') Projekt
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubDescriptionNew.form-control(type='text', name='compSubDescriptionNew', autocomplete="off", placeholder="Opis reklamacije - napaka")
                        label.custom-control-label.sr-only(for='compSubDescriptionNew') Opis reklamacije - napaka
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        select#compSubErrorTypeNew.custom-select.mr-sm-2.form-control.select2-error-types.w-100(name='compSubErrorTypeNew', aria-label="Tip napake", required='')
                        label.custom-control-label.sr-only(for='compSubErrorTypeNew') Tip napake
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubSolverNew.form-control(type='text', name='compSubSolverNew', autocomplete="off", placeholder="Napotena oseba za reševanje reklamacije")
                        label.custom-control-label.sr-only(for='compSubSolverNew') Napotena oseba za reševanje reklamacije
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubCauseNew.form-control(type='text', name='compSubCauseNew', autocomplete="off", placeholder="Vzrok")
                        label.custom-control-label.sr-only(for='compSubCauseNew') Vzrok
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubMeasureNew.form-control(type='text', name='compSubMeasureNew', autocomplete="off", placeholder="Ukrep za odpravo vzroka")
                        label.custom-control-label.sr-only(for='compSubMeasureNew') Ukrep za odpravo vzroka
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubFinishedNew.form-control.remove-calendar-icon.w-100(type='date', name='compSubFinishedNew')
                        label.custom-control-label.sr-only(for='compSubFinishedNew') Datum zaključka
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        select#compSubJustificationNew.custom-select.mr-sm-2.form-control.select2-justification.w-100(name='compSubJustificationNew', aria-label="Upravičenost")
                        label.custom-control-label.sr-only(for='compSubJustificationNew') Upravičenost (ukrep)
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubCostNew.form-control(type='text', name='compSubCostNew', autocomplete="off", placeholder="Strošek")
                        label.custom-control-label.sr-only(for='compSubCostNew') Strošek
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSubNotesNew.form-control(type='text', name='compSubNotesNew', autocomplete="off", placeholder="Opombe")
                        label.custom-control-label.sr-only(for='compSubNotesNew') Opombe
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        select#compSubStatusNew.custom-select.mr-sm-2.form-control.select2-sub-status.w-100(name='compSubStatusNew', aria-label="Status", required='')
                        label.custom-control-label.sr-only(for='compSubStatusNew') Status
                    td
                      .text-center
                        button.btn.btn-success.mb-n1(type='submit', id='addCompSubBtn', data-toggle="tooltip", data-original-title="Dodaj", aria-label="Dodaj")
                          i.fas.fa-plus.fa-lg
        #collapseCompSup.collapse.multi-collapse
          br
          .h3 Reklamacije dobaviteljem
          if (user_type.toLowerCase() == 'admin')
            //- .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
              .btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons', aria-label='Active meeting group')
                button#optionAllCompSup.btn.btn-primary(type='radio', name='options', autocomplete='off') Vse
                button#optionTrueCompSup.btn.btn-primary.active(type='radio', name='options', autocomplete='off') Aktivne
                button#optionFalseCompSup.btn.btn-secondary(type='radio', name='options', autocomplete='off') Neaktivne
            .btn-group.btn-group-toggle(data-toggle='buttons')
              label.btn.btn-primary Vse
                input#optionAllCompSup(type='radio' name='compSupActivityOptions' autocomplete='off')
              label.btn.btn-primary Aktivne
                input#optionTrueCompSup(type='radio' name='compSupActivityOptions' autocomplete='off' checked='')
              label.btn.btn-secondary Neaktivne
                input#optionFalseCompSup(type='radio' name='compSupActivityOptions' autocomplete='off')
          //- br
          //- //add complaints suppliers here
          //- br
          .table-responsive.mt-2
            table.table.table-hover.bg-light.table-bordered.table-striped.table-fixed
              thead
                tr
                  th.text-center.w-120px(scope='col') Št. reklamacije
                  th.text-center.w-160px(scope='col') Datum
                  th.text-center.w-190px(scope='col') Dobavitelj
                  th.text-center.w-240px(scope='col') Vhodni material / storitev
                  th.text-center.w-220px(scope='col') Vrsta reklamacije
                  th.text-center.w-100px(scope='col') Upravičenost (ukrep)
                  th.text-center.w-130px(scope='col') Reklamirana količina
                  th.text-center.w-150px(scope='col') Vrednost reklamacije
                  th.text-center.w-130px(scope='col') Status
                  th.w-250px(scope='col')
              tbody#complaintsSupTableBody
              //ADD ROW INSIDE TABLE FOR COMPLAINTS SUPPLIERS (compSup for short)
              if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komercijalist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                tr(id='newComplaintSupRow')
                  form#addCompSupForm(role='form', method='post', action='/complaints/suppliers')
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSupNumberNew.form-control(type='text', name='compSupNumberNew', autocomplete="off", required='', placeholder="Št. reklamacije")
                        label.custom-control-label.sr-only(for='compSupNumberNew') Št. reklamacije
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSupDateNew.form-control.remove-calendar-icon.w-100(type='date', name='compSupDateNew', required='')
                        label.custom-control-label.sr-only(for='compSupDateNew') Datum
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSupSupplierNew.form-control(type='text', name='compSupSupplierNew', autocomplete="off", required='', placeholder="Dobavitelj")
                        label.custom-control-label.sr-only(for='compSupSupplierNew') Dobavitelj
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSupMaterialNew.form-control(type='text', name='compSupMaterialNew', autocomplete="off", placeholder="Vhodni material / storitev")
                        label.custom-control-label.sr-only(for='compSupMaterialNew') Vhodni material / storitev
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSupCompTypeNew.form-control(type='text', name='compSupCompTypeNew', autocomplete="off", placeholder="Vrsta reklamacije")
                        label.custom-control-label.sr-only(for='compSupCompTypeNew') Vrsta reklamacije
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        select#compSupJustificationNew.custom-select.mr-sm-2.form-control.select2-justification.w-100(name='compSupJustificationNew', aria-label="Upravičenost")
                        label.custom-control-label.sr-only(for='compSupJustificationNew') Upravičenost (ukrep)
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSupQuantityNew.form-control(type='text', name='compSupQuantityNew', autocomplete="off", placeholder="Reklamirana količina")
                        label.custom-control-label.sr-only(for='compSupQuantityNew') Reklamirana količina
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        input#compSupValueNew.form-control(type='text', name='compSupValueNew', autocomplete="off", placeholder="Vrednost reklamacije")
                        label.custom-control-label.sr-only(for='compSupValueNew') Vrednost reklamacije
                    td
                      .form-group.ml-n2.mr-n2.mb-n2
                        select#compSupStatusNew.custom-select.mr-sm-2.form-control.select2-sup-status.w-100(name='compSupStatusNew', aria-label="Status", required='')
                        label.custom-control-label.sr-only(for='compSupStatusNew') Status
                    td
                      .text-center
                        button.btn.btn-success.mb-n1(type='submit', id='addCompSupBtn', data-toggle="tooltip", data-original-title="Dodaj", aria-label="Dodaj")
                          i.fas.fa-plus.fa-lg
    br
    br
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komercijalist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
      nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary.fixed-bottom
        button#btnNavbarCollapseCompSub.btn.btn-primary.mr-2.active Reklamacije naročnikov
        button#btnNavbarCollapseCompSup.btn.btn-primary Reklamacije dobaviteljem
    canvas#the-canvas.d-none
    //MODALNO OKNO ZA DATOTEKE
    #modalFiles.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold Datoteke
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            #fileList.list-group.changes-body
          .modal-footer.d-flex.justify-content-center
            //button.close(type='button', data-dismiss='modal', aria-label='Cancel') Zapri
            button#btnAddNewFile.btn.btn-success Dodaj datoteko
    //MODALNO OKNO DODAJANJE DOKUMENTA
    #modalDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodaj novo datoteko
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#addDocForm(action='/complaints/fileUpload', method='POST', enctype='multipart/form-data')
              .form-group
                input#projectIdFile.form-control(type='text', name='projectIdFile', readonly='', hidden='' value=projectId)
              .form-group
                input#docNew(type='file', name='docNew')
                small#fileHelp.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls, txt ter slike. Največja dovoljena velikost je 5MB. 
              .text-center
                button#btnAddDoc.btn.btn-primary(type='submit') Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA PRIKAZ PDF DATOTEK
    #modalPDFPreview.modal.fade.overflow-hidden(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl.modal-doc(role='document')
        .modal-content.modal-doc-content
          .modal-body.mx-3(data-dismiss='modal')
            #imgPreviewContainer.document-content.bg-light
            #pdfPreviewContainer.document-content
    //MODALNO OKNO ZA BRISANJE REKLAMACIJE DOBAVITELJEV
    #modalDeleteCompSup.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              #deleteCompSupModalMsg.text-center.h5 Ste prepričani, da želite odstraniti to reklamacijo?
              .text-center
                button#btnDeleteCompSup.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE REKLAMACIJE NAROČNIKOV
    #modalDeleteCompSub.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              #deleteCompSubModalMsg.text-center.h5 Ste prepričani, da želite odstraniti to reklamacijo?
              .text-center
                button#btnDeleteCompSub.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE DATOTEKE
    #modalDeleteFile.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteModModalMsg.text-center Ste prepričani, da želite TRAJNO odstraniti to datoteko?
              .text-center
                button#btnDeleteFile.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO ZA SPOROČILO
    #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Obvestilo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .row
              .col-4.text-center
                if (type == 1)
                  img#msgImg.img-fluid.w-75(src='/warning_sign.png', alt='ikona')
                else if (type == 2)
                  img#msgImg.img-fluid.w-75(src='/ok_sign.png', alt='ikona')
                else
                  img#msgImg.img-fluid.w-75(src='/info.png', alt='ikona')
              .col-8
                #msg.h5= msg
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
  script(type='text/javascript', src='../javascripts/complaints/complaints.min.js', async)
  //script(type='text/javascript', src='../javascripts/complaints/complaints.js', async)
  //script(type='text/javascript', src='../javascripts/complaints/compSub.js', async)
  //script(type='text/javascript', src='../javascripts/complaints/compSup.js', async)
  //script(type='text/javascript', src='../javascripts/complaints/compFiles.js', async)