extends layout

block skripte
  //select2
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)

block content
  .page-header
    .row
      .col-lg-6
        h1 Pregled obvestil
      .col-lg-4
      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
        .col-lg-2
          button#scpecialNotificationBtn.btn.btn-primary Ustvari obvestilo
  .row
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
  .row
    .col-lg-4
      h5 Možnosti
      .row.d-flex
        .btn-group.btn-group-toggle.mr-2.mt-2.mb-2(role='group' aria-label='seen group')
          button#optionAll.btn.btn-primary.active(type='button', name='options', autocomplete='off') Vsa
          button#optionSeen.btn.btn-primary(type='button', name='options', autocomplete='off') Opažena
          button#optionUnseen.btn.btn-primary(type='button', name='options', autocomplete='off') Neopažena
        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          .btn-group.btn-group-toggle.mr-2.mt-2.mb-2.ml-auto(role='group' aria-label='seen group')
            button#optionReverse.btn.btn-primary(type='button', name='options', autocomplete='off')
              i.fas.fa-exchange-alt.fa-lg
      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
        .row.mb-n3
          .form-group.w-100
            label.w-100(for='userSelect') Uporabnik
              select#userSelect.custom-select.mr-sm-2.form-control.select2-users.w-100(name='userSelect')
      else
        .row.mb-n3
          .form-group.w-100
            label.w-100(for='userSelect') Uporabnik
              select#userSelect.custom-select.mr-sm-2.form-control.select2-users.w-100(name='userSelect', disabled="")
      .row.mb-n3
        .form-group.w-100
          label.w-100(for='change_type') Tip obvestila
            select#change_type.custom-select.mr-sm-2.form-control.select2-type.w-100(name='change_type')
      .row.mb-n3
        .form-group.w-100
          label.w-100(for='change_status') Status obvestila
            select#change_status.custom-select.mr-sm-2.form-control.select2-status.w-100(name='change_status')
      .row.mb-n3
        .form-group.w-100
          label.w-100(for='change_start') Od
            input#change_start.form-control(type='date', name='change_start')
      .row.mb-n1
        .form-group.w-100
          label.w-100(for='change_finish') Do
            input#change_finish.form-control(type='date', name='change_finish')
      .text-center
        button#getChangesBtn.btn.btn-success Poišči obvestila
    .col-lg-8
      h5 Obvestila
      #changesBody.changes-body
  //MODALNO OKNO ZA POSEBNO OBVESTILO
  #modalAddSpecialNotification.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold Ustvari posebno obvestilo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          form#addSpecialNotificationForm(role='form', method='post')
            .form-group
              label.w-100(for='specialNote') Vsebina 
                input#specialNote.form-control(type='text', name='specialNote', required='', autocomplete='off')
                .invalid-feedback Vsebina sporočila je lahko dolga največ 500 znakov!
            .form-group.mb-1
              .row
                .col-lg-1
                  label Za:
                .col-lg-2
                  .custom-control.custom-radio
                    input#radioAllUsers.custom-control-input(type='radio', name='customRadio', checked='')
                    label.custom-control-label(for='radioAllUsers') vse
                .col-lg-4
                  .custom-control.custom-radio
                    input#radioSpecificUsers.custom-control-input(type='radio', name='customRadio')
                    label.custom-control-label(for='radioSpecificUsers') določene osebe
            .form-group
              label.w-100(for='specialNoteUsers')
                select#specialNoteUsers.custom-select.mr-sm-2.form-control.select2-special-users.w-100(name='specialNoteUsers', disabled='')
                .invalid-feedback Izberite določene osebe, ki naj prejmejo to posebno obvestilo!
            .text-center
              button#btnAddEmployee.btn.btn-primary(type='submit') Potrdi
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //script(type='text/javascript', src='../javascripts/changes/ctrlpanel.js', async)
  script(type='text/javascript', src='../javascripts/changes/ctrlpanel.min.js', async)