extends layout

block content
  #banner
    .page-header
      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
        br
        label.w-200px(for='project_start_edit') Spremeni datum
          input#dateInput.form-control(type='date', name='project_start_edit')
        button#changeDateBtn.btn.btn-primary.ml-3 Posodobi
    .row
      .col-lg-6
        h1#header Opravila danes
    .d-flex
      if (user_type.toLowerCase() == 'admin')
        #workerButton
          button.btn.btn-primary(value=-1) Delavci
      else
        #workerButton
          button.btn.btn-mechanic.mr-2(value = 2) Strojniki
          button.btn.btn-electrican.mr-2(value = 3) Električarji
          button.btn.btn-secondary.mr-2(value = 0) Ostali
      button#fullScreenBtn.btn.btn-primary.ml-auto.mr-2
        i.fas.fa-expand-arrows-alt.fa-lg
      button#showImgBtn.btn.btn-primary Ozadje
    .d-flex
      .btn-toolbar.mr-auto(role='toolbar', aria-label='Toolbar with button groups')
    .d-flex
      if (user_type.toLowerCase() == 'admin')
        #buttonCategoryGroup.btn-group.btn-group-toggle.mr-2.mt-2.mb-2.mr-auto(data-toggle='buttons')
          label.btn.btn-primary Vsa
            input#option0(type='radio' name='options' autocomplete='off' value=0 checked='')
          label.btn.btn-purchase Nabava
            input#option2(type='radio' name='options' autocomplete='off' value=2)
          label.btn.btn-construction Konstrukcija
            input#option3(type='radio' name='options' autocomplete='off' value=3)
          label.btn.btn-mechanic Strojna izdelava
            input#option4(type='radio' name='options' autocomplete='off' value=4)
          label.btn.btn-electrican Elektro izdelava
            input#option5(type='radio' name='options' autocomplete='off' value=5)
          label.btn.btn-assembly Montaža
            input#option6(type='radio' name='options' autocomplete='off' value=6)
          label.btn.btn-programmer Programiranje
            input#option7(type='radio' name='options' autocomplete='off' value=7)
          label.btn.btn-dark Brez
            input#option1(type='radio' name='options' autocomplete='off' value=1)
      else
        #buttonCategoryGroup.btn-group.btn-group-toggle.mr-2.mt-2.mb-2.mr-auto(data-toggle='buttons')
          label.btn.btn-primary Vsa
            input#option0(type='radio' name='options' autocomplete='off' value=0 checked='')
          label.btn.btn-mechanic Strojna izdelava
            input#option4(type='radio' name='options' autocomplete='off' value=4)
          label.btn.btn-electrican Elektro izdelava
            input#option5(type='radio' name='options' autocomplete='off' value=5)
          label.btn.btn-assembly Montaža
            input#option6(type='radio' name='options' autocomplete='off' value=6)
      //- .btn-toolbar.mr-auto(role='toolbar', aria-label='Toolbar with button groups')
        if (user_type == "admin")
          #buttonCategoryGroup.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='Category group')
            button#option0.btn.btn-primary.active(type='radio', name='options', autocomplete='off', value=0) Vsa
            button#option2.btn.btn-purchase(type='radio', name='options', autocomplete='off', value=2) Nabava
            button#option3.btn.btn-construction(type='radio', name='options', autocomplete='off', value=3) Konstrukcija
            button#option4.btn.btn-mechanic(type='radio', name='options', autocomplete='off', value=4) Strojna izdelava
            button#option5.btn.btn-electrican(type='radio', name='options', autocomplete='off', value=5) Elektro izdelava
            button#option6.btn.btn-assembly(type='radio', name='options', autocomplete='off', value=6) Montaža
            button#option7.btn.btn-programmer(type='radio', name='options', autocomplete='off', value=7) Programiranje
            button#option1.btn.btn-dark(type='radio', name='options', autocomplete='off', value=1) Brez
        else
          #buttonCategoryGroup.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='Category group')
            button#option0.btn.btn-primary.active(type='radio', name='options', autocomplete='off', value=0) Vsa
            button#option4.btn.btn-mechanic(type='radio', name='options', autocomplete='off', value=4) Strojna izdelava
            button#option5.btn.btn-electrican(type='radio', name='options', autocomplete='off', value=5) Elektro izdelava
            button#option6.btn.btn-assembly(type='radio', name='options', autocomplete='off', value=6) Montaža
      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
        if (user_type.toLowerCase() == "admin")
          #adminCheckbox.custom-control.custom-checkbox.mt-4.mr-2
            input.custom-control-input(id='customAdminCheck', checked="", type='checkbox')
            label.custom-control-label(for='customAdminCheck')  Admin pogled
        else
          #adminCheckbox.custom-control.custom-checkbox.mt-4.mr-2
            input.custom-control-input(id='customAdminCheck', type='checkbox')
            label.custom-control-label(for='customAdminCheck')  Admin pogled
      if (user_type.toLowerCase() == "tajnik" || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'info' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
        #animationCheckbox.custom-control.custom-checkbox.mt-4
          input.custom-control-input(id='customAnimationCheck', checked="", type='checkbox')
          label.custom-control-label(for='customAnimationCheck')  Animacija
      else
        #animationCheckbox.custom-control.custom-checkbox.mt-4
          input.custom-control-input(id='customAnimationCheck', type='checkbox')
          label.custom-control-label(for='customAnimationCheck')  Animacija
    br
    .row
      .col-6
        h1 Dnevna
        #dailyList.list-group.d-flex.daily-list.mt-2
          each task in tasks
            row.list-group-item.flex-column(id=task.id)
              .d-flex.w-100.justify-content-between
                #taskName.h5.mb-1= task.task_name
              .d-flex.justify-content-start.flex-wrap
                #workers.mb-1= task.workers
      .col-6
        h1 Tedenski plan (7 dni)
        #weeklyList.list-group.d-flex.daily-list.mt-2
          each task in weekly
            row.list-group-item.flex-column(id=task.id)
              .d-flex.w-100.justify-content-between
                #taskName.h5.mb-1= task.task_name
              .d-flex.justify-content-start
                #weekDate.h6= task.task_start + " - " + task.task_finish
              .d-flex.justify-content-start.flex-wrap
                #workers.mb-1= task.workers
    h1#time.fixed Datum
    //MODALNO OKNO ZA KATEGORIJE DELAVCEV
    #modalWorkerCategory.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Shema zaposlenih
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          #modalWorkersSelect.modal-body.mx-3.text-center
            .d-flex.justify-content-center.mb-3
              button.p-2.btn.btn-outline-success.w-150px(value = 1) Konstrukterji
            .d-flex.justify-content-center.mb-3
              button.p-2.btn.btn-outline-mechanic.w-150px(value = 2) Strojniki
            .d-flex.justify-content-center.mb-3
              button.p-2.btn.btn-outline-electrican.w-150px(value = 3) Električarji
            .d-flex.justify-content-center.mb-3
              button.p-2.btn.btn-outline-plc.w-150px(value = 4) Programerji plc-jev
            .d-flex.justify-content-center.mb-3
              button.p-2.btn.btn-outline-warning.w-150px(value = 5) Programerji robotov
            .d-flex.justify-content-center.mb-3
              button.p-2.btn.btn-outline-secondary.w-150px(value = 0) Ostali
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA DELAVCE IZBRANE KATEGORIJE
    #modalWorkerTab.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Shema zaposlenih
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3.text-center
            #categoryWorkerList.list-group.span4
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  script(type='text/javascript', src='../javascripts/daily/daily.min.js', async)
  //script(type='text/javascript', src='../javascripts/daily/daily.js')