extends layout

block content
  .page-header
    .row
      .col-lg-6
        h1 Osnovna plošča
  .row
    //- if (user_type == 'admin' || user_type == 'tajnik' || user_type.substring(0,5) == 'vodja')
    if (user_type.toLowerCase().substring(0,4) != 'info')
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/servis.png', alt='Slika servisov')
          .card-body.d-flex.flex-column
            h5.card-title Servis - Storitev
            p.card-text Izredna opravila
            a.btn.btn-primary.stretched-link.mt-auto(href='/servis') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/projects.png', alt='Slika projetkov')
          .card-body.d-flex.flex-column
            h5.card-title Projekti
            p.card-text Pregled projektov in upravljanje z njimi
            a.btn.btn-primary.stretched-link.mt-auto(href='/projects') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/workorder.png', alt='Slika delovnih nalog')
          .card-body.d-flex.flex-column
            h5.card-title Delovni nalogi
            p.card-text Pregled vseh mojih delovnih nalog
            a.btn.btn-primary.stretched-link.mt-auto(href='/workorders') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/employees01.png', alt='Slika zaposlenih')
          .card-body.d-flex.flex-column
            h5.card-title Zaposleni
            p.card-text Pregled zaposlenih in nad katerimi projekti delajo
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/daily.png', alt='Slika dnevnih opravil')
          .card-body.d-flex.flex-column
            h5.card-title Danes
            p.card-text Pregled nad vsemi opravili za danes
            a.btn.btn-primary.stretched-link.mt-auto(href='/daily') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/timetable02.png', alt='Slika dnevnih opravil')
          .card-body.d-flex.flex-column
            h5.card-title Koledar
            p.card-text Pregled opravil v koledarju
            a.btn.btn-primary.stretched-link.mt-auto(href='/calendar/mobiscroll') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/viz01.png', alt='Slika vizualizacije')
          .card-body.d-flex.flex-column
            h5.card-title Vizualizacija
            p.card-text Vizualizacija projektov in opravil
            a.btn.btn-primary.stretched-link.mt-auto(href='/viz') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/reports.png', alt='Slika poročil')
          .card-body.d-flex.flex-column
            h5.card-title Poročila
            p.card-text Pregled vseh poročil
            a.btn.btn-primary.stretched-link.mt-auto(href='/reports') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/myProject.png', alt='Slika mojih projektov')
          .card-body.d-flex.flex-column
            h5.card-title Moji projekti
            p.card-text Pregled nad projekti za katere sem zadolžen
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees/userId?userId='+user_id) Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/myTasks01.png', alt='Slika mojih opravil')
          .card-body.d-flex.flex-column
            h5.card-title Moja opravila
            p.card-text Trenutno opravilo in pregled prihajajočih opravil
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees/tasks?userId='+user_id) Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/absence.png', alt='Slika mojih odsotnosti')
          .card-body.d-flex.flex-column
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
              h5.card-title Odsotnosti
            else
              h5.card-title Moje odsotnosti
            p.card-text Pregled odsotnosti in dodajanje novih
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
              a.btn.btn-primary.stretched-link.mt-auto(href='/absences') Pojdi!
            else
              a.btn.btn-primary.stretched-link.mt-auto(href='/absences?userId='+user_id) Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/bell4.png', alt='Slika mojih obvestil')
          .card-body.d-flex.flex-column
            h5.card-title Moja obvestila
            p.card-text Pregled vseh preteklih obvestil
            a.btn.btn-primary.stretched-link.mt-auto(href='/changes/ctrlpanel') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/meeting.png', alt='Slika sestankov')
          .card-body.d-flex.flex-column
            h5.card-title Zapisnik sestanka kolegija
            p.card-text Seznam vseh sestankov in aktivosti
            a.btn.btn-primary.stretched-link.mt-auto(href='/meetings') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/company.png', alt='Slika naročnikov')
          .card-body.d-flex.flex-column
            h5.card-title Naročniki
            p.card-text Pregled naročnikov in njihovih ikon
            a.btn.btn-primary.stretched-link.mt-auto(href='/subscribers') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/complaints.png', alt='Slika reklamacij')
          .card-body.d-flex.flex-column
            h5.card-title Reklamacije
            p.card-text Pregled reklamacij naročnikov in dobaviteljev
            a.btn.btn-primary.stretched-link.mt-auto(href='/complaints') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/instr.png', alt='Slika navodil')
          .card-body.d-flex.flex-column
            h5.card-title Navodila
            p.card-text Kako uporabljati RIS
            a.btn.btn-primary.stretched-link.mt-auto(href='/instructions') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/stdComponents.png', alt='Slika standardnih komponent')
          .card-body.d-flex.flex-column
            h5.card-title Standardne komponente
            p.card-text Pregled vseh standardnih komponent
            a.btn.btn-primary.stretched-link.mt-auto(href='/components') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/skodaFront128.png', alt='Slika vozil')
          .card-body.d-flex.flex-column
            h5.card-title Rezervacija vozil
            p.card-text Pregled rezervacij za tekoči teden
            a.btn.btn-primary.stretched-link.mt-auto(href='/cars') Pojdi!
    else
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/daily.png', alt='Slika dnevnih opravil')
          .card-body.d-flex.flex-column
            h5.card-title Danes
            p.card-text Pregled nad vsemi opravili za danes
            a.btn.btn-primary.stretched-link.mt-auto(href='/daily') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/timetable02.png', alt='Slika dnevnih opravil')
          .card-body.d-flex.flex-column
            h5.card-title Koledar
            p.card-text Pregled opravil v koledarju
            a.btn.btn-primary.stretched-link.mt-auto(href='/calendar/mobiscroll') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/skodaFront128.png', alt='Slika vozil')
          .card-body.d-flex.flex-column
            h5.card-title Rezervacija vozil
            p.card-text Pregled rezervacij za tekoči teden
            a.btn.btn-primary.stretched-link.mt-auto(href='/cars') Pojdi!
      .col-lg-3.col-md-4.col-sm-6.my-2
        .card.text-center.mb-3.h-100
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/instr.png', alt='Slika navodil')
          .card-body.d-flex.flex-column
            h5.card-title Navodila
            p.card-text Kako uporabljati RIS
            a.btn.btn-primary.stretched-link.mt-auto(href='/instructions') Pojdi!
    //else if (user_type.substring(0,4) != 'info')
      //else if (user_type == 'programer robotov' || user_type == 'programer plc-jev' || user_type == 'konstrukter' || user_type == 'konstruktor')
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/servis.png', alt='Slika servisov')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Servis - Storitev
            p.card-text Izredna opravila
            a.btn.btn-primary.stretched-link.mt-auto(href='/servis') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/projects.png', alt='Slika projetkov')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Projekti
            p.card-text Pregled projektov in upravljanje z njimi
            a.btn.btn-primary.stretched-link.mt-auto(href='/projects') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/workorder.png', alt='Slika delovnih nalog')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Delovni nalogi
            p.card-text Pregled vseh mojih delovnih nalog
            a.btn.btn-primary.stretched-link.mt-auto(href='/workorders') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/timetable02.png', alt='Slika dnevnih opravil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Koledar
            p.card-text Pregled opravil v koledarju
            a.btn.btn-primary.stretched-link.mt-auto(href='/calendar') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/myProject.png', alt='Slika mojih projektov')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Moji projekti
            p.card-text Pregled nad projekti za katere sem zadolžen
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees/userId?userId='+user_id) Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/myTasks01.png', alt='Slika mojih opravil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Moja opravila
            p.card-text Trenutno opravilo in pregled prihajajočih opravil
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees/tasks?userId='+user_id) Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/absence.png', alt='Slika mojih odsotnosti')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Moje odsotnosti
            p.card-text Pregled odsotnosti in dodajanje novih
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees/absence?id='+user_id) Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/bell4.png', alt='Slika mojih obvestil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Moja obvestila
            p.card-text Pregled vseh preteklih obvestil
            a.btn.btn-primary.stretched-link.mt-auto(href='/changes/ctrlpanel') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/meeting.png', alt='Slika sestankov')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Zapisnik sestanka kolegija
            p.card-text Seznam vseh sestankov in aktivosti
            a.btn.btn-primary.stretched-link.mt-auto(href='/meetings') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/reports.png', alt='Slika poročil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Poročila
            p.card-text Pregled vseh poročil
            a.btn.btn-primary.stretched-link.mt-auto(href='/reports') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/daily.png', alt='Slika dnevnih opravil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Danes
            p.card-text Pregled nad vsemi opravili za danes
            a.btn.btn-primary.stretched-link.mt-auto(href='/daily') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/instr.png', alt='Slika navodil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Navodila
            p.card-text Kako uporabljati RIS
            a.btn.btn-primary.stretched-link.mt-auto(href='/instructions') Pojdi!
    //else if (user_type.substring(0,4) != 'info')
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/myProject.png', alt='Slika mojih projektov')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Moji projekti
            p.card-text Pregled nad projekti za katere sem zadolžen
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees/userId?userId='+user_id) Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/myTasks01.png', alt='Slika mojih opravil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Moja opravila
            p.card-text Trenutno opravilo in pregled prihajajočih opravil
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees/tasks?userId='+user_id) Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/absence.png', alt='Slika mojih odsotnosti')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Moje odsotnosti
            p.card-text Pregled odsotnosti in dodajanje novih
            a.btn.btn-primary.stretched-link.mt-auto(href='/employees/absence?id='+user_id) Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/bell4.png', alt='Slika mojih obvestil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Moja obvestila
            p.card-text Pregled vseh preteklih obvestil
            a.btn.btn-primary.stretched-link.mt-auto(href='/changes/ctrlpanel') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/workorder.png', alt='Slika delovnih nalog')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Delovni nalogi
            p.card-text Pregled vseh mojih delovnih nalog
            a.btn.btn-primary.stretched-link.mt-auto(href='/workorders') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/timetable02.png', alt='Slika dnevnih opravil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Koledar
            p.card-text Pregled opravil v koledarju
            a.btn.btn-primary.stretched-link.mt-auto(href='/calendar') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/reports.png', alt='Slika poročil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Poročila
            p.card-text Pregled vseh poročil
            a.btn.btn-primary.stretched-link.mt-auto(href='/reports') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/daily.png', alt='Slika dnevnih opravil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Danes
            p.card-text Pregled nad vsemi opravili za danes
            a.btn.btn-primary.stretched-link.mt-auto(href='/daily') Pojdi!
      .col-sm-3
        .card.text-center.mb-3
          img.card-img-top.rounded.mx-auto.d-block.mt-2.mb-n3.w-15(src='/instr.png', alt='Slika navodil')
          .card-body.d-flex.flex-column.kartica
            h5.card-title Navodila
            p.card-text Kako uporabljati RIS
            a.btn.btn-primary.stretched-link.mt-auto(href='/instructions') Pojdi!