extends layout

block skripte
  //datatables (strani z tabelami)
  script(type='text/javascript', src='/pdfmake/pdfmake.min.js')
  script(type='text/javascript', src='/pdfmake/vfs_fonts.js')
  link(rel='stylesheet', type='text/css', href='/DataTables/datatables.min.css')
  script(type='text/javascript', src='/DataTables/datatables.min.js')
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet')
  script(src='/select2/select2.min.js')

block content
  .page-header
    .row
      .col-lg-6
        h1 Seznam zaposlenih
  //if (user_type == 'admin' || user_type == 'tajnik' || user_type.substring(0,5) == 'vodja')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    .row
      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
        //a.btnAddProject.btn.btn-primary(href='/employees/add') Dodaj novega zaposlenega
    //br
    .row
      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
        button.btnAddProject.btnadd.btn.btn-success.mr-2 Dodaj zaposlenega
        button#btnNewRole.btn.btn-success.ml-3 Dodaj novo vlogo
        button#btnNewProjectRole.btn.btn-success.ml-3 Dodaj novo projektno vlogo
        //- if (user_type == 'admin')
        //-   button#btnNewRole.btn.btn-success.ml-3 Dodaj novo vlogo
        //-   button#btnNewProjectRole.btn.btn-success.ml-3 Dodaj novo projektno vlogo
        //- else
        //-   button#btnNewRole.btn.btn-success.ml-3(disabled) Dodaj novo vlogo
        //-   button#btnNewProjectRole.btn.btn-success.ml-3(disabled) Dodaj novo projektno vlogo
        a#btnToPDF.btn.btn-info.ml-3(href='/employees/pdfs') PDF
    //- br
    //- .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
    //-   if (user_type == 'admin' || user_type == 'tajnik' ||user_type.substring(0,5) == 'vodja')
    //-     br
    //-     .btn-group.btn-group-toggle.mr-2(data-toggle='buttons', aria-label='Active group')
    //-       button#optionAll.btn.btn-primary(type='radio', name='options', autocomplete='off') Vsi
    //-       button#optionTrue.btn.btn-primary.active(type='radio', name='options', autocomplete='off') Aktivni
    //-       button#optionFalse.btn.btn-primary(type='radio', name='options', autocomplete='off') Neaktivni
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' ||user_type.toLowerCase().substring(0,5) == 'vodja')
      .btn-group.btn-group-toggle.mr-2.mt-2.mb-2(data-toggle='buttons')
        label.btn.btn-primary Vsi
          input#optionAll(type='radio' name='options' autocomplete='off')
        label.btn.btn-primary Aktivni
          input#optionTrue(type='radio' name='options' autocomplete='off' checked='')
        label.btn.btn-primary Neaktivni
          input#optionFalse(type='radio' name='options' autocomplete='off')
    br
    table#employeesTable.display.table.table-hover.table-light.text-center.w-100
    //MODALNO OKNO DODAJ ZAPOSLENEGA
    #modalAddEmployeeForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Zaposleni
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .col-sm-12#messageAdd
            form#addEmployeeform(role='form', method='post')
              .form-group
                label.w-100(for='user_username') Uporabniško ime
                  input#user_username.form-control(type='text', name='user_username', required='', autocomplete="off")
                  .valid-feedback Ta uporabniško ime je prosto
                  .invalid-feedback Ta uporabniško ime je zasedeno, vnesite drugo!
              .form-group
                label.w-100(for='user_name') Ime 
                  input#user_name.form-control(type='text', name='user_name', required='', autocomplete="off")
              .form-group
                label.w-100(for='user_surname') Priimek 
                  input#user_surname.form-control(type='text', name='user_surname', required='', autocomplete="off")
              .form-group
                label.w-100(for='user_work_mail') Elektronska pošta (službena)
                  input#user_work_mail.form-control(type='email', name='user_work_mail', autocomplete="off")
              .form-group
                label.w-100(for='user_role') Vloga
                  select#user_role.custom-select.mr-sm-2.form-control.select2-role.w-100(name='user_role')
              .form-group
                label.w-100(for='user_supervisor') Odgovorne osebe
                  select#user_supervisor.custom-select.mr-sm-2.form-control.select2-supervisor.w-100(name='user_supervisor')
                  small#user_supervisor_help.form-text.text-muted Ta oseba skupaj z vodjo oddelka lahko potrjuje odostnosti.
              .form-group
                label.w-100(for='user_password') Geslo 
                  input#user_password.form-control(type='password', name='user_password', required='', autocomplete='off')
                  .valid-feedback Geslo ustreza zahtevam.
                  .invalid-feedback Geslo mora vsebovati vsaj 10 znakov, eno majhno in eno veliko črko ter eno številko!
              .form-group
                label.w-100(for='user_password_again') Ponovno geslo 
                  input#user_password_again.form-control(type='password', name='user_password_again', required='', autocomplete='off')
                  .valid-feedback Gesli se ujemata!
                  .invalid-feedback Gesli se ne ujemata!
              button#btnAddEmployee.btn.btn-success(type='submit') Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO UREDI ZAPOSLENEGA
    #modalEditEmployeeForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Zaposleni
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .col-sm-12#messageEdit
            form#editEmployeeform(role='form', method='post')
              .form-group
                label.w-100(for='user_username_edit') Uporabniško ime
                  input#user_username_edit.form-control(type='text', name='user_username_edit', required='', autocomplete="off")
                  .valid-feedback Ta uporabniško ime je prosto
                  .invalid-feedback Ta uporabniško ime je zasedeno, vnesite drugo!
              .form-group
                label.w-100(for='user_name_edit') Ime 
                  input#user_name_edit.form-control(type='text', name='user_name_edit', required='', autocomplete="off")
              .form-group
                label.w-100(for='user_surname_edit') Priimek 
                  input#user_surname_edit.form-control(type='text', name='user_surname_edit', required='', autocomplete="off")
              .form-group
                label.w-100(for='user_work_mail_edit') Elektronska pošta (službena)
                  input#user_work_mail_edit.form-control(type='email', name='user_work_mail_edit', autocomplete="off")
              .form-group
                label.w-100(for='user_supervisor_edit') Odgovorne osebe
                  select#user_supervisor_edit.custom-select.mr-sm-2.form-control.select2-supervisor.w-100(name='user_supervisor_edit')
                  small#user_supervisor_edit_help.form-text.text-muted Ta oseba skupaj z vodjo oddelka lahko potrjuje odostnosti.
              if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'vodja')
                .custom-control.custom-checkbox
                  input#activeEdit.custom-control-input(type='checkbox', checked='')
                  label.custom-control-label(for='activeEdit') Uporabnik je aktiven
              button#btnEditEmployee.btn.btn-primary(type='submit') Posodobi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE UPORABNIKA
    #modalDeleteUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteModalMsg.text-center Ste prepričani, da želite odstraniti izbranega uporabnika?
              .text-center
                button#btnDeleteUser.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO DODAJ VLOGO
    #modalAddRoleForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Nova vloga
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#addRoleform(role='form', method='post')
              .form-group
                label.w-100(for='addNewRole') Naziv vloge
                  input#addNewRole.form-control(type='text', name='addNewRole', required='')
              button#btnAddRole.btn.btn-primary(type='submit') Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  script(type='text/javascript', src='../javascripts/employee/employees.min.js', async)
  //script(type='text/javascript', src='../javascripts/employee/manage.js')
  //script(type='text/javascript', src='../javascripts/changes/employeesChanges.js')