extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)

block content
  .page-header
    .row
      .col-lg-6
        h1 Moji projekti
  if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
    .row.col-lg-11
      .col-lg-2#imgEmployee
        if (employee.role.toLowerCase() == 'admin')
          img.img-fluid(src='/admin64.png' alt='ikona')
        else if (employee.role.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          img.img-fluid(src='/secratery64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja' || employee.role.toLowerCase() == 'vodja projektov' )
          img.img-fluid(src='/manager64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja strojnikov')
          img.img-fluid(src='/managerMech64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja cnc obdelave')
          img.img-fluid(src='/managerCNC64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja električarjev')
          img.img-fluid(src='/managerElec64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja programerjev')
          img.img-fluid(src='/managerPLC64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'električar')
          img.img-fluid(src='/electrican64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'strojnik' || employee.role.toLowerCase() == 'strojni monter')
          img.img-fluid(src='/mechanic64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'programer plc-jev')
          img.img-fluid(src='/plc64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'programer robotov')
          img.img-fluid(src='/robot64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'konstruktor')
          img.img-fluid(src='/builder64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'konstrukter')
          img.img-fluid(src='/builder64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'cnc' || employee.role.toLowerCase() == 'cnc operater')
          img.img-fluid(src='/cnc64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'varilec')
          img.img-fluid(src='/welder02.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'serviser')
          img.img-fluid(src='/serviser.png')
        else if (employee.role.toLowerCase() == 'student' || employee.role.toLowerCase() == 'študent')
          img.img-fluid(src='/student03.png')
        else if (employee.role.toLowerCase() == 'info')
          img.img-fluid(src='/infoUser.png')
        else if (employee.role.toLowerCase() == 'info elektro')
          img.img-fluid(src='/infoElec.png')
        else if (employee.role.toLowerCase() == 'info strojna')
          img.img-fluid(src='/infoMech.png')
        else if (employee.role.toLowerCase() == 'info konstrukcija')
          img.img-fluid(src='/infoBuild.png')
        else if (employee.role.toLowerCase() == 'info programiranje')
          img.img-fluid(src='/infoProgrammer.png')
        else if (employee.role.toLowerCase() == 'info plc')
          img.img-fluid(src='/infoPlc.png')
        else if (employee.role.toLowerCase() == 'info robot')
          img.img-fluid(src='/infoRobot.png')
        else if (employee.role.toLowerCase() == 'info nabava')
          img.img-fluid(src='/infoSales.png')
        else if (employee.role.toLowerCase() == 'info montaža')
          img.img-fluid(src='/infoAssembly.png')
        else
          img.img-fluid(src='/worker64.png', alt='ikona')
      .col-lg-4
        h5#employeeName.col-lg-8= employee.name+' '+employee.surname
      .col-lg-2
        if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
          a.btn.btn-primary(href='/employees/tasks?userId='+employee.id) Opravila
      .col-lg-2
        if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase() == 'vodja')
          button#changePassBtn.btn.btn-primary Spremeni geslo
      .col-lg-2
        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase() == 'vodja')
          button#changeRoleBtn.btn.btn-primary Spremeni pravice
    br
    .row.col-lg-12
      .col-xs-12.col-sm-4
        h5 Projekti:
        row#projectList.list-group.span5
          each project in projects
            a.col-xs-12.list-group-item.list-group-item-action(href='#', id=project.id)
              .col-sm-10
                strong= project.project_number + ' - ' + project.name
              .row
                .img-container.col-sm-4
                  if (project.icon)
                    img.img-fluid.max-space(src='/uploads/images/'+project.icon, alt='ikona')
                  else
                    img.img-fluid.max-space(src='/logo/roboteh64.png', alt='ikona')
                .col-sm-8
                  label= project.project_name
              .row.mt-2.mr-1.ml-1
                if (project.completion == '100')
                  .ml-auto.progress.w-100
                    .progress-bar.bg-success(class='w-'+project.completion)
                else
                  .ml-auto.progress.w-100
                    .progress-bar(class='w-'+project.completion)
                //if (project.finished)
                  span.badge.badge-success.ml-2.mr-2.p-2 KONČANO
      .col-xs-12.col-sm-8
        h5 Info o projektu:
        #myActiveProject.card.mb-3.span5
          #activeProjectSubscriber.card-header Naročnik
          .card-body
            .d-flex.mb-1
              h5#activeProjectName.p-1.mr-auto Projekt
            .d-flex
              #activeTaskDate Datum
              .ml-auto.progress.w-40
                #activeProjectProgress.progress-bar
            .d-flex
              #activeProjectBadges
              #activeProjectButtons.ml-auto
            hr
            h5 Opravila:
            #projectTasks.list-group
            hr
            h5 Delavci:
            .col-sm-12
              #projectWorkers.row
    //MODALNO OKNO SPREMENI GESLO
    #modalChangePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Spremeni Geslo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
          .col-sm-12#messagePass
            form#changePasswordform(role='form', method='post')
              .form-group
                label.w-100(for='user_password') Geslo 
                  input#user_password.form-control(type='password', name='user_password', required='', autocomplete='off')
                  .valid-feedback Geslo ustreza zahtevam.
                  .invalid-feedback Geslo mora vsebovati vsaj 10 znakov, eno majhno in eno veliko črko ter eno številko!
              .form-group
                label.w-100(for='user_password_again') Ponovno geslo 
                  input#user_password_again.form-control(type='password', name='user_password_again', required='', autocomplete='off')
                  .valid-feedback Gesli se ujemata!
                  .invalid-feedback Gesli se ne ujemata!
              button#btnChangePass.btn.btn-primary(type='submit') Spremeni
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO SPREMENI PRAVICE - VLOGO
    #modalChangeRole.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Spremeni Pravice
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
          .col-sm-12#messageRole
            form#changeRoleform(role='form', method='post')
              .form-group
                label.w-100(for='user_role') Vloga
                  select#user_role.custom-select.mr-sm-2.form-control.select2-role.w-100(name='user_role')
              button#btnChangeRole.btn.btn-primary(type='submit') Spremeni
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  script(type='text/javascript', src='../javascripts/employee/employee.min.js', async)
  //script(type='text/javascript', src='../javascripts/employee/change.js')
  //script(type='text/javascript', src='../javascripts/employee/projects.js')
  //script(type='text/javascript', src='../javascripts/changes/userProjectChanges.js')