extends layout

block skripte
  link(href='/stylesheets/styleTest.css', rel='stylesheet', async)
  script(src='../javascripts/jquery.mCustomScrollbar.concat.min.js')
  link(href='/javascripts/jquery.mCustomScrollbar.min.css', rel='stylesheet', async)

block content-fluid
  .wrapper
    nav.d-md-block.sidebar#sidebar
      ul.nav.flex-column.nav-tabs
        li.nav-item
          a.nav-link.left-tab.active(href='#dashboard', data-toggle='tab')
            i.fas.fa-home.fa-lg
            |  Osnovna plošča 
        li.nav-item
          a.nav-link.left-tab(href='#services', data-toggle='tab')
            i.fas.fa-toolbox.fa-lg
            |  Servisi
        li.nav-item
          a.nav-link.left-tab(href='#projects', data-toggle='tab')
            i.fas.fa-briefcase.fa-lg
            |  Projekti
        li.nav-item
          a.nav-link.left-tab(href='#workOrders', data-toggle='tab')
            i.fas.fa-cog.fa-lg
            |  Delovni nalogi
        li.nav-item
          a.nav-link.left-tab(href='#employees', data-toggle='tab')
            i.fas.fa-users.fa-lg
            |  Zaposleni
        li.nav-item
          a.nav-link.left-tab(href='#daily', data-toggle='tab')
            i.fas.fa-clock.fa-lg
            |  Danes
        li.nav-item
          a.nav-link.left-tab(href='#calendar', data-toggle='tab')
            i.fas.fa-calendar-alt.fa-lg
            |  Koledar
        li.nav-item
          a.nav-link.left-tab(href='#visualisation', data-toggle='tab')
            i.fas.fa-chart-bar.fa-lg
            |  Vizualizacija
        li.nav-item
          a.nav-link.left-tab(href='#reports', data-toggle='tab')
            i.fas.fa-bullhorn.fa-lg
            |  Poročila
        li.nav-item
          a.nav-link.left-tab(href='#myProjects', data-toggle='tab')
            i.fas.fa-id-card-alt.fa-lg
            |  Moji projekti
        li.nav-item
          a.nav-link.left-tab(href='#myTasks', data-toggle='tab')
            i.fas.fa-tasks.fa-lg
            |  Moja opravila
        li.nav-item
          a.nav-link.left-tab(href='#myAbsences', data-toggle='tab')
            i.fas.fa-user-clock.fa-lg
            |  Moje odsotnosti
        li.nav-item
          a.nav-link.left-tab(href='#myNotifications', data-toggle='tab')
            i.fas.fa-bell.fa-lg
            |  Moja obvestila
        li.nav-item
          a.nav-link.left-tab(href='#subscribers', data-toggle='tab')
            i.fas.fa-building.fa-lg
            |  Naročniki
        li.nav-item
          a.nav-link.left-tab(href='#complaints', data-toggle='tab')
            i.fas.fa-sync.fa-lg
            |  Reklamacije
        li.nav-item
          a.nav-link.left-tab(href='#components', data-toggle='tab')
            i.fas.fa-hdd.fa-lg
            |  Standardne komponente
    #content
      button#sidebarCollapse.btn.btn-info(type='button')
        i.fas.fa-align-left
      #myTabContent.tab-content
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////DASHBOARD INSTR
        #dashboard.tab-pane.fade.active.show
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Osnovna plošča
          .bg-light
            h2 Krmiljenje po osnovni plošči
            p 
            | Po prijavi aplikacija RIS preusmeri uporabnika na osnovno ploščo oz. domov, od koder lahko dostopa do vseh ostalih funkcionalnosti, 
            | ki so mu omogočene. Na vrhu strani je vedno na voljo navigacijska vrstica, ki omogoča dostop do ostalih funkcionalnostih tudi na 
            | preostalih straneh, da se uporabniku ni potrebno vedno vračati na osnovno ploščo. Ob kliku na #[b Roboteh IS (RIS)] pa uporabnika od kjerkoli v aplikaciji preusmeri nazaj na osnovno ploščo.
            | Ob kliku na svoje ime pa se prikaže spustni meni z vsemi povezavami do preostalih funkcionalnostih.
            img.img-fluid.rounded.mx-auto.d-block.mt-1.mb-1(src='/instr/navbar.png', alt='Slika navigacijske vrstice')
            p
            | Na osnovi plošči so prikazane vse funkcionalnosti v obliki kartic. Vsaka kartica ima ikono, ime ter kratek opis funkcionalnosti. Klik na kartico ali pa na gumb pa preusmeri uporabnika na izbrano funkcionalnost.
            img.img-fluid.rounded.mx-auto.d-block.mt-1.mb-1(src='/instr/card.png', alt='Slika navigacijske vrstice')
            br
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////SERVICES INSTR
        #services.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Servisi - Storitve
          .bg-light
            //h2 Dostop do servisov
            h2 Navodila za uporabo funkcionalnosti Servisi - Storitve so v izdelavi.
          br
          .bg-light
            h2 Dostop do servisov - storitev
            p Do servisev/storitev je možno dostopati preko kartice Servisi - Storitev na Osnovni plošči ali pa preko povezave Servisi - Storitev v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardServices.png', alt='Slika kartice Servisov')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuServices.png', alt='Slika spustnega menija za servis')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////PROJECTS INSTR
        #projects.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Projekti
          .bg-light
            //h2 Dostop do projektov
            h2 Navodila za uporabo funkcionalnosti Projekti so v izdelavi.
          br
          .bg-light
            h2 Dostop do projektov
            p Do projektov je možno dostopati preko kartice Projekti na Osnovni plošči ali pa preko povezave Projekti v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardProjects.png', alt='Slika kartice Projektov')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuProjects.png', alt='Slika spustnega menija za projekte')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////EMPLOYEES INSTR
        #employees.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Zaposleni
          .bg-light
            //h2 Dostop do zaposlenih
            h2 Navodila za uporabo funkcionalnosti Zaposleni so v izdelavi.
          br
          .bg-light
            h2 Dostop do zaposlenih
            p Do zaposlenih je možno dostopati preko kartice Zaposleni na Osnovni plošči ali pa preko povezave Zaposleni v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardEmployees.png', alt='Slika kartice Zaposleni')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuEmployees.png', alt='Slika spustnega menija za zaposlene')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////SUBSCRIBERS INSTR
        #subscribers.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Naročniki
          .bg-light
            //h2 Dostop do naročnikov
            h2 Navodila za uporabo funkcionalnosti Naročniki so v izdelavi.
          br
          .bg-light
            h2 Dostop do naročnikov
            p.ml-2 Do naročnikov je možno dostopati preko kartice Naročniki na Osnovni plošči ali pa preko povezave Naročniki v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardSubscribers.png', alt='Slika kartice Naročniki')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuSubscribers.png', alt='Slika spustnega menija za naročnike')
          br
          .bg-light
            h2 Seznam naročnikov
            p.ml-2 Vse naročnike je možno videti na seznamu, ki se prikaže ob vsamem vstopu na stran. Vsak naročnik ima prikazan svoj naziv, naziv ikone in slika te če jo ima ter gumb, ki nam omogoča urejanje izbranega. Sam seznam je urejena po abecednem vrstem redu glede na naziv. Lahko pa uredimo seznam tudi glede na ikono.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1(src='/instr/subscribers/subs.png', alt='Slika seznama vseh naročnikov', style='width:80%;')
            br
          br
          .bg-light
            h2 Dodajanje in urejanje
            p.ml-2 Ob kliku na gumb Dodaj naročnika se odpre modalno okno, kjer lahko vnesemo naziv in sliko novega naročnika. Slik je neobvezna. Prav tako se nam odpre modalno okno pri urejanju izbranega naročnika preko gumba Uredi na seznam vseh. Pri urejanju lahko posodobimo ime in/ali ikono. Če naročnik že ima ikono in ne podamo nove, ta ostane enaka kot do zdaj.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1(src='/instr/subscribers/newSub.png', alt='Slika modalnega okna za dodajanje', style='width:300px;')
            br
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////VISUALISATION INSTR
        #visualisation.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Vizualizacija
          .bg-light
            //h2 Dostop do vizualizacije
            h2 Navodila za uporabo funkcionalnosti Vizualizacija so v izdelavi.
          br
          .bg-light
            h2 Dostop do Vizualizacije
            p Do vizualizacije je možno dostopati preko kartice Vizualizacije na Osnovni plošči ali pa preko povezave Vizualizacija v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardVis.png', alt='Slika kartice Vizualizacije')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuVis.png', alt='Slika spustnega menija za vizualizacijo')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////DAILY INSTR
        #daily.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Danes
          .bg-light
            //h2 Dostop do danes
            h2 Navodila za uporabo funkcionalnosti Danes so v izdelavi.
          br
          .bg-light
            h2 Dostop do Danes
            p Do Danes je možno dostopati preko kartice Danes na Osnovni plošči ali pa preko povezave Danes v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardDaily.png', alt='Slika kartice Danes')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuDaily.png', alt='Slika spustnega menija za danes')
          br
          .bg-light
            h2 Vmesnik Danes
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
              .d-flex.justify-content-center
                img.img-fluid.mt-1.mb-1(src='/instr/daily/mainAdmin.png', alt='Slika vmesnika Danes za priviligirane uporabnike', style="width: 90%;")
              p Stran prikazuje seznama opravil, ki bi se naj opravljala na trenutni dan ter opravila, ki so načrtovana v roku 7 dni. Prav tako se lahko seznama filtrirata glede na kategorijo ali pa glede na izbranega zaposlenega. Tako se prikažejo samo opravila glede na izbrano kategorijo oziroma zaposlenega. Nekateri uporabniki pa imajo tudi pravico spremeniti trenutni datum.
            else
              .d-flex.justify-content-center
                img.img-fluid.mt-1.mb-1(src='/instr/daily/main.png', alt='Slika vmesnika Danes', style="width: 90%;")
              p Stran prikazuje seznama opravil, ki bi se naj opravljala na trenutni dan ter opravila, ki so načrtovana v roku 7 dni. Prav tako se lahko seznama filtrirata glede na kategorijo ali pa glede na izbranega zaposlenega. Tako se prikažejo samo opravila glede na izbrano kategorijo oziroma zaposlenega.
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////CALENDAR INSTR
        #calendar.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Koledar
          .bg-light
            //h2 Dostop do koledarja
            h2 Navodila za uporabo funkcionalnosti Koledar so v izdelavi.
          br
          .bg-light
            h2 Dostop do Koledarja
            p Do koledarja je možno dostopati preko kartice Koledar na Osnovni plošči ali pa preko povezave Koledar v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardCalendar.png', alt='Slika kartice Koledar')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuCalendar.png', alt='Slika spustnega menija za koledar')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MY PROJECTS INSTR
        #myProjects.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Moji projekti
          .bg-light
            //h2 Dostop do mojih projektov
            h2 Navodila za uporabo funkcionalnosti Moji projekti so v izdelavi.
          br
          .bg-light
            h2 Dostop do Moji projekti
            p Do uporabnikovih projektov je možno dostopati preko kartice Moji projekti na Osnovni plošči ali pa preko povezave Moji projekti v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyProjects.png', alt='Slika kartice Moji projekti')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuMyProjects.png', alt='Slika spustnega menija za moje projekte')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MY TASKS INSTR
        #myTasks.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Moja opravila
          .bg-light
            //h2 Dostop do mojih opravil
            h2 Navodila za uporabo funkcionalnosti Moja opravila so v izdelavi.
          br
          .bg-light
            h2 Dostop do Moja opravila
            p Do uporabnikovih opravil je možno dostopati preko kartice Moja opravila na Osnovni plošči ali pa preko povezave Mojia opravila v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyTasks.png', alt='Slika kartice Moja opravila')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuMyTasks.png', alt='Slika spustnega menija za moja opravila')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MY ABSENCES INSTR
        #myAbsences.tab-pane.fade
          if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
              h1.h2 Odsotnosti
            .bg-light
              //h2 Dostop do mojih odsotnosti
              h2 Navodila za uporabo funkcionalnosti Odsotnosti so v izdelavi.
            br
            .bg-light
              h2 Dostop do Odsotnosti
              p Do odsotnosti je možno dostopati preko kartice Odsotnosti na Osnovni plošči ali pa preko povezave Odsotnosti v spustnem meniju na uporabnikovem imenu.
              .row.justify-content-center
                .col-sm-auto
                  img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyAbsences.png', alt='Slika kartice Odsotnosti')
                .col-sm-auto
                  img.img-fluid.mt-1.mb-1(src='/instr/menuAbsences.png', alt='Slika spustnega menija za Odsotnosti')
          else
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
              h1.h2 Moje odsotnosti
            .bg-light
              //h2 Dostop do mojih odsotnosti
              h2 Navodila za uporabo funkcionalnosti Moje odsotnosti so v izdelavi.
            br
            .bg-light
              h2 Dostop do Moje odsotnosti
              p Do uporabnikovih odsotnosti je možno dostopati preko kartice Moje odsotnosti na Osnovni plošči ali pa preko povezave Moje odsotnosti v spustnem meniju na uporabnikovem imenu.
              .row.justify-content-center
                .col-sm-auto
                  img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyAbsences.png', alt='Slika kartice Moje odsotnosti')
                .col-sm-auto
                  img.img-fluid.mt-1.mb-1(src='/instr/menuMyAbsences.png', alt='Slika spustnega menija za moje odsotnosti')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MY NOTIFICATIONS INSTR
        #myNotifications.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Moja obvestila
          .bg-light
            //h2 Dostop do mojih obvestil
            h2 Navodila za uporabo funkcionalnosti Moja obvestila so v izdelavi.
          br
          .bg-light
            h2 Dostop do Moja obvestila
            p Do uporabnikovih obvestil je možno dostopati preko kartice Moja obvestila na Osnovni plošči ali pa preko povezave Moja obvestila v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyNotifications.png', alt='Slika kartice Moja obvestila')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuMyNotifications.png', alt='Slika spustnega menija za moja obvestila')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////REPORTS INSTR
        #reports.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Poročila
          .bg-light
            //h2 Dostop do poročil
            h2 Navodila za uporabo funkcionalnosti Poročil so v izdelavi.
          br
          .bg-light
            h2 Dostop do Poročil
            p Do poročil je možno dostopati preko kartice Poročila na Osnovni plošči ali pa preko povezave Poročila v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardReports.png', alt='Slika kartice Poročil')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuReports.png', alt='Slika spustnega menija za poročila')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////STANDARD INSTR
        #components.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Standardne komponente
          .bg-light
            h2 Navodila za uporabo funkcionalnosti Reklamacij so v izdelavi.
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////COMPLAINTS INSTR
        #complaints.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Reklamacije
          .bg-light
            h2 Navodila za uporabo funkcionalnosti Reklamacij so v izdelavi.
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////WORKS ORDERS INSTR
        #workOrders.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Delovni nalogi
          .bg-light
            //h2 Dostop do delovnih nalogov
            h2 Navodila za uporabo funkcionalnosti Delovni nalogi so v izdelavi.
          br
          .bg-light
            h2 Dostop do Delovnih nalog
            p Do delovnih nalog je možno dostopati preko kartice Delovni nalogi na Osnovni plošči ali pa preko povezave Delovni nalogi v spustnem meniju na uporabnikovem imenu.
            .row.justify-content-center
              .col-sm-auto
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardWorkOrders.png', alt='Slika kartice Delovni nalog')
              .col-sm-auto
                img.img-fluid.mt-1.mb-1(src='/instr/menuWorkorders.png', alt='Slika spustnega menija za delovni nalog')
  script(type='text/javascript', src='../javascripts/instr/instr.js', async)