extends layout

block skripte
  link(href='/stylesheets/styleTest.css', rel='stylesheet', async)
  script(src='../javascripts/jquery.mCustomScrollbar.concat.min.js')
  link(href='/javascripts/jquery.mCustomScrollbar.min.css', rel='stylesheet', async)

block content-fluid
  .wrapper
    // Sidebar
    nav#sidebar.bg-secondary
      .sidebar-header
        h3 Kazalo navodil
      ul.list-unstyled.components
        li.active
          div(href='#dashboard', data-toggle='tab')
            a.dropdown-toggle.dropdown-toggle-menu(href='#homeSubmenu' data-toggle='collapse' aria-expanded='false') Osnovna plošča
          ul#homeSubmenu.collapse.list-unstyled
            li
              a(href='#dashboard-first') Krmiljenje po RIS-u
            li
              a(href='#dashboard-second') Kartice
        li
          a(href='#services', data-toggle='tab') Servis - Storitv
        li
          a.dropdown-toggle.dropdown-toggle-menu(href='#pageSubmenu' data-toggle='collapse' aria-expanded='false') Projekti
          ul#pageSubmenu.collapse.list-unstyled
            li
              a(href='#') Seznam projektov
            li
              a(href='#') Dodajanje
            li
              a(href='#') Projekt
              ul#projectSubmenu.collapse.list-unstyled
        li
          a(href='#') Delovni nalogi
        li
          a(href='#') Zaposleni
        li
          a(href='#') Danes 
        li
          a(href='#') Koledar 
        li
          a(href='#') Vizualizacija
        li
          a(href='#') Poročila 
        li
          a(href='#') Moji projekti 
        li
          a(href='#') Odsotnosti 
        li
          a(href='#') Moja obvestila 
        li
          a(href='#') Zapisnik sestanka kolegija
        li
          span(href='#subscribers', data-toggle='tab')
            a.dropdown-toggle.dropdown-toggle-menu(href='#subscribersSubmenu' data-toggle='collapse' aria-expanded='false') Naročniki
          ul#subscribersSubmenu.collapse.list-unstyled
            li
              a(href='#subscribers-one') Dostop do naročnikov
            li
              a(href='#subscribers-two') Seznam naročnikov
            li
              a(href='#subscribers-three') Dodajanje in urejanje
        li
          a(href='#') Reklamacije 
        li
          a(href='#') Standardne komponente
    // Page Content
    #content
      button#sidebarCollapse.btn.btn-info(type='button')
        i.fas.fa-align-left
      #myTabContent.tab-content
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////DASHBOARD INSTR
        #dashboard.tab-pane.fade.active.show
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Osnovna plošča
          #dashboard-first.bg-light
            h2 Krmiljenje po RobotehIS
            p 
            | Po prijavi aplikacija RIS preusmeri uporabnika na osnovno ploščo oz. domov, od koder lahko dostopa do vseh ostalih funkcionalnosti, 
            | ki so mu omogočene. Na vrhu strani je vedno na voljo navigacijska vrstica, ki omogoča dostop do ostalih funkcionalnostih tudi na 
            | preostalih straneh, da se uporabniku ni potrebno vedno vračati na osnovno ploščo. Ob kliku na #[b Roboteh IS (RIS)] pa uporabnika od kjerkoli v aplikaciji preusmeri nazaj na osnovno ploščo.
            | Ob kliku na svoje ime pa se prikaže spustni meni z vsemi povezavami do preostalih funkcionalnostih.
            img.img-fluid.rounded.mx-auto.d-block.mt-1.mb-1(src='/instr/navbar.png', alt='Slika navigacijske vrstice')
          #dashboard-second.bg-light
            h2 Kartice - povezave do funkcionalnosti
            p
            | Na osnovi plošči so prikazane vse funkcionalnosti v obliki kartic. Vsaka kartica ima ikono, ime ter kratek opis funkcionalnosti. Klik na kartico ali pa na gumb pa preusmeri uporabnika na izbrano funkcionalnost.
            img.img-fluid.rounded.mx-auto.d-block.mt-1.mb-1(src='/instr/card.png', alt='Slika navigacijske vrstice')
            br
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////SERVICES INSTR
        #services.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Servisi - Storitve
          .bg-light
            //h2 Dostop do servisov
            h2 Navodila za uporabo funkcionalnosti Servisi - Storitve so v izdelavi.
          br
          .bg-light
            h2 Dostop do servisov - storitev
            p Do servisev/storitev je možno dostopati preko kartice Servisi - Storitev na Osnovni plošči ali pa preko povezave Servisi - Storitev v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardServices.png', alt='Slika kartice Servisov')
              img.img-fluid.mt-1.mb-1(src='/instr/menuServices.png', alt='Slika spustnega menija za servis')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////PROJECTS INSTR
        #projects.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Projekti
          .bg-light
            //h2 Dostop do projektov
            h2 Navodila za uporabo funkcionalnosti Projekti so v izdelavi.
          br
          .bg-light
            h2 Dostop do projektov
            p Do projektov je možno dostopati preko kartice Projekti na Osnovni plošči ali pa preko povezave Projekti v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardProjects.png', alt='Slika kartice Projektov')
              img.img-fluid.mt-1.mb-1(src='/instr/menuProjects.png', alt='Slika spustnega menija za projekte')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////EMPLOYEES INSTR
        #employees.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Zaposleni
          .bg-light
            //h2 Dostop do zaposlenih
            h2 Navodila za uporabo funkcionalnosti Zaposleni so v izdelavi.
          br
          .bg-light
            h2 Dostop do zaposlenih
            p Do zaposlenih je možno dostopati preko kartice Zaposleni na Osnovni plošči ali pa preko povezave Zaposleni v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardEmployees.png', alt='Slika kartice Zaposleni')
              img.img-fluid.mt-1.mb-1(src='/instr/menuEmployees.png', alt='Slika spustnega menija za zaposlene')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////SUBSCRIBERS INSTR
        #subscribers.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Naročniki
          .bg-light
            //h2 Dostop do naročnikov
            h2 Navodila za uporabo funkcionalnosti Naročniki so v izdelavi.
          br
          #subscribers-one.bg-light.anchor
            h2 Dostop do naročnikov
            p.ml-2 Do naročnikov je možno dostopati preko kartice Naročniki na Osnovni plošči ali pa preko povezave Naročniki v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardSubscribers.png', alt='Slika kartice Naročniki')
              img.img-fluid.mt-1.mb-1(src='/instr/menuSubscribers.png', alt='Slika spustnega menija za naročnike')
          br
          #subscribers-two.bg-light.anchor
            h2 Seznam naročnikov
            p.ml-2 Vse naročnike je možno videti na seznamu, ki se prikaže ob vsamem vstopu na stran. Vsak naročnik ima prikazan svoj naziv, naziv ikone in slika te če jo ima ter gumb, ki nam omogoča urejanje izbranega. Sam seznam je urejena po abecednem vrstem redu glede na naziv. Lahko pa uredimo seznam tudi glede na ikono.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1(src='/instr/subscribers/subs.png', alt='Slika seznama vseh naročnikov', style='width:80%;')
            br
          br
          #subscribers-three.bg-light.anchor
            h2 Dodajanje in urejanje
            p.ml-2 Ob kliku na gumb Dodaj naročnika se odpre modalno okno, kjer lahko vnesemo naziv in sliko novega naročnika. Slik je neobvezna. Prav tako se nam odpre modalno okno pri urejanju izbranega naročnika preko gumba Uredi na seznam vseh. Pri urejanju lahko posodobimo ime in/ali ikono. Če naročnik že ima ikono in ne podamo nove, ta ostane enaka kot do zdaj.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1(src='/instr/subscribers/newSub.png', alt='Slika modalnega okna za dodajanje', style='width:300px;')
            br
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////VISUALISATION INSTR
        #visualisation.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Vizualizacija
          .bg-light
            //h2 Dostop do vizualizacije
            h2 Navodila za uporabo funkcionalnosti Vizualizacija so v izdelavi.
          br
          .bg-light
            h2 Dostop do Vizualizacije
            p Do vizualizacije je možno dostopati preko kartice Vizualizacije na Osnovni plošči ali pa preko povezave Vizualizacija v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardVis.png', alt='Slika kartice Vizualizacije')
              img.img-fluid.mt-1.mb-1(src='/instr/menuVis.png', alt='Slika spustnega menija za vizualizacijo')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////DAILY INSTR
        #daily.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Danes
          .bg-light
            //h2 Dostop do danes
            h2 Navodila za uporabo funkcionalnosti Danes so v izdelavi.
          br
          .bg-light
            h2 Dostop do Danes
            p Do Danes je možno dostopati preko kartice Danes na Osnovni plošči ali pa preko povezave Danes v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardDaily.png', alt='Slika kartice Danes')
              img.img-fluid.mt-1.mb-1(src='/instr/menuDaily.png', alt='Slika spustnega menija za danes')
          br
          .bg-light
            h2 Vmesnik Danes
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
              .d-flex.justify-content-center
                img.img-fluid.mt-1.mb-1(src='/instr/daily/mainAdmin.png', alt='Slika vmesnika Danes za priviligirane uporabnike', style="width: 90%;")
              p Stran prikazuje seznama opravil, ki bi se naj opravljala na trenutni dan ter opravila, ki so načrtovana v roku 7 dni. Prav tako se lahko seznama filtrirata glede na kategorijo ali pa glede na izbranega zaposlenega. Tako se prikažejo samo opravila glede na izbrano kategorijo oziroma zaposlenega. Nekateri uporabniki pa imajo tudi pravico spremeniti trenutni datum.
            else
              .d-flex.justify-content-center
                img.img-fluid.mt-1.mb-1(src='/instr/daily/main.png', alt='Slika vmesnika Danes', style="width: 90%;")
              p Stran prikazuje seznama opravil, ki bi se naj opravljala na trenutni dan ter opravila, ki so načrtovana v roku 7 dni. Prav tako se lahko seznama filtrirata glede na kategorijo ali pa glede na izbranega zaposlenega. Tako se prikažejo samo opravila glede na izbrano kategorijo oziroma zaposlenega.
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////CALENDAR INSTR
        #calendar.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Koledar
          .bg-light
            //h2 Dostop do koledarja
            h2 Navodila za uporabo funkcionalnosti Koledar so v izdelavi.
          br
          .bg-light
            h2 Dostop do Koledarja
            p Do koledarja je možno dostopati preko kartice Koledar na Osnovni plošči ali pa preko povezave Koledar v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardCalendar.png', alt='Slika kartice Koledar')
              img.img-fluid.mt-1.mb-1(src='/instr/menuCalendar.png', alt='Slika spustnega menija za koledar')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MY PROJECTS INSTR
        #myProjects.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Moji projekti
          .bg-light
            //h2 Dostop do mojih projektov
            h2 Navodila za uporabo funkcionalnosti Moji projekti so v izdelavi.
          br
          .bg-light
            h2 Dostop do Moji projekti
            p Do uporabnikovih projektov je možno dostopati preko kartice Moji projekti na Osnovni plošči ali pa preko povezave Moji projekti v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyProjects.png', alt='Slika kartice Moji projekti')
              img.img-fluid.mt-1.mb-1(src='/instr/menuMyProjects.png', alt='Slika spustnega menija za moje projekte')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MY TASKS INSTR
        #myTasks.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Moja opravila
          .bg-light
            //h2 Dostop do mojih opravil
            h2 Navodila za uporabo funkcionalnosti Moja opravila so v izdelavi.
          br
          .bg-light
            h2 Dostop do Moja opravila
            p Do uporabnikovih opravil je možno dostopati preko kartice Moja opravila na Osnovni plošči ali pa preko povezave Mojia opravila v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyTasks.png', alt='Slika kartice Moja opravila')
              img.img-fluid.mt-1.mb-1(src='/instr/menuMyTasks.png', alt='Slika spustnega menija za moja opravila')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MY ABSENCES INSTR
        #myAbsences.tab-pane.fade
          if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase().substring(0,5) == 'vodja')
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
              h1.h2 Odsotnosti
            .bg-light
              //h2 Dostop do mojih odsotnosti
              h2 Navodila za uporabo funkcionalnosti Odsotnosti so v izdelavi.
            br
            .bg-light
              h2 Dostop do Odsotnosti
              p Do odsotnosti je možno dostopati preko kartice Odsotnosti na Osnovni plošči ali pa preko povezave Odsotnosti v spustnem meniju na uporabnikovem imenu.
              .d-flex.justify-content-center
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyAbsences.png', alt='Slika kartice Odsotnosti')
                img.img-fluid.mt-1.mb-1(src='/instr/menuAbsences.png', alt='Slika spustnega menija za Odsotnosti')
          else
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
              h1.h2 Moje odsotnosti
            .bg-light
              //h2 Dostop do mojih odsotnosti
              h2 Navodila za uporabo funkcionalnosti Moje odsotnosti so v izdelavi.
            br
            .bg-light
              h2 Dostop do Moje odsotnosti
              p Do uporabnikovih odsotnosti je možno dostopati preko kartice Moje odsotnosti na Osnovni plošči ali pa preko povezave Moje odsotnosti v spustnem meniju na uporabnikovem imenu.
              .d-flex.justify-content-center
                img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyAbsences.png', alt='Slika kartice Moje odsotnosti')
                img.img-fluid.mt-1.mb-1(src='/instr/menuMyAbsences.png', alt='Slika spustnega menija za moje odsotnosti')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////MY NOTIFICATIONS INSTR
        #myNotifications.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Moja obvestila
          .bg-light
            //h2 Dostop do mojih obvestil
            h2 Navodila za uporabo funkcionalnosti Moja obvestila so v izdelavi.
          br
          .bg-light
            h2 Dostop do Moja obvestila
            p Do uporabnikovih obvestil je možno dostopati preko kartice Moja obvestila na Osnovni plošči ali pa preko povezave Moja obvestila v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardMyNotifications.png', alt='Slika kartice Moja obvestila')
              img.img-fluid.mt-1.mb-1(src='/instr/menuMyNotifications.png', alt='Slika spustnega menija za moja obvestila')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////REPORTS INSTR
        #reports.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Poročila
          .bg-light
            //h2 Dostop do poročil
            h2 Navodila za uporabo funkcionalnosti Poročil so v izdelavi.
          br
          .bg-light
            h2 Dostop do Poročil
            p Do poročil je možno dostopati preko kartice Poročila na Osnovni plošči ali pa preko povezave Poročila v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardReports.png', alt='Slika kartice Poročil')
              img.img-fluid.mt-1.mb-1(src='/instr/menuReports.png', alt='Slika spustnega menija za poročila')
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////WORKS ORDERS INSTR
        #workOrders.tab-pane.fade
          .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom.bg-light
            h1.h2 Delovni nalogi
          .bg-light
            //h2 Dostop do delovnih nalogov
            h2 Navodila za uporabo funkcionalnosti Delovni nalogi so v izdelavi.
          br
          .bg-light
            h2 Dostop do Delovnih nalog
            p Do delovnih nalog je možno dostopati preko kartice Delovni nalogi na Osnovni plošči ali pa preko povezave Delovni nalogi v spustnem meniju na uporabnikovem imenu.
            .d-flex.justify-content-center
              img.img-fluid.mt-1.mb-1.mr-5(src='/instr/cardWorkOrders.png', alt='Slika kartice Delovni nalog')
              img.img-fluid.mt-1.mb-1(src='/instr/menuWorkorders.png', alt='Slika spustnega menija za delovni nalog')
  script(type='text/javascript', src='../javascripts/instr/instr.js', async)