doctype html
html(lang='sl')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    //link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    //link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', async)
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', async)
    link(rel='stylesheet', href='/bootstrap/css/sandstone.bootstrap.min.css', async)
    link(rel='stylesheet', href='/stylesheets/style.min.css', async)
    //link(rel='stylesheet', href='/stylesheets/style.css', async)
    if user_name
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
      script(type='text/javascript', src='../javascripts/jquery-3.6.0.min.js')
      script(src='/bootstrap/js/bootstrap.bundle.min.js')
      //- moment
      script(src='/moment/moment.min.js')
      script(src='/moment/sl.min.js')
      //- moment timezone
      script(src='/moment/moment-timezone.min.js')
      script(src='/moment/moment-timezone-utils.min.js')
      //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
      //script(type='text/javascript', src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js", async)
    //script(type='text/javascript', src='../javascripts/popper.min.js', async)
    //
    block skripte
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
      a.navbar-brand(href='/') 
        strong Roboteh IS (RIS)
      if user_name
        #navbarColor01.ml-auto
          ul.nav.navbar-nav.nav-flex-icons.ml-auto
            li.nav-item.dropdown
              a#loggedUser.nav-link.dropdown-toggle.user-name-size(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')= user_name + " "+user_surname+" ("+user_type+")"
              .dropdown-menu(x-placement='bottom-start')
                if (user_type.toLowerCase().substring(0,4) != 'info')
                  //if (user_type == 'admin' || user_type == 'tajnik' || user_type.substring(0,5) == 'vodja')
                  a.dropdown-item(href='/servis') Servis - Storitev
                  a.dropdown-item(href='/projects') Projekti
                  a.dropdown-item(href='/workorders') Delovni nalogi
                  a.dropdown-item(href='/employees') Zaposleni
                  .dropdown-divider
                  a.dropdown-item(href='/daily') Danes
                  a.dropdown-item(href='/calendar/mobiscroll') Koledar
                  a.dropdown-item(href='/viz') Vizualizacija
                  a.dropdown-item(href='/reports') Poročila
                  .dropdown-divider
                  a.dropdown-item(href='/employees/userId?userId='+user_id) Moji projekti
                  a.dropdown-item(href='/employees/tasks?userId='+user_id) Moja opravila
                  if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
                    a.dropdown-item(href='/absences') Odsotnosti
                  else
                    a.dropdown-item(href='/absences?userId='+user_id) Moje odsotnosti
                  a.dropdown-item(href='/changes/ctrlpanel') Moja obvestila
                  .dropdown-divider
                  a.dropdown-item(href='/subscribers') Naročniki
                  //a.dropdown-item(href='/complaints') Reklamacije
                  a.dropdown-item(href='/instructions') Navodila
                else
                  a.dropdown-item(href='/daily') Danes
                  a.dropdown-item(href='/calendar') Koledar
                  .dropdown-divider
                  a.dropdown-item(href='/instructions') Navodila
                .dropdown-divider
                a#logoutLink.dropdown-item(href='/logout') Odjava
                //else if (user_type.substring(0,4) != 'info')
                  //else if (user_type == 'programer robotov' || user_type == 'programer plc-jev' || user_type == 'konstrukter' || user_type == 'konstruktor')
                  a.dropdown-item(href='/servis') Servis - Storitev
                  a.dropdown-item(href='/projects') Projekti
                  a.dropdown-item(href='/workorders') Delovni nalogi
                  .dropdown-divider
                  a.dropdown-item(href='/daily') Danes
                  a.dropdown-item(href='/calendar') Koledar
                  a.dropdown-item(href='/reports') Poročila
                  .dropdown-divider
                  a.dropdown-item(href='/employees/userId?userId='+user_id) Moji projekti
                  a.dropdown-item(href='/employees/tasks?userId='+user_id) Moja opravila
                  a.dropdown-item(href='/employees/absence?id='+user_id) Moje odsotnosti
                  a.dropdown-item(href='/changes/ctrlpanel') Moja obvestila
                  .dropdown-divider
                  a.dropdown-item(href='/instructions') Navodila
                  //else if (user_type.substring(0,4) != 'info')
                    a.dropdown-item(href='/employees/userId?userId='+user_id) Moji projekti
                    a.dropdown-item(href='/employees/tasks?userId='+user_id) Moja opravila
                    a.dropdown-item(href='/employees/absence?id='+user_id) Moje odsotnosti
                    a.dropdown-item(href='/changes/ctrlpanel') Moja obvestila
                    .dropdown-divider
                    a.dropdown-item(href='/workorders') Delovni nalogi
                    a.dropdown-item(href='/reports') Poročila
                    .dropdown-divider
                    a.dropdown-item(href='/daily') Danes
                    a.dropdown-item(href='/calendar') Koledar
                    .dropdown-divider
                    a.dropdown-item(href='/instructions') Navodila
    .container
      br
      block content
    .container-fluid
      block content-fluid
    if user_name
      #notificationBar.notification-bar
        .d-flex.justify-content-between.invisble-button.fake-button
          .h5.mt-1.ml-1 Obvestila
          #notificationButton.mt-1.mr-3
            i.fas.fa-caret-down.fa-lg
        #notificationBody.mr-2.ml-2.notification-body.collapse.show
    //MODALNO OKNO ZA NAPAKO
    #modalError.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .row
              .col-4
                img#msgImg.img-fluid.w-120px(src='/warning_sign.png', alt='ikona')
              .col-8.mt-3
                h5#errorModalMsg.text-center Prišlo je do napake na strežniku. Prosimo, da osvežite stran. V primeru ponovitve napake prosimo, da obvestite administratorje RIS-a.
            //.text-center
              button#btnDeleteDateConf.btn.btn-danger.mb-n2(onclick='deleteDateConfirm()') Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    if user_name
      //MODALNO OKNO ZA POTEK SEJE
      #modalSessionExpired.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header.text-center
              h4.modal-title.w-100.font-weight-bold POZOR
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              .row
                .col-4
                  img#msgImg.img-fluid.w-120px(src='/info_sign.png', alt='ikona')
                .col-8.mt-3
                  h5#errorModalMsg.text-center Vaša seja je potekla. Preusmerjeni boste na stran za prijavo v sistem RobotehIS.
            .modal-footer.d-flex.justify-content-center
              .text-center
                button#btnRedirectConf.btn.btn-primary Potrdi
              //- button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //TOAST ZA PRIHAJOC POTEK SEJE
      .d-flex.justify-content-center.align-items-center.fixed-bottom(aria-live='polite' aria-atomic='true')
        #notifySessionToast.toast(role='alert' aria-live='assertive' aria-atomic='true' data-autohide='false')
          .toast-body.d-flex
            span#notifyToastMsg.h5
              | Vaša seja bo potekla čez 5 minut. Da osvežite sejo se 
              a.alert-link(href='/logout') znova prijavite
              | .
    footer
      .row
        .col-xs-12
          .ml-4
            small.left-corner &copy; Klemen Šibal 2021
if user_name
  script(type='text/javascript', src='../javascripts/notifications/notificationBar.js', async)
  //script(type='text/javascript', src='../javascripts/notifications/notifications.min.js', async)