extends layout

block content
  .page-header
    .row
  .col-sm-6.offset-sm-3.text-center
    h1.display-4 Prijava v RobotehIS
    .col-sm-12
      if (message)
        #messageAlert.alert.alert-danger.alert-dismissible.average(role='alert')
          p#messageLabel=message
          #hours.d-none= hours
          #minutes.d-none= minutes
          #seconds.d-none= seconds
    .info-form
      form.form-inlin.justify-content-center(method='post')
        .form-group
          label.sr-only Uporabniško ime
          input.form-control(type='text', name='username', required='', placeholder='Uporabniško ime')
        .form-group
          label.sr-only Geslo
          input.form-control(type='password', name='password', required='', placeholder='Geslo', autocomplete='off')
        button.btn.btn-primary(type='submit') Prijava
  script(type='text/javascript', src='../javascripts/login/login.min.js', async)