extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  //script(type='text/javascript', src='/pdfmake/pdfmake.min.js')
  //script(type='text/javascript', src='/pdfmake/pdfmake.min.js.map', async)
  //script(type='text/javascript', src='/pdfmake/vfs_fonts.js')
  link(href='/select2/select2.min.css', rel='stylesheet')
  script(src='/select2/select2.min.js')
  //pdfmake
  //link(rel='stylesheet', href='/stylesheets/styleTest.css', async)

block content-fluid
  .page-header
    .row
      .col-lg-12
        h1 Zapisnik sestankov
  //if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik' || user_type == 'programer robotov' || user_type == 'programer plc-jev' || user_type == 'konstrukter' || user_type == 'konstruktor')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    br
    .row.col-lg-12
      //a#btnCollapseTask.btn.btn-primary.mr-2.active(data-toggle='collapse', href='#collapseTableTask', role='button', aria-expanded='false', aria-controls='collapseTableTask') Opravila
      //a#btnCollapseFile.btn.btn-primary(data-toggle='collapse', href='#collapseFileTab', role='button', aria-expanded='false', aria-controls='collapseFileTab') Datoteke
      button#btnCollapseActivity.btn.btn-primary.mr-2.active Aktivnosti
      button#btnCollapseMeeting.btn.btn-primary.mr-2 Sestanki
      //button#btnOpenPDF.btn.btn-info(onclick='openPDFModal()') PDF
      a#btnToPDF.btn.btn-info(href='/meetings/pdfs/?optionStatus=0&optionCategory=0&optionActive=1') PDF
      button#btnLeaderMeetings.btn.btn-primary.ml-auto.mr-2.active Vodstvo
      button#btnCategoryMeetings.btn.btn-primary Oddelki
    .row
      .col
        #collapseActivities.collapse.multi-collapse.show
          br
          #activitiesGroupButtons.btn-toolbar(role='toolbar', aria-label='Toolbar for activities status')
            #categoryGroupButtons.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(data-toggle='buttons', aria-label='category group')
            #statusGroupButtons.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(role='group' aria-label='Status group')
              button#optionStatus0.btn.btn-primary.active.stay-focus(type='button', name='optionsStatus', autocomplete='off', value="0") Vse
              button#optionStatus1.btn.btn-danger(type='button', name='optionsStatus', autocomplete='off', value="1") Odprte
              button#optionStatus2.btn.btn-success(type='button', name='optionsStatus', autocomplete='off', value="2") Zaključene
              button#optionStatus3.btn.btn-secondary(type='button', name='optionsStatus', autocomplete='off', value="3") Ostale
            //- #statusGroupButtons.btn-group(role='group' aria-label='Basic example')
              button.btn.btn-secondary(type='button') Left
              button.btn.btn-secondary(type='button') Middle
              button.btn.btn-secondary(type='button') Right
            if (user_type.toLowerCase() == 'admin')
              #activeGroupButtons.btn-group.btn-group-toggle.mr-2.mt-2(role='group' aria-label='Active activity group')
                button#optionAllactivities.btn.btn-primary(type='button', name='optionsActive', autocomplete='off', value="0") Vse
                button#optionTrueActivities.btn.btn-primary.active.stay-focus(type='button', name='optionsActive', autocomplete='off', value="1") Aktivne
                button#optionFalseActivities.btn.btn-secondary(type='button', name='optionsActive', autocomplete='off', value="2") Neaktivne
            else 
              #activeGroupButtons.btn-group.btn-group-toggle.mr-2.mt-2(data-toggle='buttons', aria-label='Active activity group')
          //add activities here
          br
          table.table.table-hover.table-hover-custom.bg-light.table-bordered.table-striped.table-responsive-xl.tableFixHead
            thead
              tr#activityHead
                th.text-center.w-115px(scope='col') Datum
                th#activityHeadName.w-320px(scope='col') Aktivnost/Naloga/Ukrep
                th.text-center.w-200px(scope='col') Odgovoren
                th.text-center.w-115px(scope='col') Rok 1
                th.text-center.w-115px(scope='col') Rok 2
                th.text-center.w-115px(scope='col') Rok 3
                th.text-center.w-155px(scope='col') Status
                th(scope='col') Opombe
                th.w-125px(scope='col')
            tbody#activitiesTableBody
              each activity in activities
                -
                  var today = new Date()
                  var myClass = '';
                  if (activity.status_id == '1')
                    myClass = 'bg-danger'
                  else if (activity.status_id == '2')
                    myClass = 'bg-success'
                  else if (activity.status_id == '3')
                    myClass = 'bg-warning'
                  var rowClass = 'table-success';
                  if (activity.status_id == '1')
                    rowClass = 'table-danger'
                  rowClass='';
                tr(class=rowClass, id='activity'+activity.id)
                  td(id='activityDate'+activity.id)= activity.formatted_date.date
                  td(id='activityName'+activity.id)= activity.activity
                  if (activity.responsible_all)
                    td(id='activityResponsible'+activity.id)= 'VSI'
                  else
                    td(id='activityResponsible'+activity.id)= activity.responsible_users
                  if (today > activity.deadline1 && !activity.deadline2 && activity.status_id != '2')
                    td.text-danger(id='activityFirstDeadline'+activity.id)= activity.formatted_deadline1.date
                  else
                    td(id='activityFirstDeadline'+activity.id)= activity.formatted_deadline1.date
                  if (activity.formatted_deadline2)
                    if (today > activity.deadline2 && !activity.deadline3 && activity.status_id != '2')
                      td.text-danger(id='activitySecondDeadline'+activity.id)= activity.formatted_deadline2.date
                    else
                      td(id='activitySecondDeadline'+activity.id)= activity.formatted_deadline2.date
                  else
                    td(id='activitySecondDeadline'+activity.id)
                  if (activity.formatted_deadline3)
                    if (today > activity.deadline3 && activity.status_id != '2')
                      td.text-danger(id='activityThirdDeadline'+activity.id)= activity.formatted_deadline3.date
                    else
                      td(id='activityThirdDeadline'+activity.id)= activity.formatted_deadline3.date
                  else
                    td(id='activityThirdDeadline'+activity.id)
                  td(class=myClass id='activityStatusCell'+activity.id)
                    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                      .form-group.ml-auto.mb-n1.w-130px
                        select.custom-select.status-select(id='activityStatus'+activity.id, disabled)
                          each activityStatus in status
                            if (activity.status_id == activityStatus.id)
                              option(value=activityStatus.id, selected='')= activityStatus.status
                            else
                              option(value=activityStatus.id)= activityStatus.status
                    else
                      .form-group.ml-auto.mb-n1.w-130px
                        select.custom-select.status-select(id='activityStatus'+activity.id onChange='changeStatus('+activity.id+')' disabled)
                          each activityStatus in status
                            if (activity.status_id == activityStatus.id)
                              option(value=activityStatus.id, selected='')= activityStatus.status
                            else
                              option(value=activityStatus.id)= activityStatus.status
                  if (activity.note)
                    td(id='activityNotes'+activity.id)= activity.note
                  else
                    td(id='activityNotes'+activity.id)
                  td(id='activityButtons'+activity.id)
                    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
                      button.btn.btn-danger.ml-2.mb-n1.btn-delete(id='activityButtonDelete'+activity.id, data-toggle="tooltip", data-original-title="Odstrani")
                        i.fas.fa-trash.fa-lg
                      button.btn.btn-primary.ml-2.mb-n1.btn-edit(id='activityButtonEdit'+activity.id, data-toggle="tooltip", data-original-title="Uredi")
                          i.fas.fa-pen.fa-lg
            //ADD ROW INSIDE TABLE
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
              tr(id='newActivityRow')
                form#addActivityForm(role='form', method='post', action='/meetings/activity')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#activityDateNew.form-control.remove-calendar-icon(type='date', name='activityDateNew', disabled, required='')
                  td#activityNameNewCell
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#activityNameNew.form-control(type='text', name='activityNameNew', required='', autocomplete="off")
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      select#activityResponsibleNew.custom-select.mr-sm-2.form-control.select2-users.w-100(name='responsibleNew')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#activityFirstDeadlineNew.form-control.hide-calendar-icon.w-110px(type='date', name='activityFirstDeadlineNew', required='')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#activitySecondDeadlineNew.form-control.hide-calendar-icon.w-110px(type='date', name='activitySecondDeadlineNew')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#activityThirdDeadlineNew.form-control.hide-calendar-icon.w-110px(type='date', name='activityThirdDeadlineNew')
                  td
                    .form-group.mb-n2.w-130px
                      select.custom-select(id='activityStatusNew')
                        each activityStatus in status
                            option(value=activityStatus.id)= activityStatus.status
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      textarea#activityNoteNew.form-control(rows="1", name='activityNoteNew', autocomplete="off")
                  td
                    .row
                      .custom-control.custom-checkbox.ml-4.mr-n3.mt-2
                        input#activityRespAllNew.custom-control-input.p-1(type='checkbox' name='responsible-all-new')
                        label.custom-control-label(for='activityRespAllNew') VSI
                      button.btn.btn-success.ml-4.mb-n1(type='submit', id='addActivityBtn', data-toggle="tooltip", data-original-title="Dodaj")
                        i.fas.fa-plus.fa-lg
        #collapseMeetings.collapse.multi-collapse
          br
          h3 Sestanki
          if (user_type.toLowerCase() == 'admin')
            .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
              #activeMeetingGroupButtons.btn-group.btn-group-toggle.mr-2.mt-2(role='group' aria-label='Active meeting group')
                button#optionAllMeetings.btn.btn-primary(type='button', name='options', autocomplete='off', value="0") Vsi
                button#optionTrueMeetings.btn.btn-primary.active.stay-focus(type='button', name='options', autocomplete='off', value="1") Aktivni
                button#optionFalseMeetings.btn.btn-secondary(type='button', name='options', autocomplete='off', value="2") Neaktivni
          br
          #meetingsList.list-group.mt-2
            each meeting in meetings
              if (meeting.active)
                .list-group-item(id='meeting'+meeting.id)
                  .row
                    .col-md-2
                      div(id='meetingNumber'+meeting.id)= meeting.counter + '. sestanek'
                    .col-md-2
                      div(id='meetingDate'+meeting.id)= 'Datum: ' + meeting.formatted_date.date
                    .col-md-2
                      div(id='meetingStart'+meeting.id)= 'Začetek: ' + meeting.formatted_date.time
                    .col-md-2
                      if (meeting.finished)
                        div(id='meetingFinish'+meeting.id)= 'Konec: ' + meeting.formatted_finished.date + ' ob ' + meeting.formatted_finished.time
                      else
                        div(id='meetingFinish'+meeting.id) Konec:
                    .col-md-4.d-flex
                      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
                        .ml-auto.mb-1.mt-n1(id='meetingButtons'+meeting.id)
                          button.btn.btn-danger.ml-2.mb-n1.btn-delete(id='meetingButtonDelete'+meeting.id, data-toggle="tooltip", data-original-title="Odstrani")
                            i.fas.fa-trash.fa-lg
                          button.btn.btn-primary.ml-2.mb-n1.btn-edit(id='meetingButtonEdit'+meeting.id, data-toggle="tooltip", data-original-title="Uredi")
                              i.fas.fa-pen.fa-lg
                  .row
                    .col-md-12.d-flex
                      if (meeting.present_users)
                        div(id='meetingPresence'+meeting.id)= 'Prisotni: ' + meeting.present_users
                      else
                        div(id='meetingPresence'+meeting.id)= 'Prisotni: '
                  .collapse.multi-collapse.task-collapse(id='collapseEditMeeting'+meeting.id)
          br
          if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
            #addMeetingRow
              if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
                .text-center
                  button#btnNewMeeting.btn.btn-success Dodaj sestanek
    br
    br
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
      nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary.fixed-bottom
        button#btnNavbarCollapseActivity.btn.btn-primary.mr-2.active Aktivnosti
        button#btnNavbarCollapseMeeting.btn.btn-primary Sestanki
        button#beginMeetingBtn.btn.btn-success.ml-auto.mr-2 Začni sestanek
          //i.fas.fa-plus.fa-lg
        select#activeMeetingSelect.form-control.mr-2.w-200px
          each meeting in meetings
            if (!meeting.finished && meeting.active)
              option(value=meeting.id, id='activeMeeting'+meeting.id)= meeting.counter + '. sestanek ' + meeting.formatted_date.time
          //option 2. sestanek 13:17
        button#finishMeetingBtn.btn.btn-danger.mr-2 Končaj sestanek
          //i.fas.fa-stop.fa-lg
    //MODALNO OKNO ZA DODAJANJE NOVIH SESTANKOV OZ. POTRDITEV KDO JE PRISOTEN NA SESTANKU
    #modalAddMeeting.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Nov sestanek - potrditev prisotnih
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          form#addMeetingForm(role='form', method='post')
            .modal-body.mx-3.fixed-modal-body
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='meetingDateAdd') Datum
                      input#meetingDateAdd.form-control(type='date', name='meetingDateAdd', disabled, required='')
                .col-md-6
                  .form-group
                    label.w-100(for='meetingTimeAdd') Začetek
                      input#meetingTimeAdd.form-control(type='time', name='meetingTimeAdd', required='')
              .card-header.mb-n3
                .mb-n2 Direktorji
              #directorsAdd.card-body.mb-n3
              .card-header.mb-n3
                .mb-n2 Vodje projektov
              #projectLeadersAdd.card-body
              .card-header.mb-n3
                .mb-n2 Vodje
              #otherLeadersAdd.card-body
              .card-header.mb-n3
                .mb-n2 Konstrukterji
              #buildersAdd.card-body
              .card-header.mb-n3
                .mb-n2 Programerji
              #programmersAdd.card-body
              .card-header.mb-n3
                .mb-n2 Strojniki
              #mechanicsAdd.card-body
              .card-header.mb-n3
                .mb-n2 Električarji
              #electricansAdd.card-body
              .card-header.mb-n3
                .mb-n2 Strojni monterji
              #mechAssemblersAdd.card-body
              .card-header.mb-n3
                .mb-n2 CNC operaterji
              #CNCoperatorsAdd.card-body
              .card-header.mb-n3
                .mb-n2 Varilci
              #weldersAdd.card-body
              .card-header.mb-n3
                .mb-n2 Serviserji
              #serviserAdd.card-body
              .card-header.mb-n3
                .mb-n2 Ostali
              #othersAdd.card-body
            .modal-footer.d-flex.justify-content-center
              button#btnAddMeeting.btn.btn-success(type='submit') Potrdi
    //MODALNO OKNO ZA UREJANJE SESTANKOV
    #modalEditMeeting.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Uredi sestanek
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          form#editMeetingForm(role='form', method='put')
            .modal-body.mx-3.fixed-modal-body
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='meetingDateEdit') Datum
                      input#meetingDateEdit.form-control(type='date', name='meetingDateEdit', disabled, required='')
                .col-md-6
                  .form-group
                    label.w-100(for='meetingTimeEdit') Začetek
                      input#meetingTimeEdit.form-control(type='time', name='meetingTimeEdit', required='')
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='meetingFinishDateEdit') Datum konca
                      input#meetingFinishDateEdit.form-control(type='date', name='meetingFinishDateEdit')
                .col-md-6
                  .form-group
                    label.w-100(for='meetingFinishTimeEdit') Ura konca
                      input#meetingFinishTimeEdit.form-control(type='time', name='meetingFinishTimeEdit')
              .card-header.mb-n3
                .mb-n2 Direktorji
              #directorsEdit.card-body.mb-n3
              .card-header.mb-n3
                .mb-n2 Vodje projektov
              #projectLeadersEdit.card-body
              .card-header.mb-n3
                .mb-n2 Vodje
              #otherLeadersEdit.card-body
              .card-header.mb-n3
                .mb-n2 Konstrukterji
              #buildersEdit.card-body
              .card-header.mb-n3
                .mb-n2 Programerji
              #programmersEdit.card-body
              .card-header.mb-n3
                .mb-n2 Strojniki
              #mechanicsEdit.card-body
              .card-header.mb-n3
                .mb-n2 Električarji
              #electricansEdit.card-body
              .card-header.mb-n3
                .mb-n2 Strojni monterji
              #mechAssemblersEdit.card-body
              .card-header.mb-n3
                .mb-n2 CNC operaterji
              #CNCoperatorsEdit.card-body
              .card-header.mb-n3
                .mb-n2 Varilci
              #weldersEdit.card-body
              .card-header.mb-n3
                .mb-n2 Serviserji
              #serviserEdit.card-body
              .card-header.mb-n3
                .mb-n2 Ostali
              #othersEdit.card-body
            .modal-footer.d-flex.justify-content-center
              button#btnEditMeeting.btn.btn-success(type='submit') Potrdi
    //MODALNO OKNO ZA PDF IZPIS SEZNAMA AKTIVNOSTI
    #modalPDFForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center.d-flex.justify-content-between
            .p-1
            h4.modal-title.w-100.font-weight-bold.p-1 PDF
            button.close.p-2(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .card-border-secondary
              .card-header Format
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioPDFA3.custom-control-input(type='radio', name='customRadioFormat', value="0")
                    label.custom-control-label(for='radioPDFA3') A3
                  .custom-control.custom-radio
                    input#radioPDFA4.custom-control-input(type='radio', name='customRadioFormat', value="1", checked='')
                    label.custom-control-label(for='radioPDFA4') A4
            .card-border-secondary
              .card-header Postavitev
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioPDFPortrait.custom-control-input(type='radio', name='customRadioOrientation', value="0", checked='')
                    label.custom-control-label(for='radioPDFPortrait') Ležeče
                  .custom-control.custom-radio
                    input#radioPDFLandscape.custom-control-input(type='radio', name='customRadioOrientation', value="1")
                    label.custom-control-label(for='radioPDFLandscape') Pokončno
            .d-flex.justify-content-center
              a#btnToPDF.btn.btn-primary(href='/meetings/pdfs/?pageSize=a4&pageOrientation=landscape&optionCategory=1&optionStatus=0&optionActive=1') Ustvari PDF
    //MODALNO OKNO ZA BRISANJE SESTANKOV
    #modalDeleteMeeting.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteModalMsg.text-center Ste prepričani, da želite odstraniti ta sestanek?
              .text-center
                button#btnDeleteMeeting.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE AKTIVNOSTI
    #modalDeleteActivity.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteActivityModalMsg.text-center Ste prepričani, da želite odstraniti to aktivnost?
              .text-center
                button#btnDeleteActivity.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO ZA SPOROČILO
    #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Obvestilo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .row
              .col-4
                if (type == 1)
                  img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
                else if (type == 2)
                  img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
                else
                  img#msgImg.img-fluid(src='/info.png', alt='ikona')
              .col-8
                h5#msg= msg
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
  script(type='text/javascript', src='../javascripts/meetings/meetings.min.js', async)
  //script(type='text/javascript', src='../javascripts/meetings/manage.js', async)
  //script(type='text/javascript', src='../javascripts/meetings/activities.js', async)
  //script(type='text/javascript', src='../javascripts/meetings/meetings.js', async)