extends layout

block skripte
  //datatables (strani z tabelami)
  //- script(type='text/javascript', src='/pdfmake/pdfmake.min.js')
  //- script(type='text/javascript', src='/pdfmake/vfs_fonts.js')
  link(rel='stylesheet', type='text/css', href='/DataTables/datatables.min.css')
  script(type='text/javascript', src='/DataTables/datatables.min.js')
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet')
  script(src='/select2/select2.min.js')
  //script(src="/timelines-chart/dist/timeline.min.js")
  //za vis.js
  script(src='/moment/moment.min.js')
  script(src='/moment/sl.min.js')
  script(src='/vis/vis-data.min.js')
  link(rel='stylesheet', type="text/css", href='/vis/vis-timeline-graph2d.min.css')
  script(src='/vis/vis-timeline-graph2d.min.js')
  //- mobiscroll calendar
  link(href='/mobiscroll.custom/css/mobiscroll.javascript.min.css' rel='stylesheet')
  script(src='/mobiscroll.custom/js/mobiscroll.javascript.min.js')
  //- moment
  script(src='/moment/moment.min.js')
  script(src='/moment/sl.min.js')
  //- moment timezone
  script(src='/moment/moment-timezone.min.js')
  script(src='/moment/moment-timezone-utils.min.js')

block content
  .page-header
    .row
      .col-lg-6
        h1 Seznam projektov
  //if (user_type == 'admin' || user_type == 'tajnik' || user_type.substring(0,5) == 'vodja' || user_type == 'programer plc-jev' || user_type == 'programer robotov' || user_type == 'konstrukter' || user_type == 'konstruktor')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
      .row
        input.btnAddProject.btnadd.btn.btn-success.mr-2(type='button', value='Dodaj projekt')
        button#btnOpenExcel.btn.btn-info.mr-2 Excel
        button#btnOpenPDF.btn.btn-info PDF
    br
    .btn-toolbar.mb-3(role='toolbar', aria-label='Toolbar with button groups')
      if (user_type.toLowerCase() == 'admin')
        .btn-group.btn-group-toggle.mr-2.mt-2(role='group' aria-label='Active group')
          button#optionAll.btn.btn-primary(type='button', name='options', autocomplete='off') Vsi
          button#optionTrue.btn.btn-primary.active(type='button', name='options', autocomplete='off') Aktivni
          button#optionFalse.btn.btn-primary(type='button', name='options', autocomplete='off') Neaktivni
      .btn-group.btn-group-toggle.mr-2.mt-2(role='group' aria-label='Projects group')
        button#optionAllProjects.btn.btn-primary.active(type='button', name='optionsP', autocomplete='off') Vsi
        button#optionRTProjects.btn.btn-primary(type='button', name='optionsP', autocomplete='off') RT
        button#optionSTRProjects.btn.btn-primary(type='button', name='optionsP', autocomplete='off') STR
      .btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(role='group' aria-label='Status group')
        button#optionAllCompletion.btn.btn-primary.active(type='button', name='options', autocomplete='off') Vsi
        button#optionUnfinished.btn.btn-danger(type='button', name='options', autocomplete='off') Nedokončani
        button#optionFinished.btn.btn-success(type='button', name='options', autocomplete='off') Dokončani
      button#optionCustomSort.mt-2.btn.btn-primary(type='button', name='options', autocomplete='off')
        i.fas.fa-sort.fa-lg
      .custom-control.custom-switch.ml-auto.mt-4
        input#showMyProjectsSwitch.custom-control-input(type='checkbox')
        label.custom-control-label(for='showMyProjectsSwitch') Moje projekti
    table#projectsTable.display.table.table-hover.table-light.w-100
    br
    .row.col-lg-12
      a#btnTimeline.btn.btn-primary(data-toggle='collapse', href='#collapseTimetable', role='button', aria-expanded='false', aria-controls='collapseTimetable') Časovnica
      a#btnTimelineMobiscroll.btn.btn-primary.ml-2(data-toggle='collapse', href='#collapseTimelineMobiscroll', role='button', aria-expanded='false', aria-controls='collapseTimelineMobiscroll') Časovnica Mobiscroll
      //- button#btnTimelineMobiscroll.ml-2.btn.btn-primary(data-toggle='collapse', href='#collapseTimelineMobiscroll', role='button', aria-expanded='false', aria-controls='collapseTimelineMobiscroll') Časovnica (Mobiscroll)
block content-fluid    
  .row
    .col
      #collapseTimelineMobiscroll.collapse.multi-collapse
        #projectsMobiscroll
        //- .card.card-body
  .row
    .col
      #collapseTimetable.collapse.multi-collapse
        .card.card-body
          h5 Časovnica
            .row.ml-2.mt-2.mr-2.d-flex
              button#btnMoveLeft.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik levo")
                i.fas.fa-chevron-left.fa-lg
              button#btnCurrentMonth.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Trenutni mesec")
                i.fas.fa-home.fa-lg
              button#btnMoveRight.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik desno")
                i.fas.fa-chevron-right.fa-lg
              button#btnFilterProjects.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Filter")
                i.fas.fa-filter.fa-lg
              button#btnShowDay.btn.btn-primary.ml-auto(data-toggle="tooltip", data-original-title="Dan")
                i.fas.fa-calendar-day.fa-lg
              button#btnShowWeek.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Teden")
                i.fas.fa-calendar-week.fa-lg
              button#btnShowMonth.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Mesec")
                i.fas.fa-calendar.fa-lg
              button#btnLowerFont.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Zmanjšaj velikost pisave")
                i.fas.fa-font.fa-lg
                i.fas.fa-long-arrow-alt-down.fa-lg
              button#btnHigherFont.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Povečaj velikost pisave")
                i.fas.fa-font.fa-lg
                i.fas.fa-long-arrow-alt-up.fa-lg
              button#btnRefreshTimeline.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Osveži podatke")
                i.fas.fa-sync.fa-lg
          hr
          #projectsVis
    //MODALNO OKNO ZA DODATNO SORTIRANJE PO NAROCNIKU
    #modalCustomSubscriberSortForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodatno sortiranje
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .form-group
              label.w-100(for='project_subscriber_sort') Sortiranje po naročnikih:
                select#project_subscriber_sort.custom-select.mr-sm-2.form-control.select2-subscriber-multi(name='project_subscriber_sort')
            .form-group
              label.w-100(for='project_name_sort') Sortiranje po projektih:
              select#project_name_sort.custom-select.mr-sm-2.form-control.select2-project-multi(name='project_name_sort')
            button#btnConfirmCustomSort.btn.btn-success(type='submit') Potrdi
            //- form#selectCustomSortForm(role='form', method='post')
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO DODAJ PROJEKT
    #modalAddProjectForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Projekt
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .col-sm-12#messageAdd
            form#addProjectform(role='form', method='post')
              .form-row
                .col-md-6
                  label.w-100(for='projectNumberPrefix') Predpona
                    select#projectNumberPrefix.custom-select
                      option(value='RT') RT
                      option(value='STR') STR
                .col-md-6
                  .form-group
                    label.w-100(for='projectNumber') Številka projekta
                      input#projectNumber.form-control(type='text', name='projectNumber', required='')
                      .valid-feedback Ta številka je še prosta
                      .invalid-feedback Ta številka je že zasedena, vnesite drugo!
              .form-group
                label.w-100(for='project_name') Ime projekta
                  input#project_name.form-control(type='text', name='project_name', required='')
              .form-group
                label.w-100(for='project_subscriber') Naročnik
                  select#project_subscriber.custom-select.mr-sm-2.form-control.select2-subscriber(name='project_subscriber')
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='project_start') Začetek projekta
                      input#project_start.form-control(type='date', name='project_start')
                      .invalid-feedback Začetek in konec projekta si časovno ne sledita.
                .col-md-6
                  .form-group
                    label.w-100(for='project_finish') Konec projekta
                      input#project_finish.form-control(type='date', name='project_finish')
              .form-group
                label.w-100(for='project_notes') Opombe
                  input#project_notes.form-control(type='text', name='project_notes')
              .form-group
                label.w-100(for='project_leader') Vodja projekta
                  select#project_leader.custom-select.mr-sm-2.form-control.select2-leader(name='project_leader')
              button#btnAddProject.btn.btn-success(type='submit') Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA PDF IZPIS SEZNAMA PROJEKTOV
    #modalPDFForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center.d-flex.justify-content-between
            .p-1
            h4.modal-title.w-100.font-weight-bold.p-1 PDF
            button.close.p-2(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .card-border-secondary
              .card-header Predpona projektov
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioPDFAllPrefix.custom-control-input(type='radio', name='customRadioPrefix', value="0")
                    label.custom-control-label(for='radioPDFAllPrefix') Vsi
                  .custom-control.custom-radio
                    input#radioPDFAllRT.custom-control-input(type='radio', name='customRadioPrefix', value="1", checked='')
                    label.custom-control-label(for='radioPDFAllRT') RT
                  .custom-control.custom-radio
                    input#radioPDFAllSTR.custom-control-input(type='radio', name='customRadioPrefix', value="2")
                    label.custom-control-label(for='radioPDFAllSTR') STR
            .card-border-secondary
              .card-header Status projektov
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioPDFAll.custom-control-input(type='radio', name='customRadioStatus', value="0")
                    label.custom-control-label(for='radioPDFAll') Vsi
                  .custom-control.custom-radio
                    input#radioPDFUnfinished.custom-control-input(type='radio', name='customRadioStatus', value="1", checked='')
                    label.custom-control-label(for='radioPDFUnfinished') Nedokončani
                  .custom-control.custom-radio
                    input#radioPDFFinished.custom-control-input(type='radio', name='customRadioStatus', value="2")
                    label.custom-control-label(for='radioPDFFinished') Dokončani
            .card-border-secondary
              .card-header Prikaži v tabeli
              .card-body
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxSubscriberPDF.custom-control-input.p-1(type='checkbox', checked='', disabled)
                      label.custom-control-label(for='checkboxSubscriberPDF') Naročnik
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxProjectNumberPDF.custom-control-input.p-1(type='checkbox', checked='', disabled)
                      label.custom-control-label(for='checkboxProjectNumberPDF') Številka projekta
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxStartPDF.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxStartPDF') Začetek
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxFinishPDF.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxFinishPDF') Konec
                .d-flex.justify-content-center
                  .custom-control.custom-checkbox
                    input#checkboxCompletionPDF.custom-control-input(type='checkbox')
                    label.custom-control-label(for='checkboxCompletionPDF') Odstotek
            .d-flex.justify-content-center
              a#btnToPDF.btn.btn-primary(href='/projects/pdfs/?showCompletion=false&showStart=false&showFinish=false&optionPrefix=1&optionCompletion=1&optionActive=1') Ustvari PDF
              //a.btn.btn-primary.mt-3(href='/sendMeDoc?filename='+file.path_name+'&projectId='+projectId) Prenos
    //MODALNO OKNO ZA EXCEL IZPIS SEZNAMA PROJEKTOV
    #modalExcelForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center.d-flex.justify-content-between
            .p-1
            h4.modal-title.w-100.font-weight-bold.p-1 Excel
            button.close.p-2(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .card-border-secondary
              .card-header Status projektov
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAll.custom-control-input(type='radio', name='customRadio')
                    label.custom-control-label(for='radioAll') Vsi
                  .custom-control.custom-radio
                    input#radioUnfinished.custom-control-input(type='radio', name='customRadio', checked='')
                    label.custom-control-label(for='radioUnfinished') Nedokončani
                  .custom-control.custom-radio
                    input#radioFinished.custom-control-input(type='radio', name='customRadio')
                    label.custom-control-label(for='radioFinished') Dokončani
            .card-border-secondary
              .card-header Informacije o projektih
              .card-body
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxSubscriber.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxSubscriber') Naročnik
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxProjectNumber.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProjectNumber') Številka projekta
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxStart.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStart') Začetek
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxFinish.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxFinish') Konec
                .d-flex.justify-content-center
                  .custom-control.custom-checkbox
                    input#checkboxCompletion.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='checkboxCompletion') Odstotek
            .card-border-secondary
              .card-header Delavci na projektih
              .card-body
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxVodja.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxVodja') Vodja
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxKons.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxKons') Konstrukter
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxStro.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStro') Strojnik
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxElek.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxElek') Električar
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxRobot.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxRobot') Robot prog.
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxPlc.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxPlc') PLC prog.
                .d-flex.justify-content-center
                  .custom-control.custom-checkbox
                    input#checkboxOther.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='checkboxOther') Nabavnik/tajnik
            .d-flex.justify-content-center
              button#btnToCSV.btn.btn-primary Ustvari excel
    //MODALNO OKNO ZA BRISANJE PROJEKTA
    #modalDeleteProject.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteModalMsg.text-center Ste prepričani, da želite odstraniti ta projekt?
              .text-center
                button#btnDeleteProject.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO UREDI PROJEKT
    #modalEditProjectForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Projekt
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .col-sm-12#messageEdit
            form#editProjectform(role='form', method='post')
              .form-row
                .col-md-6
                  label.w-100(for='projectNumberPrefixEdit') Predpona
                    select#projectNumberPrefixEdit.custom-select
                      option(value='RT') RT
                      option(value='STR') STR
                .col-md-6
                  .form-group
                    label.w-100(for='projectNumberEdit') Številka projekta
                      input#projectNumberEdit.form-control(type='text', name='projectNumberEdit', required='')
                      .valid-feedback Ta številka je še prosta
                      .invalid-feedback Ta številka je že zasedena, vnesite drugo!
              .form-group
                label.w-100(for='project_name_edit') Ime projekta
                  input#project_name_edit.form-control(type='text', name='project_name_edit', required='')
              .form-group
                label.w-100(for='project_subscriber_edit') Naročnik
                  select#project_subscriber_edit.custom-select.mr-sm-2.form-control.select2-subscriber-edit(name='project_subscriber_edit')
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='project_start_edit') Začetek projekta
                      input#project_start_edit.form-control(type='date', name='project_start_edit')
                      .invalid-feedback Začetek in konec projekta si časovno ne sledita.
                .col-md-6
                  .form-group
                    label.w-100(for='project_finish_edit') Konec projekta
                      input#project_finish_edit.form-control(type='date', name='project_finish_edit')
              .form-group
                label.w-100(for='project_notes_edit') Opombe
                  input#project_notes_edit.form-control(type='text', name='project_notes_edit')
              if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
                .custom-control.custom-checkbox
                  input#activeEdit.custom-control-input(type='checkbox', checked='')
                  label.custom-control-label(for='activeEdit') Projekt je aktiven
              button#btnEditProject.btn.btn-primary(type='submit') Posodobi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA FILTRIRANJE PROJEKTOV
    #modalFilterProjects.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Filtriraj seznam projektov
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .card-border-secondary
              .card-header Procent projektov
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAllCompletion.custom-control-input(type='radio', name='customRadioCompletion')
                    label.custom-control-label(for='radioAllCompletion') Vsi
                  .custom-control.custom-radio
                    input#radioFinishedCompletion.custom-control-input(type='radio', name='customRadioCompletion')
                    label.custom-control-label(for='radioFinishedCompletion') Končani
                  .custom-control.custom-radio
                    input#radioUnfinishedCompletion.custom-control-input(type='radio', name='customRadioCompletion', checked='')
                    label.custom-control-label(for='radioUnfinishedCompletion') Nedokončani
            .card-border-secondary
              .card-header Oznaka projektov
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAllTags.custom-control-input(type='radio', name='customRadioTag', checked='')
                    label.custom-control-label(for='radioAllTags') Vsi
                  .custom-control.custom-radio
                    input#radioRTTags.custom-control-input(type='radio', name='customRadioTag')
                    label.custom-control-label(for='radioRTTags') RT
                  .custom-control.custom-radio
                    input#radioSTRTags.custom-control-input(type='radio', name='customRadioTag')
                    label.custom-control-label(for='radioSTRTags') STR
            .text-center.mt-2
              button#btnConfProjectFilter.btn.btn-primary Potrdi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO ZA FILTRIRANJE PROJEKTOV NA MOBISCROLL ČASOVNICI
    #modalFilterTimeline.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl(role='document')
        .modal-content
          .modal-body.fixed-modal-body
            ul.nav.nav-tabs(role='tablist')
              li.nav-item
                a.nav-link.active(data-toggle='tab', href='#filterProjectsTimeline', role='tab') Filtriraj projekte
              li.nav-item
                a.nav-link(data-toggle='tab', href='#filterTasksTimeline', role='tab') Filtriraj opravila
              li.nav-item
                a.nav-link.disabled(data-toggle='tab', href='#filterDatesTimeline', role='tab') Filtriraj glavne datume
            #myTabContent.tab-content
              #filterProjectsTimeline.tab-pane.fade.show.active(role='tabpanel')
                .card-border-secondary
                  .card-header Oznaka projektov
                  .card-body
                    .d-flex.justify-content-around
                      .custom-control.custom-radio
                        input#radioAllTags.custom-control-input(type='radio', name='customRadioPrefix', checked='', value='0')
                        label.custom-control-label(for='radioAllTags') Vsi
                      .custom-control.custom-radio
                        input#radioRTTags.custom-control-input(type='radio', name='customRadioPrefix', value='1')
                        label.custom-control-label(for='radioRTTags') RT
                      .custom-control.custom-radio
                        input#radioSTRTags.custom-control-input(type='radio', name='customRadioPrefix', value='2')
                        label.custom-control-label(for='radioSTRTags') STR
                .card-border-secondary
                  .card-header Končanost projektov
                  .card-body
                    .d-flex.justify-content-around
                      .custom-control.custom-radio
                        input#radioAllCompletion.custom-control-input(type='radio', name='customRadioCompleted', value='2')
                        label.custom-control-label(for='radioAllCompletion') Vsi
                      .custom-control.custom-radio
                        input#radioUnfinishedCompletion.custom-control-input(type='radio', name='customRadioCompleted', checked='', value='0')
                        label.custom-control-label(for='radioUnfinishedCompletion') Nedokončani
                      .custom-control.custom-radio
                        input#radioFinishedCompletion.custom-control-input(type='radio', name='customRadioCompleted', value='1')
                        label.custom-control-label(for='radioFinishedCompletion') Končani
                .card-border-secondary
                  .card-header Dodatno
                  .card-body
                    .d-flex
                      .custom-control.custom-radio.ml-3
                        input#radioExclusionOnly.custom-control-input(type='radio', name='customRadioExclusion', checked='', value='1')
                        label.custom-control-label(for='radioExclusionOnly') Samo
                      .custom-control.custom-radio.ml-3.mr-3
                        input#radioExclusionWithout.custom-control-input(type='radio', name='customRadioExclusion', value='0')
                        label.custom-control-label(for='radioExclusionWithout') Brez
                      select#filterProjectsExclusion.custom-select.mr-sm-2.form-control.select2-exclusion(name='filterProjectsExclusion')
              #filterTasksTimeline.tab-pane.fade(role='tabpanel')
                .card-border-secondary
                  .card-header
                    .custom-control.custom-checkbox
                        input#checkboxCategories.custom-control-input.p-1.filter-category-parent(type='checkbox')
                        label.custom-control-label(for='checkboxCategories') Kategorije opravil
                  #checkboxFilterCategory.card-body
                    .row
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxNabava.custom-control-input.p-1.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxNabava') Nabava
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxKonstrukcija.custom-control-input.p-1.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxKonstrukcija') Konstrukcija
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxStrIzd.custom-control-input.p-1.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxStrIzd') Strojna izdelava
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxEleIzd.custom-control-input.p-1.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxEleIzd') Elektro izdelava
                    .row
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxMontaza.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxMontaza') Montaža
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxProg.custom-control-input.p-1.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxProg') Programiranje
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxBrez.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxBrez') Brez
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxStrMonRoboteh.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxStrMonRoboteh') Strojna montaža - Roboteh
                    .row
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxStrMonStranke.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxStrMonStranke') Strojna montaža - stranke
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxEleMonRoboteh.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxEleMonRoboteh') Elektro montaža - Roboteh
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxEleMonStranke.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxEleMonStranke') Elektro montaža - stranke
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxElePro.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxElePro') Elektro proektiranje
                    .row
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxDobava.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxDobava') Dobava
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxSAT.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxSAT') SAT
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxFAP.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxFAP') FAT
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxZagon.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxZagon') Zagon
                    .row
                      .col-3
                        .custom-control.custom-checkbox
                          input#checkboxNaklad.custom-control-input.filter-category-child(type='checkbox')
                          label.custom-control-label(for='checkboxNaklad') Naklad
                .card-border-secondary
                  .card-header Končanost opravil
                  .card-body
                    .d-flex.justify-content-around
                      .custom-control.custom-radio
                        input#tasksRadioCompletedAll.custom-control-input(type='radio', name='tasksRadioCompleted', value='0')
                        label.custom-control-label(for='tasksRadioCompletedAll') Vsi
                      .custom-control.custom-radio
                        input#tasksRadioUncompleted.custom-control-input(type='radio', name='tasksRadioCompleted', checked='', value='1')
                        label.custom-control-label(for='tasksRadioUncompleted') Nedokončani
                      .custom-control.custom-radio
                        input#tasksRadioCompleted.custom-control-input(type='radio', name='tasksRadioCompleted', value='2')
                        label.custom-control-label(for='tasksRadioCompleted') Končani
                .card-border-secondary
                  .card-header Dodatno
                  .card-body
                    .d-flex.justify-content-around
                      .custom-control.custom-checkbox
                          input#filterTasksSuper.custom-control-input.p-1(type='checkbox')
                          label.custom-control-label(for='filterTasksSuper') Prikaži samo vikend/super opravila
              #filterDatesTimeline.tab-pane.fade(role='tabpanel')
          .modal-footer.d-flex.justify-content-center
            button#filterResourcesBtn.btn.btn-success Filtriraj
  script(type='text/javascript', src='../javascripts/project/projects.min.js', async)
  //script(type='text/javascript', src='../javascripts/project/projects.js', async)
  //script(type='text/javascript', src='../javascripts/project/projectsViz.js', async)
  //script(type='text/javascript', src='../javascripts/project/projectsMobiscroll.js', async)