extends layout

block skripte
  // ---------------------------------------------------------------NOT IN USE ANYMORE --------> SWITCH TO TASKS.PUG BECAUSE THEY ARE BASICLY THE SAME SITE WITH MINOR DIFFERENCES---------------------------------------------------
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)
  //tam kjer so časovnice
  //script(src="/timelines-chart/dist/timeline.min.js", async)
  //za vis.js
  script(src='/moment/moment.min.js')
  script(src='/moment/sl.min.js')
  script(src='/vis/vis-data.min.js')
  link(rel='stylesheet', type="text/css", href='/vis/vis-timeline-graph2d.min.css')
  script(src='/vis/vis-timeline-graph2d.min.js')
  //pdf.js
  script(src='/pdfjs/pdf.min.js')
  script(src='/pdfjs/pdf.worker.min.js')

block content
  canvas#the-canvas.d-none
  .page-header
    .row
      .col-lg-6
        h1= 'Moja opravila - ' + project.project_name
  if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
    .row.col-lg-11
      .col-lg-2#imgEmployee
        if (employee.role.toLowerCase() == 'admin')
          img.img-fluid(src='/admin64.png' alt='ikona')
        else if (employee.role.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          img.img-fluid(src='/secratery64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja' || employee.role.toLowerCase() == 'vodja projektov' )
          img.img-fluid(src='/manager64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja strojnikov')
          img.img-fluid(src='/managerMech64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja cnc obdelave')
          img.img-fluid(src='/managerCNC64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja električarjev')
          img.img-fluid(src='/managerElec64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'vodja programerjev')
          img.img-fluid(src='/managerPLC64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'električar')
          img.img-fluid(src='/electrican64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'strojnik' || employee.role.toLowerCase() == 'strojni monter')
          img.img-fluid(src='/mechanic64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'programer plc-jev')
          img.img-fluid(src='/plc64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'programer robotov')
          img.img-fluid(src='/robot64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'konstruktor')
          img.img-fluid(src='/builder64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'konstrukter')
          img.img-fluid(src='/builder64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'cnc' || employee.role.toLowerCase() == 'cnc operater')
          img.img-fluid(src='/cnc64.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'varilec')
          img.img-fluid(src='/welder02.png', alt='ikona')
        else if (employee.role.toLowerCase() == 'serviser')
          img.img-fluid(src='/serviser.png')
        else if (employee.role.toLowerCase() == 'student' || employee.role.toLowerCase() == 'študent')
          img.img-fluid(src='/student03.png')
        else if (employee.role.toLowerCase() == 'info')
          img.img-fluid(src='/infoUser.png')
        else if (employee.role.toLowerCase() == 'info elektro')
          img.img-fluid(src='/infoElec.png')
        else if (employee.role.toLowerCase() == 'info strojna')
          img.img-fluid(src='/infoMech.png')
        else if (employee.role.toLowerCase() == 'info konstrukcija')
          img.img-fluid(src='/infoBuild.png')
        else if (employee.role.toLowerCase() == 'info programiranje')
          img.img-fluid(src='/infoProgrammer.png')
        else if (employee.role.toLowerCase() == 'info plc')
          img.img-fluid(src='/infoPlc.png')
        else if (employee.role.toLowerCase() == 'info robot')
          img.img-fluid(src='/infoRobot.png')
        else if (employee.role.toLowerCase() == 'info nabava')
          img.img-fluid(src='/infoSales.png')
        else if (employee.role.toLowerCase() == 'info montaža')
          img.img-fluid(src='/infoAssembly.png')
        else
          img.img-fluid(src='/worker64.png', alt='ikona')
      .col-lg-4
        h5#employeeName.col-lg-8= employee.name+' '+employee.surname
      .col-lg-2
        if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
          a.btn.btn-primary(href='/employees/userId?userId='+employee.id) Projekti
      .col-lg-2
        if (employee.id == user_id || user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          //a.btn.btn-primary(href='/employees/password/id?id='+employee.id) Spremeni geslo
          button.btn.btn-primary(onclick='openChangePassModal('+employee.id+')') Spremeni geslo
      .col-lg-2
        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          //a.btn.btn-primary(href='/employees/role/id?id='+employee.id) Spremeni pravice
          button.btn.btn-primary(onclick='openChangeRoleModal('+employee.id+')') Spremeni pravice
    br
    .row.col-lg-12
      .col-xs-12.col-sm-8
        h5 Izbrano opravilo:
        #myActiveTask.card.mb-3(style='width:100%')
          .card-header
            .d-flex
              #activeProjectName.mr-auto Projekt
              #activeProjectInfo.p-1
                a.mypopover(data-toggle='popover', data-trigger='hover', data-content='')
                  i.fas.fa-users.fa-lg
          .card-body
            .d-flex.mb-1
              h5#activeTaskName.p-1.mr-auto Opravilo
              #activeTaskCategory.p-1.mr-2 Kategorija
              #activeTaskInfo.p-1 
                a.workerspopover(data-toggle='popover', data-trigger='hover', data-content='')
                  i.fas.fa-user-friends.fa-lg.text-dark
            .d-flex
              #activeTaskDate Datum
              .ml-auto.progress(style='width:40%')
                #activeTaskProgress.progress-bar.progress-bar-striped.progress-bar-animated(style='width:0%')
            #controlTask.d-flex.justify-content-end
              #taskCheckbox.custom-control.custom-checkbox
                input.custom-control-input(id='customTaskCheck', type='checkbox', onchange='toggleTaskCheckbox(this)')
                label.custom-control-label(for='customTaskCheck')  
              button.invisible-button.mr-1.mt-2(onclick='addTaskNote(`+id+`)')
                i.fas.fa-comments.fa-lg
            .d-flex
              #controlButtons.d-flex
              #taskButtons.ml-auto
                a.p-1(data-toggle='popover', data-trigger='focus', tabindex='0', data-content='ni zabeleženih sprememb', id='taskHistory', onclick='getTaskChanges()')
                  i.fas.fa-history.fa-lg(style='color: #000000;')
                button.btn.btn-programmer.ml-2(onclick='toggleCollapse(3)', style='width:25px, height:5px, border:none;', id='taskButtonAbsence', data-toggle="tooltip", data-original-title="Odsotnosti", disabled)
                  i.fas.fa-clock.fa-lg
                button.btn.btn-purchase.ml-2(onclick='toggleCollapse(2)', style='width:25px, height:5px, border:none;', id='taskButtonFile', data-toggle="tooltip", data-original-title="Datoteke", disabled)
                  i.fas.fa-file.fa-lg
                button.btn.btn-info.ml-2(onclick='toggleCollapse(1)', style='width:25px, height:5px, border:none;', id='taskButtonSubtask', data-toggle="tooltip", data-original-title="Naloge", disabled)
                  i.fas.fa-check-square.fa-lg
        #subtaskList.list-group.d-flex.span6
      .col-xs-12.col-sm-4
        h5 Moja opravila na projektu:
        row#taskList.list-group.span5
          each task in tasks
            -
              var priorityClass = 'col-xs-12 list-group-item list-group-item-action';
              if (task.completion == 100)
                priorityClass += ' border-completed';
              else if (task.priority == 4)
                priorityClass += ' border-high-priority';
              else if (task.priority == 3)
                priorityClass += ' border-medium-priority';
              else if (task.priority == 2)
                priorityClass += ' border-low-priority';
              if (!task.project_id)
                priorityClass += ' border-info-priority';
              var expiredLabel = (task.expired && task.completion != 100) ? 'text-danger' : '';
            a(href='#', id=task.id, class=priorityClass)
              .col-sm-10
                strong#task_name= task.task_name
              .row
                .col-sm-10
                  if (!task.project_id)
                    label#project_name= task.subscriber + " (servis - storitev)"
                  else
                    label#project_name= task.project_name
              .row
                .col-sm-10
                  if (task.task_start && task.task_finish)
                    label#date(class=expiredLabel)= task.formatted_start.date+'-'+task.formatted_finish.date
                  else if (task.task_start && !task.task_finish)
                    label#date(class=expiredLabel)= task.formatted_start.date+'- /'
                  else if (!task.task_start && task.task_finish)
                    label#date(class=expiredLabel)= '/ - '+task.formatted_finish.date
                  else
                    label#date= '/'
    br
    .row.col-lg-12
      a.btn.btn-primary(data-toggle='collapse', href='#collapseTimetable', role='button', aria-expanded='false', aria-controls='collapseTimetable', onclick='firstTimelineDraw()') Časovnica
    #timelineCollapse.row
      .col
        #collapseTimetable.collapse.multi-collapse
          .card.card-body
            h5 Časovnica
              .row.ml-2.mt-2.mr-2.d-flex
                button.btn.btn-primary.mr-2(onclick='moveProjects(0.2)', data-toggle="tooltip", data-original-title="Premik levo")
                  i.fas.fa-chevron-left.fa-lg
                button.btn.btn-primary.mr-2(onclick='showCurrentWeekProjects()', data-toggle="tooltip", data-original-title="Trenutni mesec")
                  i.fas.fa-home.fa-lg
                button.btn.btn-primary.mr-2(onclick='moveProjects(-0.2)', data-toggle="tooltip", data-original-title="Premik desno")
                  i.fas.fa-chevron-right.fa-lg
                button.btn.btn-primary.ml-auto(onclick='showDayProjects()', data-toggle="tooltip", data-original-title="Dan")
                  i.fas.fa-calendar-day.fa-lg
                button.btn.btn-primary.ml-2(onclick='showWeekProjects()', data-toggle="tooltip", data-original-title="Teden")
                  i.fas.fa-calendar-week.fa-lg
                button.btn.btn-primary.ml-2(onclick='showMonthProjects()', data-toggle="tooltip", data-original-title="Mesec")
                  i.fas.fa-calendar.fa-lg
                button.btn.btn-primary.ml-2(onclick='lowerFontProjects()', data-toggle="tooltip", data-original-title="Zmanjšaj velikost pisave")
                  i.fas.fa-font.fa-lg
                  i.fas.fa-long-arrow-alt-down.fa-lg
                button.btn.btn-primary.ml-2(onclick='higherFontProjects()', data-toggle="tooltip", data-original-title="Povečaj velikost pisave")
                  i.fas.fa-font.fa-lg
                  i.fas.fa-long-arrow-alt-up.fa-lg
                button.btn.btn-primary.ml-2(onclick='refreshTimelineProjects()', data-toggle="tooltip", data-original-title="Osveži podatke")
                  i.fas.fa-sync.fa-lg
                button.btn.btn-primary.ml-2(onclick='resizeTimeline()', data-toggle="tooltip", data-original-title="Razširi časovnico")
                  i.fas.fa-arrows-alt-h.fa-lg
            #projectsVis
    //MODALNO OKNO SPREMENI GESLO
    #modalChangePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Spremeni Geslo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
          .col-sm-12#messagePass
            form#changePasswordform(role='form', method='post')
              .form-group
                label(for='user_password', style='width:100%') Geslo 
                  input#user_password.form-control(type='password', name='user_password', required='', autocomplete='off')
                  .valid-feedback Geslo ustreza zahtevam.
                  .invalid-feedback Geslo mora vsebovati vsaj 10 znakov, eno majhno in eno veliko črko ter eno številko!
              .form-group
                label(for='user_password_again', style='width:100%') Ponovno geslo 
                  input#user_password_again.form-control(type='password', name='user_password_again', required='', autocomplete='off')
                  .valid-feedback Gesli se ujemata!
                  .invalid-feedback Gesli se ne ujemata!
              button#btnChangePass.btn.btn-primary(type='submit') Spremeni
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO SPREMENI PRAVICE - VLOGO
    #modalChangeRole.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Spremeni Pravice
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
          .col-sm-12#messageRole
            form#changeRoleform(role='form', method='post')
              .form-group
                label(for='user_role', style='width:100%') Vloga
                  select#user_role.custom-select.mr-sm-2.form-control.select2-role(name='user_role', style='width:100%')
              button#btnChangeRole.btn.btn-primary(type='submit') Spremeni
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA NALOGE
    #modalSubtasksForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Naloge
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'programer plc-jev' || user_type.toLowerCase() == 'programer robotov' || user_type.toLowerCase() == 'konstrukter' || user_type.toLowerCase() == 'konstruktor')
              form#subtasks-form(role='form', method='post')  
                .d-flex
                  input#subtaskInput.form-control.p-1.mr-auto(type='text', name='subtaskInput' required="")
                  button#btnSubtasks.btn.btn-success(type='submit', style='width:10%')
                    i.fas.fa-plus.fa-lg
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA POGOVOR
    #modalNotes.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Sporočila
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          #messagesBody.modal-body.message-modal-body.mx-3
          .modal-footer.justify-content-center
            .d-flex(style='width:100%')
              input#newMessage.form-control.p-1.mr-auto(onkeydown='if(event.keyCode==13) addNewMessage();', placeholder='', type='text', name='subtaskInput', autocomplete='off', data-toggle="popover", data-content="", data-placement="top")
              .input-group-append
                button.btn.btn-success(onclick='addNewMessage()', style='width:25px, height:5px, border:none;')
                  i.fas.fa-angle-double-right.fa-lg
    //MODALNO OKNO ZA PRIKAZ PDF DATOTEK
    #modalPDFPreview.modal.fade.overflow-hidden(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl.modal-doc(role='document')
        .modal-content.modal-doc-content
          .modal-body.mx-3(data-dismiss='modal')
            #imgPreviewContainer.document-content
            #pdfPreviewContainer.document-content
  //script(type='text/javascript', src='../javascripts/employee/employeeTasks.min.js', async)
  //zgornja ni vec prava, prava min je spodnja
  script(type='text/javascript', src='../javascripts/employee/tasks.min.js', async)
  //script(type='text/javascript', src='../javascripts/employee/commonTasks.js')
  //script(type='text/javascript', src='../javascripts/employee/commonSubtasks.js')
  //script(type='text/javascript', src='../javascripts/employee/commonVis.js')
  //script(type='text/javascript', src='../javascripts/employee/projectTasks.js')
  //script(type='text/javascript', src='../javascripts/employee/change.js')
  //script(type='text/javascript', src='../javascripts/messages/messages.js', async)
  //script(type='text/javascript', src='../javascripts/employee/vizTasks.js')