extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet')
  script(src='/select2/select2.min.js')
  //- pdfmake
  //- script(type='text/javascript', src='/pdfmake/pdfmake.min.js')
  //- script(type='text/javascript', src='/pdfmake/vfs_fonts.js')
  //tam kjer so časovnice
  //script(src="/timelines-chart/dist/timeline.min.js")
  //branje csv datotek
  script(type='text/javascript', src='../javascripts/papaparse.min.js')
  //za vis.js
  script(src='/moment/moment.min.js')
  script(src='/moment/sl.min.js')
  script(src='/vis/vis-data.min.js')
  link(rel='stylesheet', type="text/css", href='/vis/vis-timeline-graph2d.min.css')
  script(src='/vis/vis-timeline-graph2d.min.js')
  //pdfObject
  //script(src='/pdfobject/pdfobject.min.js')
  //pdf.js
  script(src='/pdfjs/pdf.min.js')
  script(src='/pdfjs/pdf.worker.min.js')
  //- mobiscroll 4
  link(href='/mobiscroll4/mobiscroll.javascript.min.css' rel='stylesheet')
  script(src='/mobiscroll4/mobiscroll.javascript.min.js')

block content
  .page-header
    .row
      .col-lg-6
        h1#pinfo_name= project.project_name
  //if (present || user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik' || user_type == 'programer robotov' || user_type == 'programer plc-jev' || user_type == 'konstrukter' || user_type == 'konstruktor')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    #taskId(hidden='')= tid
    .row.col-lg-12.mb-2
      .col-6.col-lg-2
        if (project.icon)
          img#subImg.col-lg-12.col-xs-12.w-135px(src='/uploads/images/'+project.icon+'' alt='slikaPodjetja', onerror="this.onerror=null;this.src='/logo/roboteh.png';")
        else
          img#subImg.col-lg-12.col-xs-12(src='/logo/roboteh.png' alt='slikaPodjetja')
      .col-6.col-lg-4
        //h5#pinfo_name.col-lg-8= project.project_name
        label#pinfo_number.col-8= project.project_number
        if (project.start && project.finish)
          label#pinfo_date.col-8= project.formatted_start.date + " - " + project.formatted_finish.date
        else if (project.start)
          label#pinfo_date.col-8= project.formatted_start.date + " - /"
        else if (project.finish)
          label#pinfo_date.col-8= "/ - " + project.formatted_finish.date
        else
          label#pinfo_date.col-8 / - /
        label#pinfo_subscriber.col-8= project.name
      .col-12.col-lg-6
        #pinfo_dates.list-group.date-list
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || leader )
      .row
        .col-10.col-sm-11
          button#editProjectBtn.btn.btn-primary.mr-2 Uredi Projekt
          button#addProjectDateBtn.btn.btn-primary Dodaj datum
        .col-2.col-sm-1
          button#openPDFModalBtn.btn.btn-info PDF
    else
      .row
        .col-10.col-sm-11
        .col-2.col-sm-1
          button#openPDFModalBtn.btn.btn-info PDF
    br
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || leader)
      //Collapse za urejanje projekta
      #collapseEditProject.collapse.multi-collapse
        form#editProjectform.text-center(role='form', method='post')
          .form-row
            .col-md-3
              label.w-100(for='projectNumberPrefix') Predpona
                select.custom-select(id='projectNumberPrefix')
                  option(value='RT') RT
                  option(value='STR') STR
            .col-md-3
              .form-group
                label.w-100(for='projectNumber') Številka projekta
                  input#projectNumber.form-control(type='text', name='projectNumber', required='')
                  .valid-feedback Ta številka je še prosta
                  .invalid-feedback Ta številka je že zasedena, vnesite drugo!
            .col-md-6
              .form-group
                label.w-100(for='project_name') Ime projekta
                  input#project_name.form-control(type='text', name='project_name', required='')
          .form-row
            .col-md-6
              .form-group
                label.w-100(for='project_start') Začetek projekta
                  input#project_start.form-control(type='date', name='project_start')
                  .invalid-feedback Začetek in konec projekta si časovno ne sledita.
            .col-md-6
              .form-group
                label.w-100(for='project_finish') Konec projekta
                  input#project_finish.form-control(type='date', name='project_finish')
          .form-row
            .col-md-3
            .col-md-6
              .form-group
                label.w-100(for='project_subscriber') Naročnik
                  select#project_subscriber.custom-select.mr-sm-2.form-control.select2-subscriber(name='project_subscriber')
            .col-md-3
          .form-row
            .col-md-3
            .col-md-6
              .form-group
                label.w-100(for='project_notes') Opombe
                  textarea#project_notes.form-control.text-area(name='project_notes', rows="5")
            .col-md-3
          if (user_type.toLowerCase() == 'admin')
            .d-flex.justify-content-center
              .custom-control.custom-checkbox
                if (project.active)
                  input#project_active.custom-control-input(type='checkbox', checked='')       
                  label.custom-control-label(for='project_active') Projekt je aktiven
                else
                  input#project_active.custom-control-input(type='checkbox')       
                  label.custom-control-label(for='project_active') Projekt je aktiven
          .text-center
            button#btnEditProject.btn.btn-success.mt-2(type='submit') Posodobi
    .row.col-lg-12
      h5 Opombe
    #pinfo_notes.col-lg-10.pre-wrap= project.notes
    canvas#the-canvas.d-none
    br
    //br
    .row.col-lg-12
      button#btnCollapseTask.btn.btn-primary.mr-2.active Opravila
      button#btnCollapseFile.btn.btn-primary.mr-2 Datoteke
      button#btnCollapseMod.btn.btn-primary.mr-2 Popravki
      //- button#btnCollapseWorkOrders.btn.btn-primary Delovni nalogi
      if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'konstrukter' || user_type.toLowerCase() == 'konstruktor' || user_type.toLowerCase().includes('konstrukter') || user_type.toLowerCase().substring(0,5) == 'vodja')
        button#btnStartSelectionBP.btn.btn-success.ml-auto.mr-n4(data-toggle="tooltip" data-original-title="Predaja dokumentacije v izdelavo")
          i.fas.fa-pencil-ruler.fa-lg
          i.fas.fa-arrow-right.fa-lg
          i.fas.fa-file-pdf.fa-lg
        .custom-control.custom-switch.ml-auto.mr-2.mt-2
          input#customSortSwitch.custom-control-input(type='checkbox')
          label.custom-control-label(for='customSortSwitch') Ročno sortiranje
        button#btnCancelSelection.btn.btn-danger.mr-2(data-toggle='tooltip' data-original-title='Prekliči skupno dokumentacijo')
          i.fas.fa-times.fa-lg
        button#btnConfSelection.btn.btn-success.mr-n3(data-toggle='tooltip' data-original-title='Potrdi skupno dokumentacijo')
          i.fas.fa-check.fa-lg
    .row
      .col
        #collapseTableTask.collapse.multi-collapse.show
          br
          .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
            #categoryBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(role='group' aria-label='Category group')
              button#option0.btn.btn-primary.active.stay-focus(type='button', name='options', autocomplete='off', value=0) Vsa
              button#option2.btn.btn-purchase(type='button', name='options', autocomplete='off', value=2) Nabava
              button#option3.btn.btn-construction(type='button', name='options', autocomplete='off', value=3) Konstrukcija
              button#option4.btn.btn-mechanic(type='button', name='options', autocomplete='off', value=4) Strojna izdelava
              button#option5.btn.btn-electrican(type='button', name='options', autocomplete='off', value=5) Elektro izdelava
              button#option6.btn.btn-assembly(type='button', name='options', autocomplete='off', value=6) Montaža
              button#option7.btn.btn-programmer(type='button', name='options', autocomplete='off', value=7) Programiranje
              button#option1.btn.btn-dark(type='button', name='options', autocomplete='off', value=1) Brez
              button#option1.btn.btn-mechanic(type='button', name='options', autocomplete='off', value=8) Strojna montaža - Roboteh
              button#option1.btn.btn-mechanic(type='button', name='options', autocomplete='off', value=9) Strojna montaža - stranka
              button#option1.btn.btn-electrican(type='button', name='options', autocomplete='off', value=10) Elektro montaža - Roboteh
              button#option1.btn.btn-electrican(type='button', name='options', autocomplete='off', value=11) Elektro montaža - stranka
              button#option1.btn.btn-electrican(type='button', name='options', autocomplete='off', value=12) Elektro proektiranje
              button#option1.btn.btn-primary(type='button', name='options', autocomplete='off', value=13) Dobava
              button#option1.btn.btn-primary(type='button', name='options', autocomplete='off', value=14) SAT
              button#option1.btn.btn-primary(type='button', name='options', autocomplete='off', value=15) FAT
              button#option1.btn.btn-primary(type='button', name='options', autocomplete='off', value=16) Zagon
              button#option1.btn.btn-primary(type='button', name='options', autocomplete='off', value=17) Naklad
            #completionBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.ml-auto(role='group' aria-label='Completion group')
              button#optionAllCompletion.btn.btn-primary(type='button', name='options', autocomplete='off', value=0) Vsa
              button#optionUncomplete.btn.btn-primary(type='button', name='options', autocomplete='off', value=1) Nekončana
              button#optionComplete.btn.btn-primary(type='button', name='options', autocomplete='off', value=2) Končana
            if (user_type.toLowerCase() == 'admin')
              br
              #activityBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2(role='group' aria-label='Active group')
                button#optionAll.btn.btn-primary(type='button', name='options', autocomplete='off', value=0,) Vsa
                button#optionTrue.btn.btn-primary.active.stay-focus(type='button', name='options', autocomplete='off', value=1,) Aktivna
                button#optionFalse.btn.btn-secondary(type='button', name='options', autocomplete='off', value=2,) Neaktivna
          .row
            .mt-2.d-flex
              label.ml-4.mr-2.mt-1(for='selectNumberTasks') Prikaži
              .mr-2
                select#selectNumberTasks.form-control.form-control-sm
                  option(value="10") 10
                  option(value="20") 20
                  option(value="30") 30
                  option(value="50") 50
                  option(value="100") 100
                  option(value="-1") vsa
              label.mt-1 opravil
            .custom-control.custom-switch.ml-auto.mt-3
              input#showMyInputTasksSwitch.custom-control-input(type='checkbox')
              label.custom-control-label(for='showMyInputTasksSwitch') Moji vnosi
            .custom-control.custom-switch.ml-2.mt-3.mr-4
              input#showMyTasksSwitch.custom-control-input(type='checkbox')
              label.custom-control-label(for='showMyTasksSwitch') Moje zadolžitve
          br
          //- script.
            //- var leader = #{JSON.stringify(leader)}
            //- var activePage = #{JSON.stringify(page)}
            //- var completionTask = #{JSON.stringify(completionTable)}
          //add tasks here
          #taskList.list-group.mt-n4
          //pagination
          - var n = 2;
          #taskPages.d-flex.justify-content-end.mt-2
          #addTaskRow
            -
              var tmp = workers.find(w => w.name == user_name && w.surname == user_surname )
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || leader || ((user_type.toLowerCase() == 'konstrukter' || user_type.toLowerCase() == 'konstruktor' || user_type.toLowerCase().includes('konstrukter')) && tmp))
              .multi-collapse.collapse(id='collapseAddTask')
                .row.d-flex.justify-content-end
                  button.close.mr-4(type='button', aria-label='Close')
                    span(aria-label='true') x
                form#editTaskform(role='form', method='post', data-select2-id='editTaskform')
                  .form-row
                    .col-md-6
                      .form-group
                        label#taskNameAddLabel.w-100(for='taskNameAdd') Ime opravila
                        input#taskNameAdd.form-control.mt-n2(type='text', name='taskNameAdd', required='')
                        .invalid-feedback Za dodajanje novega opravila je potrebno vnesti vsaj ime opravila!
                    .col-md-6
                      .form-group
                        label#taskNoteAddLabel.w-100(for='taskNoteAdd') Komentar
                        input#taskNoteAdd.form-control.mt-n2(type='text', name='taskNoteAdd', required='')
                    .col-md-6.d-none
                      .form-group
                        label.w-100(for='taskDurationAdd') Število dni
                          input#taskDurationAdd.form-control(type='number', name='taskDurationAdd', min='0', tabindex='-1', placeholder='Se izračuna samo po vnosu obeh datumov.', disabled)
                  .form-row
                    .col-md-6
                      .form-group
                        label.w-100(for='taskStartAdd') Začetek opravila
                          input#taskStartAdd.form-control(type='date', name='taskStartAdd')
                          #taskStartAddInvalidFeedback.invalid-feedback Začetek opravila je izven datuma projekta!
                    .col-md-6
                      .form-group
                        label.w-100(for='taskFinishAdd') Konec opravila
                          input#taskFinishAdd.form-control(type='date', name='taskFinishAdd')
                          #taskFinishAddInvalidFeedback.invalid-feedback Konec opravila je izven datuma projekta!
                  .form-row
                    .col-md-6
                      .form-group
                        label.w-100(for='taskCompletionAdd') Dokončano
                          input#taskCompletionAdd.form-control(type='number', name='taskCompletionAdd', min='0', max='100', required='', value=0)
                    .col-md-6
                      .form-group
                        label.w-100(for='taskAssignmentAdd') Dodeli opravilo
                          select#taskAssignmentAdd.custom-select.mr-sm-2.form-control.select2-workersAdd.w-100(name='worker')
                  .form-row
                    .col-md-6
                      .form-group
                        label.w-100(for='taskCategoryAdd') Kategorija
                          select#taskCategoryAdd.custom-select.mr-sm-2.form-control.select2-taskCategoryAdd.w-100(name='worker')
                    .col-md-6
                      .form-group
                        label.w-100(for='taskPriorityAdd') Prioriteta
                          select#taskPriorityAdd.custom-select.mr-sm-2.form-control.select2-taskPriorityAdd.w-100(name='worker')
                  .d-flex.justify-content-center.mb-2.mt-n2
                    .custom-control.custom-checkbox
                      input#taskWeekendAdd.custom-control-input(type='checkbox')
                      label.custom-control-label(for='taskWeekendAdd') Vikend
                  #newTaskBuildPartsCollapse.mb-2.collapse
                    .form-row
                      .input-group.mt-1.mb-1
                        .custom-file
                          label#newBuildPartCsvLabel.custom-file-label(for='newBuildPartCsv' aria-describedby='newBuildPartCsvAddon') Izberi datoteko (csv)
                          input#newBuildPartCsv.custom-file-input.card-report(type='file' label='test' accept=".csv" multiple)
                          //.invalid-feedback Potrebna je CSV datoteka kosovnice!
                          //small#fileHelpNew.form-text.text-muted This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line
                        //.input-group-append
                          span#newBuildPartCsvAddon.input-group-text.btn-outline-secondary(type='button' onclick='parseCsvToBuildPartsNew()') Sestavi kosovnico
                    .d-flex.justify-content-around
                      //.custom-control.custom-checkbox
                        input#checkboxScrews.custom-control-input(type='checkbox', name='customCheckBuildType')
                        label.custom-control-label(for='checkboxScrews') Vijaki
                      //.custom-control.custom-checkbox
                        input#checkboxSuppliers.custom-control-input(type='checkbox', name='customCheckBuildType')
                        label.custom-control-label(for='checkboxSuppliers') Dobavitelji
                      //.custom-control.custom-checkbox
                        input#checkboxMaterials.custom-control-input(type='checkbox', name='customCheckBuildType', checked='')
                        label.custom-control-label(for='checkboxMaterials') Risbe
                      .custom-control.custom-switch
                        input#checkboxFilterBP.custom-control-input(type='checkbox')
                        label.custom-control-label(for='checkboxFilterBP') Filtriraj obstoječe
                      .custom-control.custom-switch
                        input#checkboxFilterSK.custom-control-input(type='checkbox', checked='')
                        label.custom-control-label(for='checkboxFilterSK') Standardni kosi
                    //- .form-row
                      .col-md-6
                        .form-group
                          label.w-100(for='taskBuildPartParentAdd') Ime sestava
                            input#taskBuildPartParentAdd.form-control(type='text', name='taskBuildPartParentAdd', required='', placeholder="Ime sestava")
                            .invalid-feedback Za dodajanje kosovnice je potrebno podati ime sestava!
                      .col-md-6
                        .form-group
                          label.w-100(for='taskBuildPartParentNumberAdd') Št. risbe sestava
                            input#taskBuildPartParentNumberAdd.form-control(type='text', name='taskBuildPartParentNumberAdd', required='', placeholder="Št. risbe sestava")
                            .invalid-feedback Za dodajanje kosovnice je potrebno podati št. risbe sestava!
                    #newTaskBPFileNames
              .text-center
                  button#btnTaskAdd.btn.btn-success Dodaj opravilo
        #collapseFileTab.collapse.multi-collapse
          br
          #fileList.list-group.changes-body
            each file in files
              .list-group-item(id=file.id)
                .row
                  .col-sm-2
                    img.img-fluid.w-70px(src='/file'+file.type+'.png', alt='ikona')
                  .col-sm-9
                    label.row.mt-2= file.original_name
                    label.row.mt-2.small= 'Naloženo: '+file.formatted_date.date+' ob '+file.formatted_date.time+'    Avtor: '+file.name+' '+file.surname
                  .col-sm-1
                    if (file.active)
                      a.btn.btn-primary.mt-3(href='/sendMeDoc?filename='+file.path_name+'&projectId='+projectId) Prenos
                    else
                      a.btn.btn-primary.mt-3.disabled(href='') Prenos
          br
          #addFileRow
            .text-center
              button#newProjectFileBtn.btn.btn-success Dodaj datoteko
        #collapseModification.collapse.multi-collapse
          br
          .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
            #modCategoryBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(role='group' aria-label='Category group')
              button#optionModCategory0.btn.btn-primary.active.stay-focus(type='button', name='options', autocomplete='off', value=0) Vsi
              button#optionModCategory2.btn.btn-purchase(type='button', name='options', autocomplete='off', value=2) Nabava
              button#optionModCategory3.btn.btn-construction(type='button', name='options', autocomplete='off', value=3) Konstrukcija
              button#optionModCategory4.btn.btn-mechanic(type='button', name='options', autocomplete='off', value=4) Strojna izdelava
              button#optionModCategory5.btn.btn-electrican(type='button', name='options', autocomplete='off', value=5) Elektro izdelava
              button#optionModCategory6.btn.btn-assembly(type='button', name='options', autocomplete='off', value=6) Montaža
              button#optionModCategory7.btn.btn-programmer(type='button', name='options', autocomplete='off', value=7) Programiranje
              button#optionModCategory1.btn.btn-dark(type='button', name='options', autocomplete='off', value=1) Brez
            #modStatusBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2(role='group' aria-label='Modification status group')
              button#optionModStatus0.btn.btn-primary.active.stay-focus(type='button', name='options', autocomplete='off', value=0) Vsi
              button#optionModStatus1.btn.btn-primary(type='button', name='options', autocomplete='off', value=1) Predlagani 
              button#optionModStatus2.btn.btn-primary(type='button', name='options', autocomplete='off', value=2) Obravnavani 
              button#optionModStatus3.btn.btn-primary(type='button', name='options', autocomplete='off', value=3) Zaključeni
            if (user_type.toLowerCase() == 'admin')
              br
              #modActivityBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.mb-2(role='group' aria-label='Active group')
                button#optionModActivity0.btn.btn-primary(type='button', name='options', autocomplete='off', value=0) Vsi
                button#optionModActivity1.active.stay-focus.btn.btn-primary(type='button', name='options', autocomplete='off', value=1) Aktivni
                button#optionModActivity2.btn.btn-primary(type='button', name='options', autocomplete='off', value=2) Neaktivni
          table.table.bg-light.table-bordered.table-responsive-xl.tableFixHead
            thead
              tr
                th.text-center.w-75px(scope='col') Datum
                th(scope='col') Sprememba/Popravki
                th.text-center.w-170px(scope='col') Kategorija
                th.text-center.w-150px(scope='col') Ustvaril
                th.text-center.w-170px(scope='col') Status
                th.w-200px(scope='col')
            tbody#modsTableBody
            //ADD ROW INSIDE TABLE
            tr(id='newModRow')
              form#addModForm(role='form', method='post', action='/projects/modifications')
                td
                  .form-group.ml-n2.mr-n2.mb-n2
                    input#modDateNew.form-control.remove-calendar-icon(type='date', name='modDateNew', disabled, required='')
                td
                  .form-group.ml-n2.mr-n2.mb-n2
                    input#modNameNew.form-control(type='text', name='modNameNew', required='', autocomplete="off")
                td
                  .form-group.mb-n2
                    select.custom-select(id='modCategoryNew')
                      option(value=2) Nabava
                      option(value=3) Konstrukcija
                      option(value=4) Strojna izdelava
                      option(value=5) Elektro izdelava
                      option(value=6) Montaža
                      option(value=7) Programiranje
                      option(value=1) Brez
                td
                td
                  .form-group.mb-n2
                    select.custom-select(id='modStatusNew')
                      option(value=1) Predlagana
                      option(value=2) Obravnavana
                      option(value=3) Zaključena
                td
                  .text-center
                    button.btn.btn-success.mb-n1(type='submit', id='addModBtn', data-toggle="tooltip", data-original-title="Dodaj")
                      i.fas.fa-plus.fa-lg
        #collapseWorkOrders.collapse.multi-collapse
          br
          .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
            #workOrdersTypeBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(role='group' aria-label='Type group')
              button#optionWorkOrderType0.btn.btn-primary.active.stay-focus(type='button', name='options', autocomplete='off', value=0) Vsi
              button#optionWorkOrderType1.btn.btn-primary(type='button', name='options', autocomplete='off', value=1) Servis
              button#optionWorkOrderType2.btn.btn-primary(type='button', name='options', autocomplete='off', value=2) Programiranje
              button#optionWorkOrderType3.btn.btn-primary(type='button', name='options', autocomplete='off', value=3) Montaža
              button#optionWorkOrderType4.btn.btn-primary(type='button', name='options', autocomplete='off', value=4) Zagon
              button#optionWorkOrderType5.btn.btn-primary(type='button', name='options', autocomplete='off', value=5) Storitev
              button#optionWorkOrderType6.btn.btn-primary(type='button', name='options', autocomplete='off', value=6) Svetovanje
              button#optionWorkOrderType7.btn.btn-primary(type='button', name='options', autocomplete='off', value=7) Pomoč
            #workOrderModeBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2(role='group' aria-label='Project or subscriber group')
              button#optionWorkOrderMode0.btn.btn-primary.active.stay-focus(type='button', name='options', autocomplete='off', value=0) Projetni
              button#optionWorkOrderMode1.btn.btn-primary(type='button', name='options', autocomplete='off', value=1) Naročnikovi
            if (user_type.toLowerCase() == 'admin')
              #workOrderActivityBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.mb-2(role='group' aria-label='Active workorder group')
                button#optionWorkOrderActivity0.btn.btn-primary(type='button', name='options', autocomplete='off', value=0) Vsi
                button#optionWorkOrderActivity1.btn.btn-primary.active.stay-focus(type='button', name='options', autocomplete='off', value=1) Aktivni
                button#optionWorkOrderActivity2.btn.btn-primary(type='button', name='options', autocomplete='off', value=2) Neaktivni
    br
    .row.col-lg-12
      button#timelineBtn.btn.btn-primary Časovnica
      //a.btn.btn-primary(data-toggle='collapse', href='#collapseTimetable', role='button', aria-expanded='false', aria-controls='collapseTimetable') Časovnica
    #timelineCollapse.row
      .col
        #collapseTimetable.collapse.multi-collapse
          .card.card-body
            h5 Časovnica
              .row.ml-2.mt-2.mr-2.d-flex
                button#moveLeftProjectBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik levo")
                  i.fas.fa-chevron-left.fa-lg
                button#homeProjectBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Trenutni mesec")
                  i.fas.fa-home.fa-lg
                button#moveRightProjectBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik desno")
                  i.fas.fa-chevron-right.fa-lg
                button#filtersProjectBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Filter")
                  i.fas.fa-filter.fa-lg
                button#switchDatesBtn.btn.btn-primary.active.ml-auto(data-toggle="tooltip", data-original-title="Prikaži/skrij datume")
                  i.fas.fa-stopwatch.fa-lg
                button#dayProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Dan")
                  i.fas.fa-calendar-day.fa-lg
                button#weekProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Teden")
                  i.fas.fa-calendar-week.fa-lg
                button#monthProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Mesec")
                  i.fas.fa-calendar.fa-lg
                button#lowerFontProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Zmanjšaj velikost pisave")
                  i.fas.fa-font.fa-lg
                  i.fas.fa-long-arrow-alt-down.fa-lg
                button#higherFontProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Povečaj velikost pisave")
                  i.fas.fa-font.fa-lg
                  i.fas.fa-long-arrow-alt-up.fa-lg
                button#refreshProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Osveži podatke")
                  i.fas.fa-sync.fa-lg
                button#resizeProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Razširi časovnico")
                  i.fas.fa-arrows-alt-h.fa-lg
            hr
            #projectVis
            #myPlot.row
    br
    .row
      h5 Zaposleni na projektu
      .col-xs-12.col-sm-12
        //add workers here
        #workersList.list-group
          each worker in workers
            row.list-group-item.flex-column.worker(id='projectWorker'+worker.id_wp)
              .row
                .col-12.col-sm-12.col-md-5.d-flex
                  .mr-4(id='workerImg'+worker.id_wp)
                    if (worker.workRole.toLowerCase() == 'strojnik' || worker.workRole.toLowerCase() == 'strojni monter')
                      img.img-fluid.w-50px(src='/mechanic64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'električar')
                      img.img-fluid.w-50px(src='/electrican64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'konstruktor' || worker.workRole.toLowerCase() == 'konstrukter')
                      img.img-fluid.w-50px(src='/builder64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'programer plc-jev')
                      img.img-fluid.w-50px(src='/plc64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'programer robotov')
                      img.img-fluid.w-50px(src='/robot64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'vodja' || worker.workRole.toLowerCase() == 'vodja projekta' || worker.workRole.toLowerCase() == 'vodja projektov')
                      img.img-fluid.w-50px(src='/manager64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'vodja strojnikov')
                      img.img-fluid.w-50px(src='/managerMech64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'vodja cnc obdelave')
                      img.img-fluid.w-50px(src='/managerCNC64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'vodja električarjev')
                      img.img-fluid.w-50px(src='/managerElec64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'vodja programerjev')
                      img.img-fluid.w-50px(src='/managerPLC64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'nabavnik' || worker.workRole.toLowerCase() == 'komercialist' || worker.workRole.toLowerCase() == 'komercijalist' || worker.workRole.toLowerCase() == 'tajnik' || worker.workRole.toLowerCase() == 'tajnica' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                      img.img-fluid.w-50px(src='/secratery64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'cnc' || worker.workRole.toLowerCase() == 'cnc operater')
                      img.img-fluid(src='/cnc64.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'varilec')
                      img.img-fluid(src='/welder02.png', alt='ikona')
                    else if (worker.workRole.toLowerCase() == 'serviser')
                      img.img-fluid(src='/serviser.png')
                    else if (worker.workRole.toLowerCase() == 'student' || worker.workRole.toLowerCase() == 'študent')
                      img.img-fluid(src='/student03.png')
                    else
                      img.img-fluid.w-50px(src='/worker64.png', alt='ikona')
                  .ml-3.mt-1(id='workerInfo'+worker.id_wp)
                    .mb-1.row(id='workerName'+worker.id_wp)= worker.name + " " + worker.surname
                .col-4.col-sm-4.col-md-3.mt-1.text-center
                  div(id='workerRole'+worker.id_wp)= worker.workRole
                .col-12.col-sm-8.col-md-4.d-flex
                  .ml-auto.mt-2(id='workerControl'+worker.id_wp)
                    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || leader)
                      button.btn.btn-danger(data-toggle="tooltip", data-original-title="Odstrani")
                        i.fas.fa-trash.fa-lg
                    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || leader || (user_id == worker.id))
                      a.btn.btn-programmer.ml-3(href='/employees/absence?id='+worker.id, data-toggle="tooltip", data-original-title="Odsotnosti")
                        i.fas.fa-clock.fa-lg
                      a.btn.btn-info.ml-3(href='/employees/tasks?userId='+worker.id, data-toggle="tooltip", data-original-title="Opravila")
                        i.fas.fa-angle-right.fa-lg
                      a.btn.btn-primary.ml-3(href='/employees/userId?userId='+worker.id, data-toggle="tooltip", data-original-title="Projekti")
                        i.fas.fa-angle-double-right.fa-lg
    br
    if (user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'admin' || leader)
      .col-md-12.text-center
        //a.btn.btn-primary(href='/projects/addworker/id?id='+projectId) Dodaj delavca
        button#addWorkerBtn.btn.btn-success Dodaj delavca
    br
    br
    //#myPlot
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || leader)
      //MODALNO OKNO ZA DODAJANJE DATUME PROJEKTA
      #modalAddDate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj datum
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addDateform(role='form', method='post')
                .form-group
                  label.w-100(for='date_name') Ime datuma
                    input#date_name.form-control(type='text', name='date_name', required='')
                .form-group
                  label.w-100(for='date_date') Datum
                    input#date_date.form-control(type='date', name='date_date', required='')
                button#btnAddDate.btn.btn-success(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA BRISANJE DATUMOV
      #modalDeleteDate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header.text-center
              h4.modal-title.w-100.font-weight-bold POZOR
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
                h5#deleteDateModalMsg.text-center Ste prepričani, da želite odstraniti ta glavni datum?
                .text-center
                  button#btnDeleteDateConf.btn.btn-danger.mb-n2 Odstrani
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO ZA UREJANJE DATUME PROJEKTA
      #modalEditDate.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Uredi datum
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#editDateform(role='form', method='post')
                .form-group
                  label.w-100(for='date_name_edit') Ime datuma
                    input#date_name_edit.form-control(type='text', name='date_name_edit', required='')
                .form-group
                  label.w-100(for='date_date_edit') Datum
                    input#date_date_edit.form-control(type='date', name='date_date_edit', required='')
                button#btnEditDate.btn.btn-success(type='submit') Uredi
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
      //MODALNO OKNO DODAJ DELAVCA
      #modalAddWorker.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content.text-center
            .modal-header
              h4.modal-title.w-100.font-weight-bold Dodaj delavca
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.mx-3
              form#addWorkerform(role='form', method='post')
                .form-group
                  label.w-100(for='userAdd') Uporabnik
                    select#userAdd.custom-select.mr-sm-2.form-control.select2-users(name='userAdd')
                .form-group
                  label.w-100(for='roleAdd') Vloga
                    select#roleAdd.custom-select.mr-sm-2.form-control.select2-roles(name='roleAdd')
                button#btnAddWorker.btn.btn-success(type='submit') Dodaj
            .modal-footer.d-flex.justify-content-center
              button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //- MODALNO OKNO ZA SORTIRANJE KOSOVNICE ZA DOKUMENTACIJO
    #modalBPSort.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-lg(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Pregled predaje dokumentacije
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .mbsc-form-group
              .mbsc-form-group-title Za urejanje seznama pridržite element na desni strani
              ul#root.mbsc-cloak
            .text-center.mt-2
                button#btnMakeDocCSBPPDF.btn.btn-primary(type='submit') Potrdi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA PREDOGLED KOSOVNICE
    #modalCnfmBuildPartsWithNewTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl(role='document')
        .modal-content.text-center
          .modal-header
            h4.modal-title.w-100.font-weight-bold Potritev kosovnice
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            //create list/table
            table.table.table-hover.bg-light.table-bordered.table-striped.table-responsive-xl.tableFixHeadModal
              thead
                tr
                  th.text-center.w-65px(scope='col')
                  th.text-center.w-75px(scope='col') Poz.
                  th(scope='col') Naziv
                  th.text-center.w-75px(scope='col') Kol.
                  th(scope='col') Material
                  th(scope='col') Št.risbe/standard
                  th.text-center.w-95px(scope='col') Opomba
                  th.text-center.w-75px(scope='col') Ozn.
              tbody#newBuildPartTableBody
              //ADD ROW INSIDE TABLE
              tr(id='newBPTRow')
                form#addBPTForm(role='form', method='post', action='')
                  td
                    .text-center
                      button.btn.btn-success.mb-n1(type='submit', id='addBPTBtn', data-toggle="tooltip", data-original-title="Dodaj")
                        i.fas.fa-plus.fa-lg
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#newBPPosition.form-control(type='number', name='newBPPosition', required='')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#newBPName.form-control(type='text', name='newBPName', required='')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#newBPQuantity.form-control(type='text', name='newBPQuantity')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#newBPMaterial.form-control(type='text', name='newBPMaterial')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#newBPStandard.form-control(type='text', name='newBPStandard')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#newBPNote.form-control(type='text', name='newBPNote')
                  td
                    .form-group.ml-n2.mr-n2.mb-n2
                      input#newBPTag.form-control(type='text', name='newBPTag')
          .modal-footer.d-flex.justify-content-center
            button#btnCnfmBPNT.btn.btn-success Potrdi
            //button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA POGOVOR
    #modalNotes.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Sporočila
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          #messagesBody.modal-body.message-modal-body.mx-3
          .modal-footer.justify-content-center
            .d-flex.w-100
              input#newMessage.form-control.p-1.mr-auto(placeholder='', type='text', name='subtaskInput', autocomplete='off', data-toggle="popover", data-content="", data-placement="top")
              .input-group-append
                button#newMessageBtn.btn.btn-success
                  i.fas.fa-angle-double-right.fa-lg
    //MODALNO OKNO ZA UREJANJE NALOG
    #modalEditSubtask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Uredi nalogo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .form-group
              label.w-100(for='subtaskEditInput') Naziv naloge:
                input#subtaskEditInput.form-control(type='text', name='subtaskEditInput')
            .text-center
              button#btnEditSubtask.btn.btn-success Posodobi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA UREJANJE KOSOV V KOSOVNICI
    #modalEditBuildPart.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Uredi izbrani kos
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .form-row
              .col-md-6
                label.w-100(for='buildPartNameEdit') Naziv
                  input#buildPartNameEdit.form-control(type='text', name='buildPartNameEdit', required='')
                  .invalid-feedback Vnesite naziv!
              .col-md-6
                label.w-100(for='buildPartStandardEdit') Št.risbe/standard
                  input#buildPartStandardEdit.form-control(type='text', name='buildPartStandardEdit', required='')
                  .valid-feedback Pravilen format.
                  #buildPartStandardEditInvalid.invalid-feedback Vnesite št.risbe/standard!
            .form-row
              //.col-md-3
                label.w-100(for='buildPartPositionEdit') Pozicija
                  input#buildPartPositionEdit.form-control(type='number', min='1', value='1', name='buildPartPositionEdit', required='')
                  .invalid-feedback Vnesite pozicijo!
              .col-md-3
                label.w-100(for='buildPartQuantityEdit') Količina
                  input#buildPartQuantityEdit.form-control(type='text', name='buildPartQuantityEdit', required='')
                  .invalid-feedback Vnesite količino!
              .col-md-9
                label.w-100(for='buildPartNoteEdit') Opomba
                  input#buildPartNoteEdit.form-control(type='text', name='buildPartNoteEdit')
              //.col-md-6
                label.w-100(for='buildPartMaterialEdit') Material
                  input#buildPartMaterialEdit.form-control(type='text', name='buildPartMaterialEdit')
                  .invalid-feedback Vnesite material!
            //.form-row
              .col-md-6
                label.w-100(for='buildPartNoteEdit') Opomba
                  input#buildPartNoteEdit.form-control(type='text', name='buildPartNoteEdit')
              .col-md-6
                label.w-100(for='buildPartTagEdit') Oznaka
                  input#buildPartTagEdit.form-control(type='text', name='buildPartTagEdit')
            #editBuildPartButtonBody.text-center
              button#btnEditBuildPart.btn.btn-success Posodobi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA UREJANJE FAZ V KOSOVNICI ZA DOLOCEN KOS
    #modalEditBuildPhase.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Uredi izbrano fazo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .form-row
              .col-md-6
                label.w-100(for='buildPhaseTypeEdit') Tip
                  select.custom-select.mr-sm-2.form-control.select2-phase-type(id='buildPhaseTypeEdit', name='phaseType')
                  .invalid-feedback Vnesite tip!
              .col-md-6
                label.w-100(for='buildPhasePriorityEdit') Prioriteta
                  select.custom-select.mr-sm-2.form-control.select2-priority(id='buildPhasePriorityEdit', name='phasepriority')
            .form-row
              .col-md-6
                label.w-100(for='buildPhaseStartEdit') Začetek
                  input.form-control(id='buildPhaseStartEdit', type='date', name='buildPhaseStartEdit', required='')
                  .invalid-feedback Vnesite začetek!
              .col-md-6
                label.w-100(for='buildPhaseFinishEdit') Konec
                  input.form-control(id='buildPhaseFinishEdit', type='date', name='buildPhaseFinishEdit', required='')
                  .invalid-feedback Vnesite konec!
            .form-row
              .col-md-6
                label.w-100(for='buildPhaseSupplierEdit') Izvajalec
                  select.custom-select.mr-sm-2.form-control.select2-phase-supplier(id='buildPhaseSupplierEdit', name='phasesupplier')
                  .invalid-feedback Vnesite izvajalca!
              .col-md-6
                label.w-100(for='buildPhaseWorkersEdit') Zadolženi za fazo
                  select.custom-select.mr-sm-2.form-control.select2-phase-worker(id='buildPhaseWorkersEdit', name='phaseworker')
            #buildPhaseAdditionalEdit.form-row
            #editBuildPhaseButtonBody.text-center
              button#btnEditBuildPhase.btn.btn-success Posodobi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA IZBIRO PRI PDF
    #modalPDFForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl(role='document')
        .modal-content
          .modal-header.text-center.d-flex.justify-content-between
            .p-1
            h4.modal-title.w-100.font-weight-bold.p-1 Ustvari PDF
            button.close.p-2(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .card-border-secondary
              .card-header Informacije o projektu
              .card-body
                .row
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxLogo.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxLogo') Logotip
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxProjectName.custom-control-input.p-1(type='checkbox', checked='', disabled='')
                      label.custom-control-label(for='checkboxProjectName') Ime projekta
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxDate.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxDate') Datum projekta
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxProjectNumber.custom-control-input.p-1(type='checkbox', checked='', disabled='')
                      label.custom-control-label(for='checkboxProjectNumber') Številka projekta
            .card-border-secondary
              .card-header Dodatne informacije
              .card-body
                .row
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxNote.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxNote') Opomba/Opis
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxProjectDates.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxProjectDates') Glavni datumi
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxComments.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxComments') Komentarji
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxTodayDate.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxTodayDate') Današnji datum
            .card-border-secondary
              .card-header Delavci na projektu
              .card-body
                .row
                  .col-2
                    .custom-control.custom-checkbox
                      input#checkboxVodja.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxVodja') Vodje
                  .col-2
                    .custom-control.custom-checkbox
                      input#checkboxKons.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxKons') Konstrukterji
                  .col-2
                    .custom-control.custom-checkbox
                      input#checkboxStro.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxStro') Strojniki
                  .col-2
                    .custom-control.custom-checkbox
                      input#checkboxElek.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxElek') Električarji
                  .col-2
                    .custom-control.custom-checkbox
                      input#checkboxRobot.custom-control-input(type='checkbox')
                      label.custom-control-label(for='checkboxRobot') Robot prog.
                  .col-2
                    .custom-control.custom-checkbox
                      input#checkboxPlc.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='checkboxPlc') Plc prog.
            .card-border-secondary
              .card-header Status opravil
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAllCompletion.custom-control-input(type='radio', name='customRadioCompletion', value=0)
                    label.custom-control-label(for='radioAllCompletion') Vsa
                  .custom-control.custom-radio
                    input#radioUnComplete.custom-control-input(type='radio', name='customRadioCompletion', checked='', value=1)
                    label.custom-control-label(for='radioUnComplete') Nedokončane
                  .custom-control.custom-radio
                    input#radioComplete.custom-control-input(type='radio', name='customRadioCompletion', value=2)
                    label.custom-control-label(for='radioComplete') Končane
            .card-border-secondary
              .card-header Oddelki
              .card-body   
                .row
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxNabava.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxNabava') Nabava
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxKonstrukcija.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxKonstrukcija') Konstrukcija
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxStrIzd.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStrIzd') Strojna izdelava
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxEleIzd.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxEleIzd') Elektro izdelava
                .row
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxMontaza.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxMontaza') Montaža
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxProg.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProg') Programiranje
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxStroMonRoboteh.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStroMonRoboteh') Strojna montaža - Roboteh
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxStroMonStranka.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStroMonStranka') Strojna montaža - stranka
                .row
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxEleMonRoboteh.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxEleMonRoboteh') Elektro montaža - Roboteh
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxEleMonStranka.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxEleMonStranka') Elektro montaža - stranka
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxElePro.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxElePro') Elektro proektiranje
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxDobava.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxDobava') Dobava
                .row
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxSAT.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxSAT') SAT
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxFAT.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxFAT') FAT
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxZagon.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxZagon') Zagon
                  .col-3
                    .custom-control.custom-checkbox
                      input#checkboxProg.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProg') Naklad
                .d-flex.justify-content-center
                  .custom-control.custom-checkbox
                    input#checkboxBrez.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='checkboxBrez') Brez
            .card-border-secondary
              .card-header Stil tabel
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioObrobe.custom-control-input(type='radio', name='customRadioStyle', checked='', value=0)
                    label.custom-control-label(for='radioObrobe') Obrobe
                  .custom-control.custom-radio
                    input#radioCrte.custom-control-input(type='radio', name='customRadioStyle', value=1)
                    label.custom-control-label(for='radioCrte') Črte
                  .custom-control.custom-radio
                    input#radioBrez.custom-control-input(type='radio', name='customRadioStyle', value=2)
                    label.custom-control-label(for='radioBrez') Brez
            .d-flex.justify-content-center
              a#toPDFBtn.btn.btn-primary(href="/projects/pdfs/"+projectId+"?style=0&pdfOptionCompletion=1&pdfOptionLogo=true&pdfOptionNumber=true&pdfOptionDate=true&pdfOptionLeaders=false&pdfOptionBuilders=false&pdfOptionMechanics=false&pdfOptionElectricans=false&pdfOptionPlc=false&pdfOptionRobot=false&pdfCategoryPurchase=true&pdfCategoryConstruction=true&pdfCategoryMechanic=true&pdfCategoryElectric=true&pdfCategoryAssembly=true&pdfCategoryProgram=true&pdfCategoryNone=true&pdfCategoryMechAssemblyRoboteh=true&pdfCategoryMechAssemblyStranka=true&pdfCategoryEleAssemblyRoboteh=true&pdfCategoryEleAssemblyStranka=true&pdfCategoryEleProektiranje=true&pdfCategoryDobava=true&pdfCategorySAT=true&pdfCategoryFAT=true&pdfCategoryZagon=true&pdfCategoryNaklad=true") PDF
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO DODAJANJE DOKUMENTA
    #modalDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodaj novo datoteko
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#addDocForm(action='/projects/fileUpload', method='POST', enctype='multipart/form-data')
              .form-group
                input#projectIdFile.form-control(type='text', name='projectIdFile', readonly='', hidden='' value=projectId)
              .form-group
                input#docNew(type='file', name='docNew')
                small#fileHelp.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls, txt ter slike.
              .text-center
                button#btnAddDoc.btn.btn-primary(type='submit') Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO DODAJANJE DOKUMENTA POPRAVKOV
    #modalModDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodaj novo datoteko
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#addModDocForm(action='/projects/fileUpload', method='POST', enctype='multipart/form-data')
              .form-group
                input#modDocNew(type='file', name='modDocNew')
                small#fileHelp.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls, txt ter slike.
              .text-center
                button#btnAddModDoc.btn.btn-primary Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE OPRAVIL
    #modalDeleteTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteTaskModalMsg.text-center Ste prepričani, da želite odstraniti to opravilo?
              .text-center
                button#btnDeleteTaskConf.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE NALOG
    #modalDeleteSubtask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteSubtaskModalMsg.text-center Ste prepričani, da želite odstraniti to nalogo?
              .text-center
                button#btnDeleteSubtaskConf.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE DELAVCEV
    #modalDeleteWorker.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteWorkerModalMsg.text-center Ste prepričani, da želite odstraniti izbranega zaposlenega na projektu?
              .text-center
                button#btnDeleteWorkerConf.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE KOSOV
    #modalDeleteBuildPart.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteBuildPartModalMsg.text-center Ste prepričani, da želite odstraniti izbrani kos?
              .text-center
                button#btnDeleteBuildPartConf.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE FAZ
    #modalDeleteBuildPhase.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteBuildPhaseModalMsg.text-center Ste prepričani, da želite odstraniti izbrani kos?
              .text-center
                button#btnDeleteBuildPhaseConf.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE ODSOTNOSTI
    #modalDeleteAbsence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteAbsenceModalMsg.text-center Ste prepričani, da želite odstraniti to odsotnost?
              .text-center
                button#btnDeleteAbsenceConf.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO ZA SPOROČILO
    #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Obvestilo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            row.d-flex
              .mr-auto.w-25
                if (type == 1)
                  img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
                else if (type == 2)
                  img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
                else
                  img#msgImg.img-fluid(src='/info.png', alt='ikona')
              .ml-auto.mt-5
                h5#msg= msg
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
    //MODALNO ZA KONFLIKTE
    #modalConflicts.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Konflikti
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          #conflictsBody.modal-body.fixed-modal-body
          .modal-footer.d-flex.justify-content-center
            button#addTaskBtnOR.btn.btn-success Vseeno dodaj opravilo
    //MODALNO ZA KONFLIKTE
    #modalConflictsEdit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Konflikti
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          #conflictsEditBody.modal-body.fixed-modal-body
          .modal-footer.d-flex.justify-content-center
            button#editTaskBtnOR.btn.btn-success Vseeno posodobi opravilo
    //MODALNO OKNO ZA BRISANJE DATOTEKE PROJEKTA
    #modalDeleteProjectFile.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteModModalMsg.text-center Ste prepričani, da želite TRAJNO odstraniti to datoteko?
              .text-center
                button#btnDeleteFile.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE POPRAVKA
    #modalDeleteMod.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteModModalMsg.text-center Ste prepričani, da želite odstraniti ta popravek?
              .text-center
                button#btnDeleteMod.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO DODAJANJE DOKUMENTA ZA OPRAVILA
    #modalTaskDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodaj novo datoteko
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#addTaskDocForm(action='/projects/taskFileUpload', method='POST', enctype='multipart/form-data')
              .form-group
                input#projectIdTaskFile.form-control(type='text', name='projectIdTaskFile', readonly='', hidden='' value=projectId)
              .form-group
                input#taskIdTaskFile.form-control(type='text', name='taskIdTaskFile', readonly='', hidden='' value='')
              .form-group
                input#docTaskNew(type='file', name='docTaskNew')
                small#fileHelpTask.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls, txt ter slike.
              .text-center
                button#btnAddTaskDoc.btn.btn-primary(type='submit') Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO IZDELAJ DOKUMENTACIJO PREDAJE KOSOVNICE
    #modalMakeDocBPPDF.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Predaja dokumentacije v proizvodnjo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#makeDocBPPDF(action='/projects/krneki', method='POST', enctype='multipart/form-data')
              .form-group.mb-1
                label.w-100(for='docBPProject') Projekt
                  input#docBPProject.form-control(type='text', name='docBPProject', value='')
              //.form-group.mb-1
                label.w-100(for='docBPName') Naziv
                  input#docBPName.form-control(type='text', name='docBPName', value='')
              .form-row
                .col-md-6
                  label.w-100(for='docBPGiver') Predal
                    input.form-control(id='docBPGiver', type='text', name='docBPGiver', required='')
                .col-md-6
                  .d-flex
                    label.w-100(for='docBPGivenDate') Datum predaje
                      input.form-control(id='docBPGivenDate', type='date', name='docBPGivenDate', required='')
                    .custom-control.custom-checkbox.mt-4.ml-2
                      input#docBPGivenDateCheck.custom-control-input(type='checkbox' checked='')
                      label.custom-control-label(for='docBPGivenDateCheck')
              .form-row
                .col-md-6
                  label.w-100(for='docBPTaker') Prevzel
                    input.form-control(id='docBPTaker', type='text', name='docBPTaker', required='')
                .col-md-6
                  .d-flex
                    label.w-100(for='docBPTakenDate') Datum prevzema
                      input.form-control(id='docBPTakenDate', type='date', name='docBPTakenDate', required='')
                    .custom-control.custom-checkbox.mt-4.ml-2
                      input#docBPTakenDateCheck.custom-control-input(type='checkbox' checked='')
                      label.custom-control-label(for='docBPTakenDateCheck')
              .form-row
                .col-md-6
                  label.w-100(for='docBPLeader') Vodja projekta
                    input.form-control(id='docBPLeader', type='text', name='docBPLeader', required='')
                .col-md-6
                  .d-flex
                    label.w-100(for='docBPDateView') Datum pregleda
                      input.form-control(id='docBPDateView', type='date', name='docBPDateView')
                    .custom-control.custom-checkbox.mt-4.ml-2
                      input#docBPDateViewCheck.custom-control-input(type='checkbox' checked='')
                      label.custom-control-label(for='docBPDateViewCheck')
              .form-row
                .col-krneki
                  .custom-control.custom-checkbox.ml-2.mt-2
                      input#docBPCountCheck.custom-control-input.p-1(type='checkbox')
                      label.custom-control-label(for='docBPCountCheck') Količina
                .col
                  input.form-control(id='docBPCount', type='text', name='docBPCount')
              .text-center.mt-2
                button#btnMakeDocBPPDF.btn.btn-primary(type='submit') Potrdi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA FILTER PRI OPRAVILIH IZBRANEGA PROJEKTA
    #modalFilterProjectTasks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center.d-flex.justify-content-between
            .p-1
            h4.modal-title.w-100.font-weight-bold.p-1 Filtriraj opravila izbranega projekta
            button.close.p-2(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .card-border-secondary
              .card-header Oddelki
              .card-body   
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxNabavaFilter.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxNabavaFilter') Nabava
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxKonstrukcijaFilter.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxKonstrukcijaFilter') Konstrukcija
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxStrIzdFilter.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStrIzdFilter') Strojna izdelava
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxEleIzdFilter.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxEleIzdFilter') Elektro izdelava
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxMontazaFilter.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxMontazaFilter') Montaža
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxProgFilter.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProgFilter') Programiranje
                .d-flex.justify-content-center
                  .custom-control.custom-checkbox
                    input#checkboxBrezFilter.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='checkboxBrezFilter') Brez
            .card-border-secondary
              .card-header Procent opravil
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAllTasks.custom-control-input(type='radio', name='customRadioTaskCompletion')
                    label.custom-control-label(for='radioAllTasks') Vsa
                  .custom-control.custom-radio
                    input#radioUnfinishedTasks.custom-control-input(type='radio', name='customRadioTaskCompletion', checked='')
                    label.custom-control-label(for='radioUnfinishedTasks') Nedokončana
                  .custom-control.custom-radio
                    input#radioFinishedTasks.custom-control-input(type='radio', name='customRadioTaskCompletion')
                    label.custom-control-label(for='radioFinishedTasks') Končana
            .d-flex.justify-content-center
              button#applyFilterProjectTL.btn.btn-primary Potrdi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA PRIKAZ PDF DATOTEK
    #modalPDFPreview.modal.fade.overflow-hidden(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl.modal-doc(role='document')
        .modal-content.modal-doc-content
          .modal-body.mx-3(data-dismiss='modal')
            #imgPreviewContainer.document-content
            #pdfPreviewContainer.document-content
  script(type='text/javascript', src='../javascripts/project/project.min.js', async)
  //- script(type='text/javascript', src='../javascripts/project/tasks.js', async)
  //- script(type='text/javascript', src='../javascripts/project/workers.js', async)
  //- script(type='text/javascript', src='../javascripts/project/files.js', async)
  //- script(type='text/javascript', src='../javascripts/project/absences.js', async)
  //- script(type='text/javascript', src='../javascripts/project/buildparts.js', async)
  //- script(type='text/javascript', src='../javascripts/project/buildphases.js', async)
  //- script(type='text/javascript', src='../javascripts/project/buildpartstask.js', async)
  //- script(type='text/javascript', src='../javascripts/project/buildpartdocpdf.js', async)
  //- script(type='text/javascript', src='../javascripts/project/subtasks.js', async)
  //- script(type='text/javascript', src='../javascripts/project/viz.js', async)
  //- script(type='text/javascript', src='../javascripts/project/project.js', async)
  //- script(type='text/javascript', src='../javascripts/project/pdf.js', async)
  //- script(type='text/javascript', src='../javascripts/project/dates.js', async)
  //- script(type='text/javascript', src='../javascripts/project/modifications.js', async)
  //- script(type='text/javascript', src='../javascripts/messages/messages.js', async)