extends layout

block skripte
	//select2
	link(href='/select2/select2.min.css', rel='stylesheet', async)
	script(src='/select2/select2.min.js', async)
	//pdfmake
	//script(type='text/javascript', src='/pdfmake/pdfmake.min.js')
	//script(type='text/javascript', src='/pdfmake/vfs_fonts.js')

block content
	.page-header
		.row
			.col-lg-4
				h1 Pregled poročil
			.col-lg-4
				button#monthlyReportsButton.btn.btn-primary Mesečna poročila
				button#dailyReportsButton.btn.btn-primary.active.ml-2 Dnevna poročilo
			.col-lg-4.d-flex
				#pdfMonthButton.ml-auto
				.ml-2
					button#addReportButton.btn.btn-success.ml-2 Dodaj poročilo
	.row
		if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
	.row
		.col-lg-4
			form#getReportsForm(role='form', method='get')
				if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
					.row.mb-n3
						.form-group.w-100
							label.w-100(for='userSelect') Uporabnik
								select#userSelect.custom-select.mr-sm-2.form-control.select2-users(name='userSelect')
				.row.mb-n3
					.form-group.w-100
						label.w-100(for='report_start') Od
							input#report_start.form-control(type='date', name='report_start', required='')
				.row.mb-n1
					.form-group.w-100
						label.w-100(for='report_finish') Do
							input#report_finish.form-control(type='date', name='report_finish', required='')
				.d-flex.justify-content-around
					.custom-control.custom-radio
						input.custom-control-input(id="radioProject" type="radio" name="customRadioInput" value='0' checked)
						label.custom-control-label(for="radioProject") Projekt
					.custom-control.custom-radio
						input.custom-control-input(id="radioOther" type="radio" name="customRadioInput" value='1')
						label.custom-control-label(for="radioOther") Drugo
				#inputReportProjectForm.row.mb-n3
					.form-group.w-100
						label.w-100(for='project_select') Projekt
							select#project_select.custom-select.mr-sm-2.form-control.select2-projects(name='project_select')
				#inputReportOtherForm.row.mb-n3
					.form-group.w-100
						label.w-100(for='otherInput') Iskan niz v poročilih brez projekta
							input#otherInput.form-control(type='text', name='otherInput')
				.row.mb-n3
					.form-group.w-100
						label.w-100(for='report_type') Tip poročila
							select#report_type.custom-select.mr-sm-2.form-control.select2-type.w-100(name='report_type')
				.text-center
					button#searchReportsButton.btn.btn-primary(type='submit') Poišči poročila
		.col-lg-8
			h5 Poročila
			#reportBody.changes-body
	//MODALNO OKNO ZA NOVO POROČILO
	#modalAddNewReport.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header.text-center
					h4.modal-title.w-100.font-weight-bold Dodaj poročilo
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body.mx-3
					form#addNewReportForm(role='form', method='post')
						if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
							.form-group.w-100
								label.w-100(for='newReportUser') Uporabnik
									select#newReportUser.custom-select.mr-sm-2.form-control.select2-new-report-users(name='newReportUser')
						.form-group.w-100
							label.w-100(for='newReportDate') Datum
								input#newReportDate.form-control(type='date', name='newReportDate', required='')
						.row.ml-1.mr-1
							.form-group
								label(for='newReportTime') Opravljen čas
									input#newReportTime.form-control(type='time', name='newReportTime', value='08:00', required='', disabled)
									.invalid-feedback Nepravilen vnos!
							label.ml-auto(for='newReportCalcTime') Samodejni izračun opravljenega časa (OD - DO)
								.row.justify-content-around
									.form-group
										input#newReportStart.form-control(type='time', name='newReportStart', value='07:00', required='')
									.form-group
										input#newReportFinish.form-control(type='time', name='newReportFinish', value='15:00', required='')
						.form-group.mb-1.mt-n2
							.d-flex.justify-content-around
								.custom-control.custom-radio
									input.custom-control-input(id="newReportRadioProject" type="radio" name="customRadio" value='0' checked)
									label.custom-control-label(for="newReportRadioProject") Projekt
								.custom-control.custom-radio
									input.custom-control-input(id="newReportRadioOther" type="radio" name="customRadio" value='1')
									label.custom-control-label(for="newReportRadioOther") Drugo
						#newReportProjectForm.form-group.w-100
							label.w-100(for='newReportProject') Projekt
								select#newReportProject.custom-select.mr-sm-2.form-control.select2-new-report-projects(name='newReportProject')
						#newReportOtherForm.form-group
							label.w-100(for='newReportOther') Drugo
								input#newReportOther.form-control(name='newReportOther', autocomplete='off' maxlength='64')
						.form-group.w-100
							label.w-100(for='newReportType') Tip poročila
								select#newReportType.custom-select.mr-sm-2.form-control.select2-new-report-type(name='newReportType')
						.form-group
							label.w-100(for='newReportDescription') Kratek opis (maks 500 znakov)
								textarea#newReportDescription.form-control(name='newReportDescription', required='', autocomplete='off', rows='4', maxlength='500')
						.text-center
							button#btnAddReport.btn.btn-success.mt-n2.mb-n2(type='submit') Dodaj
				.modal-footer.d-flex.justify-content-center
					button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
	//MODALNO OKNO ZA BRISANJE POROČILA
	#modalDeleteReport.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header.text-center
					h4.modal-title.w-100.font-weight-bold POZOR
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body.mx-3
						h5#deleteModalMsg.text-center Ste prepričani, da želite odstraniti to poročilo?
						.text-center
							button#btnDeleteReport.btn.btn-danger.mb-n2 Odstrani
				.modal-footer.d-flex.justify-content-center
					button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
	//MODALNO OKNO ZA UREJANJE POROČILA
	#modalEditReport.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header.text-center
					h4.modal-title.w-100.font-weight-bold.ml-5 Uredi poročilo
					button#reportDeleteButton.btn.btn-danger.ml-2
						i.fas.fa-trash.fa-lg
					button#reportCloseButton.btn.btn-secondary.ml-2(data-dismiss='modal', aria-label='Close')
						i.fas.fa-times.fa-lg
					//button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body.mx-3
					form#editReportForm(role='form', method='post')
						if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
							.form-group.w-100
								label.w-100(for='editReportUser') Uporabnik
									select#editReportUser.custom-select.mr-sm-2.form-control.select2-edit-report-users(name='editReportUser', disabled='')
						.form-group.w-100
							label.w-100(for='editReportDate') Datum
								input#editReportDate.form-control(type='date', name='editReportDate', required='')
						.row.ml-1.mr-1
							.form-group
								label(for='editReportTime') Opravljen čas
									input#editReportTime.form-control(type='time', name='editReportTime', value='08:00', required='', disabled='')
									.invalid-feedback Nepravilen vnos!
							label.ml-auto(for='editReportCalcTime') Samodejni izračun opravljenega časa (OD - DO)
								.row.justify-content-around
									.form-group
										input#editReportStart.form-control(type='time', name='editReportStart', value='07:00', required='')
									.form-group
										input#editReportFinish.form-control(type='time', name='editReportFinish', value='15:00', required='')
						.form-group.mb-1.mt-n2
							.d-flex.justify-content-around
								.custom-control.custom-radio
									input.custom-control-input(id="editReportRadioProject" type="radio" name="customRadioEdit" value='0' checked)
									label.custom-control-label(for="editReportRadioProject") Projekt
								.custom-control.custom-radio
									input.custom-control-input(id="editReportRadioOther" type="radio" name="customRadioEdit" value='1')
									label.custom-control-label(for="editReportRadioOther") Drugo
						#editReportProjectForm.form-group.w-100
							label.w-100(for='editReportProject') Projekt
								select#editReportProject.custom-select.mr-sm-2.form-control.select2-new-report-projects(name='editReportProject')
						#editReportOtherForm.form-group
							label.w-100(for='editReportOther') Drugo
								input#editReportOther.form-control(name='editReportOther', autocomplete='off' maxlength='64')
						.form-group.w-100
							label.w-100(for='editReportType') Tip poročila
								select#editReportType.custom-select.mr-sm-2.form-control.select2-new-report-type(name='editReportType')
						.form-group
							label.w-100(for='editReportDescription') Kratek opis (maks 500 znakov)
								textarea#editReportDescription.form-control(name='editReportDescription', required='', autocomplete='off', rows='4', maxlength='500')
						.text-center
							button#btnEditReport.btn.btn-success.mt-n2.mb-n2(type='submit') Posodobi
				.modal-footer.d-flex.justify-content-center
					button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
	//script(type='text/javascript', src='../javascripts/reports/reports.js', async)
	script(type='text/javascript', src='../javascripts/reports/reports.min.js')