extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)
  //pdf.js
  script(src='/pdfjs/pdf.min.js')
  script(src='/pdfjs/pdf.worker.min.js')

block content
  .page-header
    .row
      .col-lg-6
        h1 Seznam servisov - storitev
  canvas#the-canvas.d-none
  //if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik' || user_type == 'programer plc-jev' || user_type == 'programer robotov' || user_type == 'konstrukter' || user_type == 'konstruktor')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    #taskId(hidden='')= tid
    .row
      .col
        #collapseTableTask.collapse.multi-collapse.show
          br
          .btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
            #categoryBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.flex-wrap(role='group' aria-label='Category group')
              button#option0.btn.btn-primary.active(type='button', name='options', autocomplete='off', value=0) Vsa
              button#option2.btn.btn-purchase(type='button', name='options', autocomplete='off', value=2) Nabava
              button#option3.btn.btn-construction(type='button', name='options', autocomplete='off', value=3) Konstrukcija
              button#option4.btn.btn-mechanic(type='button', name='options', autocomplete='off', value=4) Strojna izdelava
              button#option5.btn.btn-electrican(type='button', name='options', autocomplete='off', value=5) Elektro izdelava
              button#option6.btn.btn-assembly(type='button', name='options', autocomplete='off', value=6) Montaža
              button#option7.btn.btn-programmer(type='button', name='options', autocomplete='off', value=7) Programiranje
              button#option1.btn.btn-dark(type='button', name='options', autocomplete='off', value=1) Brez
            #completionBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.ml-auto(role='group' aria-label='Completion group')
              button#optionAllCompletion.btn.btn-primary(type='button', name='options', autocomplete='off', value=0) Vsa
              button#optionUncomplete.btn.btn-primary(type='button', name='options', autocomplete='off', value=1) Nekončana
              button#optionComplete.btn.btn-primary(type='button', name='options', autocomplete='off', value=2) Končana
            if (user_type.toLowerCase() == 'admin')
              br
              #activityBtnGroup.btn-group.btn-group-toggle.mr-2.mt-2.mb-n3(role='group' aria-label='Active group')
                button#optionAll.btn.btn-primary(type='button', name='options', autocomplete='off', value=0) Vsa
                button#optionTrue.btn.btn-primary.active(type='button', name='options', autocomplete='off', value=1) Aktivna
                button#optionFalse.btn.btn-secondary(type='button', name='options', autocomplete='off', value=2) Neaktivna
          .row.mt-3
            .mt-2.d-flex
              label.ml-4.mr-2.mt-1(for='selectNumberServices') Prikaži
              .mr-2
                select#selectNumberServices.form-control.form-control-sm
                  option(value="10") 10
                  option(value="20") 20
                  option(value="30") 30
                  option(value="50") 50
                  option(value="100") 100
                  option(value="-1") vsa
              label.mt-1 opravil
            .custom-control.custom-switch.ml-auto.mt-3
              input#showMyInputTasksSwitch.custom-control-input(type='checkbox')
              label.custom-control-label(for='showMyInputTasksSwitch') Moji vnosi
            .custom-control.custom-switch.ml-2.mt-3.mr-4
              input#showMyTasksSwitch.custom-control-input(type='checkbox')
              label.custom-control-label(for='showMyTasksSwitch') Moje zadolžitve
          br
          script.
            var activePage = #{JSON.stringify(page)}
            var completionTask = #{JSON.stringify(completionTable)}
          //add tasks here
          #taskList.list-group.mt-n4
          //pagination
          - var n = 2;
          #taskPages.d-flex.justify-content-end.mt-2
          #addTaskRow
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'programer plc-jev' || user_type.toLowerCase() == 'programer robotov' || user_type.toLowerCase() == 'konstrukter' || user_type.toLowerCase() == 'konstruktor')
              .multi-collapse.collapse(id='collapseAddTask')
                .row.d-flex.justify-content-end
                  button.close.mr-4(type='button', aria-label='Close')
                    span(aria-label='true') x
                form#editTaskform(role='form', method='post', data-select2-id='editTaskform')
                  .form-row
                    .col-md-6
                      .form-group
                        label.w-100(for='taskNameAdd') Ime servisa
                          input#taskNameAdd.form-control(type='text', name='taskNameAdd', required='')
                          .invalid-feedback Za dodajanje novega servisa je potrebno vnesti vsaj ime servisa!
                    .col-md-6
                      .form-group
                        label.w-100(for='taskSubscriberAdd') Naročnik
                          select#taskSubscriberAdd.custom-select.mr-sm-2.form-control.select2-subscriberAdd.w-100(name='taskSubscriberAdd')
                  .form-row
                    .col-md-6
                      .form-group
                        label.w-100(for='taskStartAdd') Začetek servisa
                          input#taskStartAdd.form-control(type='date', name='taskStartAdd')
                          .invalid-feedback Začetek in konec storitve si časovno ne sledita!
                    .col-md-6
                      .form-group
                        label.w-100(for='taskFinishAdd') Konec servisa
                          input#taskFinishAdd.form-control(type='date', name='taskFinishAdd')
                          .invalid-feedback Začetek in konec storitve si časovno ne sledita!
                  .form-row
                    .col-md-6
                      .form-group
                        label.w-100(for='taskDurationAdd') Število dni
                          input#taskDurationAdd.form-control(type='number', name='taskDurationAdd', min='0', tabindex='-1', placeholder='Se izračuna samo po vnosu obeh datumov.', disabled)
                    .col-md-6
                      .form-group
                        label.w-100(for='taskAssignmentAdd') Dodeli opravilo
                          select#taskAssignmentAdd.custom-select.mr-sm-2.form-control.select2-workersAdd.w-100(name='worker')
                  .form-row
                    .col-md-6
                      .form-group
                        label.w-100(for='taskCategoryAdd') Kategorija
                          select#taskCategoryAdd.custom-select.mr-sm-2.form-control.select2-taskCategoryAdd.w-100(name='worker')
                    .col-md-6
                      .form-group
                        label.w-100(for='taskPriorityAdd') Prioriteta
                          select#taskPriorityAdd.custom-select.mr-sm-2.form-control.select2-taskPriorityAdd.w-100(name='worker')
                  .d-flex.justify-content-center.mb-2.mt-n2
                    .custom-control.custom-checkbox
                      input#taskWeekendAdd.custom-control-input(type='checkbox')
                      label.custom-control-label(for='taskWeekendAdd') Vikend
              .text-center
                  button#btnAddService.btn.btn-success Dodaj servis - Storitev
    br
    br
    //MODALNO OKNO ZA POGOVOR
    #modalNotes.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Sporočila
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          #messagesBody.modal-body.message-modal-body.mx-3
          .modal-footer.justify-content-center
            .d-flex.w-100
              input#newMessage.form-control.p-1.mr-auto(placeholder='', type='text', name='subtaskInput', autocomplete='off', data-toggle="popover", data-content="", data-placement="top")
              .input-group-append
                button#newMessageBtn.btn.btn-success
                  i.fas.fa-angle-double-right.fa-lg
    //MODALNO ZA SPOROČILO
    #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Obvestilo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            row.d-flex
              .mr-auto.w-30
                if (type == 1)
                  img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
                else if (type == 2)
                  img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
                else
                  img#msgImg.img-fluid(src='/info.png', alt='ikona')
              .ml-auto.mt-5
                h5#msg= msg
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'programer plc-jev' || user_type.toLowerCase() == 'programer robotov' || user_type.toLowerCase() == 'konstrukter' || user_type.toLowerCase() == 'konstruktor')
      //MODALNO ZA KONFLIKTE
      #modalConflicts.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Konflikti
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            #conflictsBody.modal-body.fixed-modal-body
            .modal-footer.d-flex.justify-content-center
              button#addTaskBtnOR.btn.btn-success Vseeno dodaj opravilo
      //MODALNO ZA KONFLIKTE
      #modalConflictsEdit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h4.modal-title.w-100.font-weight-bold Konflikti
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            #conflictsEditBody.modal-body.fixed-modal-body
            .modal-footer.d-flex.justify-content-center
              button#editTaskBtnOR.btn.btn-success Vseeno posodobi opravilo
    //MODALNO OKNO DODAJANJE DOKUMENTA ZA OPRAVILA
    #modalTaskDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodaj novo datoteko
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#addTaskDocForm(action='/servis/taskFileUpload', method='POST', enctype='multipart/form-data')
              .form-group
                input#projectIdTaskFile.form-control(type='text', name='projectIdTaskFile', readonly='', hidden='' value=projectId)
              .form-group
                input#taskIdTaskFile.form-control(type='text', name='taskIdTaskFile', readonly='', hidden='' value='')
              .form-group
                input#docNew(type='file', name='docNew')
                small#fileHelpTask.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls, txt ter slike.
              .text-center
                button#btnAddTaskDoc.btn.btn-primary Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE OPRAVIL
    #modalDeleteTask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteTaskModalMsg.text-center Ste prepričani, da želite odstraniti to opravilo?
              .text-center
                button#btnDeleteTaskConf.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE NALOG
    #modalDeleteSubtask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteSubtaskModalMsg.text-center Ste prepričani, da želite odstraniti to nalogo?
              .text-center
                button#btnDeleteSubtaskConf.btn.btn-danger.mb-n2 Odstrani
              #additionalWarning
                hr
                .text-center
                  h5#warningSubtaskDeleteMsg.text-center.strong
                    strong Storitev nima povezanega delovnega naloga. Po izbrisani nalogi bo opravilo označeno kot zaključeno, čeprav nima delovnega naloga!
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE ODSOTNOSTI
    #modalDeleteAbsence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteAbsenceModalMsg.text-center Ste prepričani, da želite odstraniti to odsotnost?
              .text-center
                button#btnDeleteAbsenceConf.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE DATOTEKE PROJEKTA
    #modalDeleteProjectFile.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteModModalMsg.text-center Ste prepričani, da želite TRAJNO odstraniti to datoteko?
              .text-center
                button#btnDeleteFile.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA UREJANJE NALOG
    #modalEditSubtask.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Uredi nalogo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .form-group
              label.w-100(for='subtaskEditInput') Naziv naloge:
                input#subtaskEditInput.form-control(type='text', name='subtaskEditInput')
            .text-center
              button#btnEditSubtask.btn.btn-success Posodobi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA OPOZORILO POVEZAVE Z DELOVNIMI NALOGI
    #modalWarningWO.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold Nekončana storitev
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .row
              .col-4
                img#msgImgWO.img-fluid(src='/warning_sign.png', alt='ikona')
              .col-8.mt-3
                h5#warningWoMsg.text-center
                | Storitev nima povezanega delovnega naloga!
                | Ko se poveže delovni nalog s storitvijo se bo lahko storitev zaključila.
            .text-center
              a.btn.btn-primary(href='/workorders') Pojdi na delovne naloge
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
              hr
              .row
                .col-12.mt-3
                  h5.text-center V primeru, da ima storitev delovni nalog v papirnati obliki:
              .text-center
                button#btnOverrideSubtask.btn.btn-success.mb-n2 Končaj storitev
                button#btnOverrideTask.btn.btn-success.mb-n2 Končaj storitev
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA PRIKAZ PDF DATOTEK
    #modalPDFPreview.modal.fade.overflow-hidden(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-xl.modal-doc(role='document')
        .modal-content.modal-doc-content
          .modal-body.mx-3(data-dismiss='modal')
            #imgPreviewContainer.document-content
            #pdfPreviewContainer.document-content
  script(type='text/javascript', src='../javascripts/servis/servis.min.js', async)
  //script(type='text/javascript', src='../javascripts/servis/servis.js', async)
  //script(type='text/javascript', src='../javascripts/messages/messages.js', async)
  //script(type='text/javascript', src='../javascripts/servis/subtasks.js', async)
  //script(type='text/javascript', src='../javascripts/servis/tasks.js', async)
  //script(type='text/javascript', src='../javascripts/servis/absences.js', async)
  //script(type='text/javascript', src='../javascripts/servis/files.js', async)