extends layout

block skripte
  //datatables (strani z tabelami)
  link(rel='stylesheet', type='text/css', href='/DataTables/datatables.min.css', async)
  script(type='text/javascript', src='/DataTables/datatables.min.js', async)

block content
  .page-header
    .row
      .col-lg-6
        h1 Standardne komponente
  //if (user_type == 'admin' || user_type == 'tajnik' || user_type.substring(0,5) == 'vodja')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
      button#openNewStdCompModal.btn.btn-success.mr-2
        i.fas.fa-plus.fa-lg
    br
    if (user_type.toLowerCase() == 'admin')
      .btn-group.btn-group-toggle.mr-2.mt-2.mb-2(data-toggle='buttons')
        label.btn.btn-primary Vse
          input#optionAllActivities(type='radio' name='stdCompActivityOptions' autocomplete='off')
        label.btn.btn-primary Aktivne
          input#optionTrueActivities(type='radio' name='stdCompActivityOptions' autocomplete='off' checked='')
        label.btn.btn-secondary Neaktivne
          input#optionFalseActivities(type='radio' name='stdCompActivityOptions' autocomplete='off')
    table#stdComponentsTable.display.table.table-hover.table-light.w-100
    //MODALNO ZA SPOROČILO
    #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Obvestilo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            row.d-flex
              .mr-2.w-25
                if (type == 0)
                  img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
                else if (type == 2 || type == 1)
                  img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
                else
                  img#msgImg.img-fluid(src='/info.png', alt='ikona')
              .ml-auto.mt-4
                h5#msg= msg
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
    //MODALNO OKNO DODAJ NOVO STANDARDNO KOMPONENTO
    #modalAddStdComp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodaj standardno komponento
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .col-sm-12#messageAdd
            form#addStdCompform(role='form', method='post')
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='newManufacturer') Proizvajelc
                      input#newManufacturer.form-control(type='text', name='newManufacturer', required='')
                .col-md-6
                  .form-group
                    label.w-100(for='newName') Naziv
                      input#newName.form-control(type='text', name='newName', required='')
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='newType') Tip
                      input#newType.form-control(type='text', name='newType')
                .col-md-6
                  .form-group
                    label.w-100(for='newOrderNumber') Naročniška številka
                      input#newOrderNumber.form-control(type='text', name='newOrderNumber')
              if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
                .form-row
                  .col-md-6
                    .form-group
                      label.w-100(for='newOurPrice') Naša cena
                        input#newOurPrice.form-control(type='text', name='newOurPrice')
                  .col-md-6
                    .form-group
                      label.w-100(for='newListPrice') List price
                        input#newListPrice.form-control(type='text', name='newListPrice')
              .text-center
                button#btnAddStdComp.btn.btn-success(type='submit') Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO UREDI STANDARDNO KOMPONENTO
    #modalEditStdComp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Uredi standardno komponento
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .col-sm-12#messageAdd
            form#editStdCompform(role='form', method='post')
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='editManufacturer') Proizvajelc
                      input#editManufacturer.form-control(type='text', name='editManufacturer', required='')
                .col-md-6
                  .form-group
                    label.w-100(for='editName') Naziv
                      input#editName.form-control(type='text', name='editName', required='')
              .form-row
                .col-md-6
                  .form-group
                    label.w-100(for='editType') Tip
                      input#editType.form-control(type='text', name='editType')
                .col-md-6
                  .form-group
                    label.w-100(for='editOrderNumber') Naročniška številka
                      input#editOrderNumber.form-control(type='text', name='editOrderNumber')
              if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
                .form-row
                  .col-md-6
                    .form-group
                      label.w-100(for='editOurPrice') Naša cena
                        input#editOurPrice.form-control(type='text', name='editOurPrice')
                  .col-md-6
                    .form-group
                      label.w-100(for='editListPrice') List price
                        input#editListPrice.form-control(type='text', name='editListPrice')
              .text-center
                button#btnEditStdComp.btn.btn-success(type='submit') Posodobi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA BRISANJE STANDARDNE KOMPONENTE
    #modalDeleteStdComp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center
            h4.modal-title.w-100.font-weight-bold POZOR
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
              h5#deleteModalMsg.text-center Ste prepričani, da želite odstraniti to standardno komponento?
              .text-center
                button#btnDeleteStdComp.btn.btn-danger.mb-n2 Odstrani
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //script(type='text/javascript', src='../javascripts/components/stdComponents.js')
    script(type='text/javascript', src='../javascripts/components/components.min.js')