extends layout

block skripte
  //datatables (strani z tabelami)
  link(rel='stylesheet', type='text/css', href='/DataTables/datatables.min.css', async)
  script(type='text/javascript', src='/DataTables/datatables.min.js', async)

block content
  .page-header
    .row
      .col-lg-6
        h1 Naročniki
  //if (user_type == 'admin' || user_type == 'tajnik' || user_type.substring(0,5) == 'vodja')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja')
      button#AddSubBtn.btn.btn-success.mr-2 Dodaj naročnika
    br
    table#subscribersTable.display.table.table-hover.table-light.w-100
    //MODALNO OKNO DODAJANJE NAROČNIKA 
    #modalSubscriberAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodaj novega naročnika
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#addSubForm(action='/subscribers/fileUpload', method='POST', enctype='multipart/form-data')
              .form-group
                label.w-100(for='subscriberName') Naziv naročnika
                  input#subscriberName.form-control(type='text', name='subscriberName', required='')
              .form-group
                input#imageNew(type='file', name='imageNew')
                small#fileHelp.form-text.text-muted Slika naj ne bo prevelike velikosti, dovolj je 200x200, na straneh je slika pomanjšana, tako da se detajlov niti ne vidi. Prav tako se pri kreiranju PDF izognemo neusklanjevanju slike z dokumentom, če je slika pravokotne velikosti.
              .text-center
                button#btnAddSub.btn.btn-primary(type='submit') Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO UREJANJE NAROČNIKA 
    #modalSubscriberEditForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Uredi naročnika
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#editSubForm(action='/subscribers/fileUploadEdit', method='POST', enctype='multipart/form-data')
              .form-group
                input#subscriberIdEdit.form-control(type='text', name='subscriberIdEdit', readonly='', hidden='')
              .form-group
                label.w-100(for='subscriberNameEdit') Naziv naročnika
                  input#subscriberNameEdit.form-control(type='text', name='subscriberNameEdit', required='')
              .form-group
                input#imageEdit(type='file', name='imageEdit')
                small#fileHelp.form-text.text-muted Če naročnik že ima ikono in ne izberete datoteke, ta ikona ostane in se posodobi samo naziv naročnika
              .text-center
                button#btnEditSub.btn.btn-primary(type='submit') Posodobi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO ZA SPOROČILO
    #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Obvestilo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            row.d-flex
              .mr-2.w-25
                if (type == 0)
                  img#msgImg.img-fluid(src='/warning_sign.png', alt='ikona')
                else if (type == 2 || type == 1)
                  img#msgImg.img-fluid(src='/ok_sign.png', alt='ikona')
                else
                  img#msgImg.img-fluid(src='/info.png', alt='ikona')
              .ml-auto.mt-4
                h5#msg= msg
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
    //MODALNO OKNO DODAJANJE DOKUMENTA
    //#modalDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Dodaj nov dokument
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            form#addDocForm(action='/subscribers/docUpload', method='POST', enctype='multipart/form-data')
              .form-group
                input(type='file', name='docNew')
                small#fileHelp.form-text.text-muted To je samo test za dodajanje dokumenta.
              .text-center
                button#btnAddDoc.btn.btn-primary(type='submit', onclick="setTimeout(disableFunction, 1);") Dodaj
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    script(type='text/javascript', src='../javascripts/subscriber/subscribers.min.js', async)
    //script(type='text/javascript', src='../javascripts/subscriber/manageSubscribers.js')