extends layout

block skripte
  //povsod kjer ima vojda izbiro pri vnosu na strani
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)
  //tam kjer so časovnice
  //script(src="/timelines-chart/dist/timeline.min.js", async)
  //za vis.js
  script(src='/moment/moment.min.js')
  script(src='/moment/sl.min.js')
  script(src='/vis/vis-data.min.js')
  link(rel='stylesheet', type="text/css", href='/vis/vis-timeline-graph2d.min.css')
  script(src='/vis/vis-timeline-graph2d.min.js')
  //arrow.js - javascript file/addon for adding arrows from one id element on timeline to another id element
  script(src='/vis/arrow.js')
  //jspdf
  script(src='/jspdf/jspdf.umd.min.js')
  //html2canvas
  script(src='/html2canvas/html2canvas.min.js')

block content-fluid
  .page-header
    .row
      .col-lg-6
        h1 Vizualizacija
  //if (user_type == 'admin' || user_type.substring(0,5) == 'vodja' || user_type == 'tajnik')
  if (user_type.toLowerCase().substring(0,4) != 'info')
    br
    ul.nav.nav-tabs
      //li.nav-item
        a.nav-link.active(data-toggle='tab', href='#projects') Projekti
      //li.nav-item
        a.nav-link(data-toggle='tab', href='#tasks') Opravila
      //li.nav-item
        a.nav-link(data-toggle='tab', href='#employee') Zaposleni
      li.nav-item
        a#projectsTabBtn.nav-link.active(data-toggle='tab', href='#projectsDuo') Projekti
      li.nav-item
        a#projectTabBtn.nav-link(data-toggle='tab', href='#projectDuo') Projekt
      li.nav-item
        a#assignmentsTabBtn.nav-link(data-toggle='tab', href='#employees') Zaposlenost
    #myTabContent.tab-content.viz-content
      #employees.tab-pane.fade
        h5 Vizualizacija zaposlenosti uporabnikov
          .row.ml-2.mt-2.mr-2.d-flex
            button#moveLeftAssignmentsBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik levo")
              i.fas.fa-chevron-left.fa-lg
            button#homeAssignmentsBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Trenutni teden")
              i.fas.fa-home.fa-lg
            button#moveRightAssignmentsBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik desno")
              i.fas.fa-chevron-right.fa-lg
            button#filtersAssignmentsBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Filter")
              i.fas.fa-filter.fa-lg
            button#dayAssignmentsBtn.btn.btn-primary.ml-auto(data-toggle="tooltip", data-original-title="Dan")
              i.fas.fa-calendar-day.fa-lg
            button#weekAssignmentsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Teden")
              i.fas.fa-calendar-week.fa-lg
            button#monthAssignmentsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Mesec")
              i.fas.fa-calendar.fa-lg
            button#lowerFontAssignmentsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Zmanjšaj velikost pisave")
              i.fas.fa-font.fa-lg
              i.fas.fa-long-arrow-alt-down.fa-lg
            button#higherFontAssignmentsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Povečaj velikost pisave")
              i.fas.fa-font.fa-lg
              i.fas.fa-long-arrow-alt-up.fa-lg
            button#refreshAssignmentsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Osveži podatke")
              i.fas.fa-sync.fa-lg
        hr
        #employeesVis
      #projectsDuo.tab-pane.fade.active.show
        h5 Vizualizacija projektov
          .row.ml-2.mt-2.mr-2.d-flex
            button#moveLeftProjectsBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik levo")
              i.fas.fa-chevron-left.fa-lg
            button#homeProjectsBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Trenutni mesec")
              i.fas.fa-home.fa-lg
            button#moveRightProjectsBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik desno")
              i.fas.fa-chevron-right.fa-lg
            button#filtersProjectsBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Filter")
              i.fas.fa-filter.fa-lg
            button#dayProjectsBtn.btn.btn-primary.ml-auto(data-toggle="tooltip", data-original-title="Dan")
              i.fas.fa-calendar-day.fa-lg
            button#weekProjectsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Teden")
              i.fas.fa-calendar-week.fa-lg
            button#monthProjectsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Mesec")
              i.fas.fa-calendar.fa-lg
            button#lowerFontProjectsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Zmanjšaj velikost pisave")
              i.fas.fa-font.fa-lg
              i.fas.fa-long-arrow-alt-down.fa-lg
            button#higherFontProjectsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Povečaj velikost pisave")
              i.fas.fa-font.fa-lg
              i.fas.fa-long-arrow-alt-up.fa-lg
            button#refreshProjectsBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Osveži podatke")
              i.fas.fa-sync.fa-lg
        hr
        #projectsVis
      #projectDuo.tab-pane.fade
        h5 Vizualizacija opravil projekta
          .row.ml-2.mt-2.mr-2.d-flex
            button#moveLeftProjectBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik levo")
              i.fas.fa-chevron-left.fa-lg
            button#homeProjectBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Trenutni mesec")
              i.fas.fa-home.fa-lg
            button#moveRightProjectBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Premik desno")
              i.fas.fa-chevron-right.fa-lg
            button#filtersProjectBtn.btn.btn-primary.mr-2(data-toggle="tooltip", data-original-title="Filter")
              i.fas.fa-filter.fa-lg
            label.mt-1.w-350px(for='projectSelectVis')
              select#projectSelectVis.custom-select.mr-sm-2.form-control.select2-projects-vis(name='projectSelectVis', disabled=disabled)
            button#selectProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Prikaži izbrani projekt")
              i.fas.fa-chevron-right.fa-lg
            button#btnPDFProject.btn.btn-info.ml-2(data-toggle="tooltip", data-original-title="Shrani vizualizacijo projekta v PDF format" disabled)
              i.fas.fa-file-pdf.fa-lg
            button#switchDatesBtn.btn.btn-primary.active.ml-auto(data-toggle="tooltip", data-original-title="Prikaži/skrij datume")
              i.fas.fa-stopwatch.fa-lg
            button#dayProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Dan")
              i.fas.fa-calendar-day.fa-lg
            button#weekProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Teden")
              i.fas.fa-calendar-week.fa-lg
            button#monthProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Mesec")
              i.fas.fa-calendar.fa-lg
            button#lowerFontProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Zmanjšaj velikost pisave")
              i.fas.fa-font.fa-lg
              i.fas.fa-long-arrow-alt-down.fa-lg
            button#higherFontProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Povečaj velikost pisave")
              i.fas.fa-font.fa-lg
              i.fas.fa-long-arrow-alt-up.fa-lg
            button#refreshProjectBtn.btn.btn-primary.ml-2(data-toggle="tooltip", data-original-title="Osveži podatke")
              i.fas.fa-sync.fa-lg
        hr
        #projectVis
    //MODALNO OKNO ZA FILTER PRI OPRAVILIH IZBRANEGA PROJEKTA
    #modalFilterProjectTasks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center.d-flex.justify-content-between
            .p-1
            h4.modal-title.w-100.font-weight-bold.p-1 Filtriraj opravila izbranega projekta
            button.close.p-2(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .card-border-secondary
              .card-header Oddelki
              .card-body   
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxNabava.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxNabava') Nabava
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxKonstrukcija.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxKonstrukcija') Konstrukcija
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxStrIzd.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxStrIzd') Strojna izdelava
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxEleIzd.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxEleIzd') Elektro izdelava
                .row
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxMontaza.custom-control-input(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxMontaza') Montaža
                  .col-1
                  .col-5
                    .custom-control.custom-checkbox
                      input#checkboxProg.custom-control-input.p-1(type='checkbox', checked='')
                      label.custom-control-label(for='checkboxProg') Programiranje
                .d-flex.justify-content-center
                  .custom-control.custom-checkbox
                    input#checkboxBrez.custom-control-input(type='checkbox', checked='')
                    label.custom-control-label(for='checkboxBrez') Brez
            .card-border-secondary
              .card-header Procent opravil
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAllTasks.custom-control-input(type='radio', name='customRadioTaskCompletion')
                    label.custom-control-label(for='radioAllTasks') Vsa
                  .custom-control.custom-radio
                    input#radioUnfinishedTasks.custom-control-input(type='radio', name='customRadioTaskCompletion', checked='')
                    label.custom-control-label(for='radioUnfinishedTasks') Nedokončana
                  .custom-control.custom-radio
                    input#radioFinishedTasks.custom-control-input(type='radio', name='customRadioTaskCompletion')
                    label.custom-control-label(for='radioFinishedTasks') Končana
            .d-flex.justify-content-center
              button#btnApplyFilter.btn.btn-primary Potrdi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA FILTRIRANJE PROJEKTOV
    #modalFilterProjects.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Filtriraj seznam projektov
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .card-border-secondary
              .card-header Status projektov
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAllCompletion.custom-control-input(type='radio', name='customRadioCompletion')
                    label.custom-control-label(for='radioAllCompletion') Vsi
                  .custom-control.custom-radio
                    input#radioFinishedCompletion.custom-control-input(type='radio', name='customRadioCompletion')
                    label.custom-control-label(for='radioFinishedCompletion') Končani
                  .custom-control.custom-radio
                    input#radioUnfinishedCompletion.custom-control-input(type='radio', name='customRadioCompletion', checked='')
                    label.custom-control-label(for='radioUnfinishedCompletion') Nedokončani
            .card-border-secondary
              .card-header Oznaka projektov
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAllTags.custom-control-input(type='radio', name='customRadioTag', checked='')
                    label.custom-control-label(for='radioAllTags') Vsi
                  .custom-control.custom-radio
                    input#radioRTTags.custom-control-input(type='radio', name='customRadioTag')
                    label.custom-control-label(for='radioRTTags') RT
                  .custom-control.custom-radio
                    input#radioSTRTags.custom-control-input(type='radio', name='customRadioTag')
                    label.custom-control-label(for='radioSTRTags') STR
            .card-border-secondary
              .card-header Tip projektov
              .card-body
                .d-flex.justify-content-around
                  .custom-control.custom-radio
                    input#radioAllProjects.custom-control-input(type='radio', name='customRadioMyprojects')
                    label.custom-control-label(for='radioAllProjects') Vsi
                  .custom-control.custom-radio
                    input#radioMyProjects.custom-control-input(type='radio', name='customRadioMyprojects', checked='')
                    label.custom-control-label(for='radioMyProjects') Moji projekti
                  .custom-control.custom-radio
                    input#radioOtherProjects.custom-control-input(type='radio', name='customRadioMyprojects')
                    label.custom-control-label(for='radioOtherProjects') Ostali projekti
            .text-center.mt-2
              button#btnConfProjectFilter.btn.btn-primary Potrdi
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
    //MODALNO OKNO ZA FILTRIRANJE UPODABNIKOV PRI ZAPOSLENOSTI
    #modalFilterUsers.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title.w-100.font-weight-bold Filtriraj uporabnike glede na vlogo
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body.mx-3
            .row
              .col-2
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxMechAssembly.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxMechAssembly') Strojni monterji
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxCNC.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxCNC') CNC operaterji
              .col-2
            .row
              .col-2
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxElectrican.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxElectrican') Električarji
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxMechanic.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxMechanic') Strojniki
              .col-2
            .row
              .col-2
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxWelder.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxWelder') Varilci
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxServiser.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxServiser') Serviseji
              .col-2
            .row
              .col-2
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxPlc.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxPlc') PLC prog.
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxRobot.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxRobot') Robot prog.
              .col-2
            .row
              .col-2
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxBuilder.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxBuilder') Konstrukterji
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxLeader.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxLeader') Vodje
              .col-2
            .row
              .col-2
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxWorker.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxWorker') Delavci
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxStudent.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxStudent') Študenti
              .col-2
            .row
              .col-2
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxSecratary.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxSecratary') Tajniki
              .col-4
                .custom-control.custom-checkbox
                  input#checkboxAdmin.custom-control-input.p-1(type='checkbox')
                  label.custom-control-label(for='checkboxAdmin') Admini
              .col-2
            .d-flex.justify-content-between.mt-2
              button#btnUncheckAll.btn.btn-primary.mr-2.invisible(onclick="uncheckAllRoles();")
                i.far.fa-check-square.fa-lg
              button#btnAddDoc.btn.btn-primary(onclick="filterUsersByRole();") Potrdi
              button#btnCheckAll.btn.btn-primary.ml-2(onclick="switchAllRoles();")
                i.fas.fa-check-square.fa-lg
          .modal-footer.d-flex.justify-content-center
            button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  script(type='text/javascript', src='../javascripts/viz/viz.min.js', async)
  //script(type='text/javascript', src='../javascripts/viz/viz.js')
  //script(type='text/javascript', src='../javascripts/viz/vizAssignments.js')
  //script(type='text/javascript', src='../javascripts/viz/vizProjects.js')
  //script(type='text/javascript', src='../javascripts/viz/vizProject.js')