extends layout

block skripte
  //pdfmake
  script(type='text/javascript', src='/pdfmake/pdfmake.min.js')
  //script(type='text/javascript', src='/pdfmake/pdfmake.min.js.map', async)
  script(type='text/javascript', src='/pdfmake/vfs_fonts.js')
  //select2
  link(href='/select2/select2.min.css', rel='stylesheet', async)
  script(src='/select2/select2.min.js', async)
  //pdf.js
  script(src='/pdfjs/pdf.min.js')
  script(src='/pdfjs/pdf.worker.min.js')
  //signature_pad za podpisovanje pooblaščenca
  script(src='/signature_pad/signature_pad.min.js')

block content
  .page-header
    .row
      .col-lg-6
        h1 Delovni nalogi
      .col-lg-4
      .col-lg-2
        button#addNewBtnCollapse.btn.btn-success.mr-2 Dodaj
        button#searchMenuCollapse.btn.btn-dark
          i.fas.fa-bars.fa-lg
  canvas#the-canvas.d-none
  //canvas#the-edit-canvas.display-none
  .row
    //collapse za nov delovni nalog
    .col-lg-2
    .col-lg-8
      #workOrderNewCollapse.collapse
        div
          form#addNewWorkOrderForm(role='form', method='post')
            .card.bg-light.mb-3
              .card-header
                .row
                  .col-8.ml-n2
                    h4.row.mt-2.d-flex
                      .col.mr-2 DELOVNI NALOG št.:
                      .col.form-group.mb-n2.w-50
                        input#woNumberNew.form-control.w-210px(type='text', name='woNumberNew', disabled='', placeholder='Se generira samodejno v bazi.')
                  .col-4.d-flex.ml-2
                    .ml-auto
                      button.btn.btn-secondary.ml-2(type="button" data-toggle="tooltip" data-original-title="Zapri")
                        i.fas.fa-times.fa-lg
              .card-body
                .row
                  .col
                  .col.d-flex
                    .ml-auto.mr-2.mt-2 Datum:
                    .form-group.w-75
                      input#woDateNew.form-control(type='date', name='woDateNew', required='')
                .row.mb-2
                  .col-sm.d-flex
                    .mr-2.mt-2 Tip: 
                    .form-group.w-130px
                      select#woTypeNew.custom-select.mr-sm-2.form-control.select2-new-type(name='woTypeNew')
                  .col-sm.d-flex
                    .mr-2.mt-2 Kraj:
                    .form-group.w-100
                      input#woLocationNew.form-control(type='text', name='woLocationNew')
                .d-flex
                  .mr-2.mt-2 Naročnik:
                  .form-group.w-100
                    select#woSubscriberNew.custom-select.mr-sm-2.form-control.select2-new-subscribers(name='woSubscriberNew')
                .d-flex
                  .mr-2.mt-2 Projekt:
                  .form-group.w-100
                    select#woProjectNew.custom-select.mr-sm-2.form-control.select2-new-projects(name='woProjectNew')
                .mb-1
                  .mr-2 Opis opravljenega dela:
                  .form-group
                    textarea#woDescriptionNew.form-control(name='woDescriptionNew', required='', autocomplete='off', rows='6', maxlength="650")
                .d-flex
                  .mr-2.mt-2 Izvajalec naloge:
                  .form-group.w-75
                    select#woWorkersNew.custom-select.mr-sm-2.form-control.select2-new-users(name='woWorkersNew', required='')
                .d-flex
                  .mr-2.mt-2 Podatki o vozilu:
                  .form-group.w-75
                    input#woVehicleNew.form-control(type='text', name='woVehicleNew')
                .row.mb-2
                  .col-sm
                    .d-flex
                      .mt-2.mr-2 Čas prihoda:
                      .form-group
                        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                          input#woArrivalNew.form-control(type='time', name='woArrivalNew')
                          .invalid-feedback Čas prihoda in odhoda si časovno ne sledita!
                        else
                          input#woArrivalNew.form-control(type='time', name='woArrivalNew', required='')
                          .invalid-feedback Čas prihoda in odhoda si časovno ne sledita!
                  .col-sm
                    .d-flex
                      .mt-2.mr-2 Čas odhoda:
                      .form-group
                        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                          input#woDepartureNew.form-control(type='time', name='woDepartureNew')
                          .invalid-feedback Čas prihoda in odhoda si časovno ne sledita!
                        else
                          input#woDepartureNew.form-control(type='time', name='woDepartureNew', required='')
                          .invalid-feedback Čas prihoda in odhoda si časovno ne sledita!
                .table-responsive
                  table#woTableExpensesNew.table.table-hover.border.mb-2
                    thead
                      tr.table-active
                        th(scope="col") STROŠKI DELA, PREVOZ, OSTALO:
                        td(scope="col") Količina
                        td(scope="col") Cena
                        td(scope="col") Znesek
                    tbody
                      tr
                        td.text-nowrap(scope="row") Porabljen čas (h):
                        td
                          .form-group.mb-n1.w-300px
                            input#woTimeQuantityNew.form-control(type='time', name='woTimeQuantityNew')
                        td
                          .form-group.mb-n1.w-100px
                            input#woTimePriceNew.form-control(type='number', name='woTimePriceNew', min='0', step=".01")
                        td
                          .form-group.mb-n1.w-100px
                            input#woTimeSumNew.form-control(type='number', name='woTimeSumNew', min='0', step=".01")
                      tr
                        td.text-nowrap(scope="row") Prevoženi kilometri - relacija (km):
                        td
                          .form-group.mb-n1.w-300px
                            input#woDistanceQuantityNew.form-control(type='text', name='woDistanceQuantityNew')
                        td
                          .form-group.mb-n1.w-100px
                            input#woDistancePriceNew.form-control(type='number', name='woDistancePriceNew', min='0', step=".01")
                        td
                          .form-group.mb-n1.w-100px
                            input#woDistanceSumNew.form-control(type='number', name='woDistanceSumNew', min='0', step=".01")
                      tr
                        td.text-nowrap(scope="row") Materialni stroški:
                        td
                          .form-group.mb-n1.w-300px
                            input#woMaterialQuantityNew.form-control(type='number', name='woMaterialQuantityNew', min='0', step="1")
                        td
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceNew.form-control(type='number', name='woMaterialPriceNew', min='0', step=".01")
                        td
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumNew.form-control(type='number', name='woMaterialSumNew', min='0', step=".01")
                      tr
                        td.text-nowrap(scope="row") Ostalo:
                        td
                          .form-group.mb-n1.w-300px
                            input#woOtherQuantityNew.form-control(type='number', name='woOtherQuantityNew', min='0', step="1")
                        td
                          .form-group.mb-n1.w-100px
                            input#woOtherPriceNew.form-control(type='number', name='woOtherPriceNew', min='0', step=".01")
                        td
                          .form-group.mb-n1.w-100px
                            input#woOtherSumNew.form-control(type='number', name='woOtherSumNew', min='0', step=".01")
                .table-responsive  
                  table#woTableMaterialNew.table.table-hover.border.mb-3
                    thead
                      tr.table-active
                        th(colspan="5") MATERIAL:
                    thead
                      tr
                        td.text-center(scope="col") Zap. št.
                        td.text-nowrap(scope="col") Naziv materiala
                        td.text-center.text-nowrap(scope="col") Količina
                        td.text-center.text-nowrap(scope="col") Cena
                        td.text-center.text-nowrap(scope="col") Znesek
                    tbody#woMaterialBodyNew
                      tr
                        td
                          .text-center(scope="row") 1.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialName1.form-control(type='text', name='woMaterialName1', autocomplete="off")
                        td
                          .form-group.mb-n1.text-center.w-100px
                            input#woMaterialQuantity1.form-control(type='text', name='woMaterialQuantity1', autocomplete="off")
                        td
                          .form-group.mb-n1.text-center.w-100px
                            input#woMaterialPrice1.form-control(type='text', name='woMaterialPrice1', autocomplete="off")
                        td
                          .form-group.mb-n1.text-center.w-100px
                            input#woMaterialSum1.form-control(type='text', name='woMaterialSum1', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 2.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialName2.form-control(type='text', name='woMaterialName2', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantity2.form-control(type='text', name='woMaterialQuantity2', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPrice2.form-control(type='text', name='woMaterialPrice2', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSum2.form-control(type='text', name='woMaterialSum2', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 3.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialName3.form-control(type='text', name='woMaterialName3', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantity3.form-control(type='text', name='woMaterialQuantity3', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPrice3.form-control(type='text', name='woMaterialPrice3', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSum3.form-control(type='text', name='woMaterialSum3', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 4.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialName4.form-control(type='text', name='woMaterialName4', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantity4.form-control(type='text', name='woMaterialQuantity4', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPrice4.form-control(type='text', name='woMaterialPrice4', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSum4.form-control(type='text', name='woMaterialSum4', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 5.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialName5.form-control(type='text', name='woMaterialName5', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantity5.form-control(type='text', name='woMaterialQuantity5', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPrice5.form-control(type='text', name='woMaterialPrice5', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSum5.form-control(type='text', name='woMaterialSum5', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 6.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialName6.form-control(type='text', name='woMaterialName6', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantity6.form-control(type='text', name='woMaterialQuantity6', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPrice6.form-control(type='text', name='woMaterialPrice6', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSum6.form-control(type='text', name='woMaterialSum6', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 7.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialName7.form-control(type='text', name='woMaterialName7', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantity7.form-control(type='text', name='woMaterialQuantity7', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPrice7.form-control(type='text', name='woMaterialPrice7', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSum7.form-control(type='text', name='woMaterialSum7', autocomplete="off")
                .row
                  .col-md-6
                    .row.d-flex
                      .mr-2.mt-2 Izvajalec naloge:
                      .form-group.w-50
                        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                          select#woWorkerNew.custom-select.mr-sm-2.form-control.select2-new-user(name='woWorkerNew')
                        else
                          select#woWorkerNew.custom-select.mr-sm-2.form-control.select2-new-user(name='woWorkerNew', disabled='')
                  .col-md-6.d-flex
                    .row
                      .d-flex.ml-auto
                        .mr-2.mt-2 Pooblaščenec za naročnika:
                        .form-group.w-75
                          if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                            input#woRepresentativeNew.form-control(type='text', name='woRepresentativeNew')
                          else
                            input#woRepresentativeNew.form-control(type='text', name='woRepresentativeNew', required='')
                .row
                  .col-6
                    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                      .d-flex
                        button#openContactModalBtn.btn.btn-primary(type='button') Dodaj kontaktno osebo
                  .col-6
                    .d-flex
                      button#openSignModalBtn.btn.btn-primary.ml-auto(type='button') Dodaj podpis
            .text-center
              button#btnAddWorkOrder.btn.btn-success.mt-n2.mb-2(type='button') Oddaj
    .col-lg-2
  .row
    .col-lg-4
      form#getWorkOrdersForm.collapse.show(role='form', method='get')
        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
          .row.mb-n3
            .form-group.w-100
              label.w-100(for='woUserSelect') Uporabnik
                select#woUserSelect.custom-select.mr-sm-2.form-control.select2-users(name='woUserSelect')
        .row.mb-n3
          .form-group.w-100
            label.w-100(for='woStartSelect') Od
              input#woStartSelect.form-control(type='date', name='woStartSelect')
        .row.mb-n1
          .form-group.w-100
            label.w-100(for='woFinishSelect') Do
              input#woFinishSelect.form-control(type='date', name='woFinishSelect')
        #inputReportProjectForm.row.mb-n3
          .form-group.w-100
            label.w-100(for='woProjectSelect') Projekt
              select#woProjectSelect.custom-select.mr-sm-2.form-control.select2-projects(name='woProjectSelect')
        #inputReportsubscriberForm.row.mb-n3
          .form-group.w-100
            label.w-100(for='woSubscriberSelect') Naročnik
              select#woSubscriberSelect.custom-select.mr-sm-2.form-control.select2-subscribers(name='woSubscriberSelect')
        .row.mb-n3
          .form-group.w-100
            label.w-100(for='woTypeSelect') Tip
              select#woTypeSelect.custom-select.mr-sm-2.form-control.select2-type(name='woTypeSelect')
        .row.mb-n3
          .form-group.w-100
            label.w-100(for='woStatusSelect') Status
              select#woStatusSelect.custom-select.mr-sm-2.form-control.select2-status-search(name='woStatusSelect')
        .text-center
          button.btn.btn-primary(type='submit') Poišči
    .col-lg-8
      //seznam
      #workOrderList.multi-collapse.collapse.show
        h5#workOrderName Zadnjih 100 delovnih nalog
        #workOrderBody
          each workOrder in workOrders
            if (workOrder.active)
              .card.bg-light.card-report.mb-3(id='workOrder'+workOrder.id)
                .card-header
                  .alert-dissmisable
                    .text-dark.float-right.text-break.font-weight-bold(id='workOrderDate'+workOrder.id)= workOrder.formatted_date.date
                  .row
                    .col-md-4
                      div(id='workOrderNumber'+workOrder.id)= workOrder.wo_number
                    .col-md-4
                      if (workOrder.subscriber_id)
                        div(id='workOrderInfo'+workOrder.id)= workOrder.subscriber_name
                      else if (workOrder.project_id)
                        div(id='workOrderInfo'+workOrder.id)= workOrder.project_name
                      else
                        div(id='workOrderInfo'+workOrder.id)
                    .col-md-4
                      div(id='workOrderStatus'+workOrder.id)= workOrder.status
                  .row
                    span.d-inline-block.text-truncate.text-muted.mx-2.mb-n2(id='workOrderDescription'+workOrder.id)= workOrder.description
            else
              .card.bg-secondary.card-report.mb-3(id='workOrder'+workOrder.id)
                .card-header
                  .alert-dissmisable
                    .text-dark.float-right.text-break.font-weight-bold(id='workOrderDate'+workOrder.id)= workOrder.formatted_date.date
                  .row
                    .col-md-4
                      div(id='workOrderNumber'+workOrder.id)= workOrder.wo_number
                    .col-md-4
                      if (workOrder.subscriber_id)
                        div(id='workOrderInfo'+workOrder.id)= workOrder.subscriber_name
                      else if (workOrder.project_id)
                        div(id='workOrderInfo'+workOrder.id)= workOrder.project_name
                      else
                        div(id='workOrderInfo'+workOrder.id)
                    .col-md-4
                      div(id='workOrderStatus'+workOrder.id)= workOrder.status
                  .row
                    span.d-inline-block.text-truncate.text-muted.mx-2.mb-n2(id='workOrderDescription'+workOrder.id)= workOrder.description
      //info
      #workOrderInfo.multi-collapse.collapse
        #workOrderName
        #workOrderBody
          .card.bg-light.mb-3
            #workOrderHeader.card-header
              .row
                .col-6.ml-n2
                  h5.row.mt-2.d-flex
                    .col.mr-2 DELOVNI NALOG št.:
                    #workOrderNumber.col
                .col-6.d-flex.ml-2
                  .ml-auto
                    button#woMailButton.btn.btn-success.ml-2.mt-1(data-toggle="tooltip" data-original-title="Pošlji kopijo preko elek. pošte")
                      i.fas.fa-envelope.fa-lg
                    button#woFilesButton.btn.btn-purchase.ml-2.mt-1(data-toggle="tooltip" data-original-title="Datoteke")
                      i.fas.fa-file.fa-lg
                    a#woDownloadButton.btn.btn-info.ml-2.mt-1(data-toggle="tooltip" data-original-title="PDF" href='/workorders/pdf')
                      i.fas.fa-download.fa-lg
                    button#woDeleteButton.btn.btn-danger.ml-2.mt-1(data-toggle="tooltip" data-original-title="Odstrani")
                      i.fas.fa-trash.fa-lg
                    button#woEditButton.btn.btn-primary.ml-2.mt-1(data-toggle="tooltip" data-original-title="Uredi")
                      i.fas.fa-pen.fa-lg
                    button#woCloseButton.btn.btn-secondary.ml-2.mt-1(data-toggle="tooltip" data-original-title="Zapri")
                      i.fas.fa-times.fa-lg
            .card-body
              .row.mb-2
                .col
                  .form-group.d-flex.w-350px
                    select#workOrderService.custom-select.mr-sm-2.form-control.select2-service(name='workOrderService')
                    button.invisible-button.mt-1(id='unsaveService', data-toggle="tooltip", data-original-title="Odstrani povezavo")
                      i.fas.fa-times
                    button.btn.btn-success.mr-2(id='saveService', data-toggle="tooltip", data-original-title="Shrani")
                      i.fas.fa-save.fa-lg
                    a#serviceLink.mr-2.btn.btn-info(href='#', data-toggle="tooltip", data-original-title="Na servis - storitev")
                      i.fas.fa-caret-right.fa-lg
                .col.d-flex
                  #activeProjectInfo.p-1.ml-auto
                    a.mypopover.mr-2(data-toggle='popover', data-trigger='hover', data-content='')
                      i.fas.fa-history.fa-lg
                  .mr-2.mt-1 Status: 
                  .form-group.w-130px
                    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                      select#workOrderStatus.custom-select.mr-sm-2.form-control.select2-status(name='workOrderStatus')
                    else
                      select#workOrderStatus.custom-select.mr-sm-2.form-control.select2-status(name='workOrderStatus', disabled='')
              .row
                .col.d-flex
                  .mr-2 Kontakt:
                  #workOrderContact
                .col.d-flex
                  .ml-auto.mr-2 Datum:
                  #workOrderDate
              .row.mb-2
                .col.d-flex
                  .mr-2 Tip: 
                  #workOrderType
                .col.d-flex
                  .ml-auto.mr-2 Kraj:
                  #workOrderLocation
              .row.mb-2
                .col-9.d-flex
                .col-3.d-flex
                  a#locationLink(href='#')
                    i#locationIcon.fas.fa-map-marker-alt.fa-lg.mr-3(data-toggle='tooltip', title='')
                  a
                    i#signatureIcon.fas.fa-signature.fa-lg(data-toggle='tooltip', title='Delovni nalog ima podpis')
              hr
              .d-flex
                .mr-2 Naročnik:
                #workOrderSubscriber
              hr
              .d-flex
                .mr-2 Projekt:
                #workOrderProject
              hr
              .d-flex
                .mr-2 Opis opravljenega dela:
                #workOrderDescription.pre-wrap
              hr
              .d-flex
                .mr-2 Izvajalec naloge:
                #workOrderWorkers
              hr
              .d-flex
                .mr-2 Podatki o vozilu:
                #workOrderVehicle
              hr
              .row.mb-2
                .col
                  .d-flex
                    .mr-2 Čas prihoda:
                    #workOrderArrival
                .col
                  .d-flex
                    .mr-2 Čas odhoda:
                    #workOrderDeparture
              table.table.table-hover.border.mb-2
                thead
                  tr.table-active
                    th(scope="col") STROŠKI DELA, PREVOZ, OSTALO:
                    td(scope="col") Količina
                    td(scope="col") Cena
                    td(scope="col") Znesek
                tbody
                  tr
                    td(scope="row") Porabljen čas (h):
                    td#timeQuantity
                    td#timePrice
                    td#timeSum
                  tr
                    td(scope="row") Prevoženi kilometri - relacija (km):
                    td#distanceQuantity
                    td#distancePrice
                    td#distanceSum
                  tr
                    td(scope="row") Materialni stroški:
                    td#materialQuantity
                    td#materialPrice
                    td#materialSum
                  tr
                    td(scope="row") Ostalo:
                    td#otherQuantity
                    td#otherPrice
                    td#otherSum
              table.table.table-hover.border.mb-3
                thead
                  tr.table-active
                    th(colspan="5") MATERIAL:
                thead
                  tr
                    td.text-center.w-75px(scope="col") Zap. št.
                    td(scope="col") Naziv materiala
                    td.text-center.w-75px(scope="col") količina
                    td.text-center.w-75px(scope="col") Cena
                    td.text-center.w-75px(scope="col") Znesek
                tbody#materialBody
                  tr
                    td.text-center(scope="row") 1.
                    td#materialName1
                    td#materialQuantity1.text-center
                    td#materialPrice1.text-center
                    td#materialSum1.text-center
                  tr
                    td.text-center(scope="row") 2.
                    td#materialName2
                    td#materialQuantity2.text-center
                    td#materialPrice2.text-center
                    td#materialSum2.text-center
                  tr
                    td.text-center(scope="row") 3.
                    td#materialName3
                    td#materialQuantity3.text-center
                    td#materialPrice3.text-center
                    td#materialSum3.text-center
                  tr
                    td.text-center(scope="row") 4.
                    td#materialName4
                    td#materialQuantity4.text-center
                    td#materialPrice4.text-center
                    td#materialSum4.text-center
                  tr
                    td.text-center(scope="row") 5.
                    td#materialName5
                    td#materialQuantity5.text-center
                    td#materialPrice5.text-center
                    td#materialSum5.text-center
                  tr
                    td.text-center(scope="row") 6.
                    td#materialName6
                    td#materialQuantity6.text-center
                    td#materialPrice6.text-center
                    td#materialSum6.text-center
                  tr
                    td.text-center(scope="row") 7.
                    td#materialName7
                    td#materialQuantity7.text-center
                    td#materialPrice7.text-center
                    td#materialSum7.text-center
              .row
                .col-6
                  .d-flex
                    .mr-2 Izvajalec Naloge:
                    #workOrderUser
                .col-6.d-flex
                  .d-flex.ml-auto 
                    .mr-2 Pooblaščenec za naročnika:
                    #workOrderRepresentative
      //edit
      #workOrderEdit.multi-collapse.collapse
        //- .changes-body
        div
          form#editWorkOrderForm(role='form', method='post')
            .card.bg-light.mb-3
              .card-header
                .row
                  .col-8.ml-n2
                    h4.row.mt-2.d-flex
                      .col-.mr-2.ml-2 DELOVNI NALOG št.:
                      .col-.form-group.mr-2.ml-2.mt-n1.mb-n2.w-50
                        input#woNumberEdit.form-control(type='text', name='woNumberEdit', disabled='')
                  .col-4.d-flex.ml-2
                    .ml-auto
                      button.btn.btn-secondary.ml-2(type="button" data-toggle="tooltip" data-original-title="Zapri")
                        i.fas.fa-times.fa-lg
              .card-body
                .row
                  .col
                  .col.d-flex
                    .ml-auto.mr-2.mt-2 Datum:
                    .form-group.w-75
                      input#woDateEdit.form-control(type='date', name='woDateEdit', required='')
                .row.mb-2
                  .col-sm.d-flex
                    .mr-2.mt-2 Tip: 
                    .form-group.w-130px
                      select#woTypeEdit.custom-select.mr-sm-2.form-control.select2-new-type(name='woTypeEdit')
                  .col-sm.d-flex
                    .mr-2.mt-2 Kraj:
                    .form-group.w-100
                      input#woLocationEdit.form-control(type='text', name='woLocationEdit')
                .d-flex
                  .mr-2.mt-2 Naročnik:
                  .form-group.w-100
                    select#woSubscriberEdit.custom-select.mr-sm-2.form-control.select2-new-subscribers(name='woSubscriberEdit')
                .d-flex
                  .mr-2.mt-2 Projekt:
                  .form-group.w-100
                    select#woProjectEdit.custom-select.mr-sm-2.form-control.select2-new-projects(name='woProjectEdit')
                .mb-1
                  .mr-2 Opis opravljenega dela:
                  .form-group
                    textarea#woDescriptionEdit.form-control(name='woDescriptionEdit', required='', autocomplete='off', rows='6', maxlength="650")
                .d-flex
                  .mr-2.mt-2 Izvajalec naloge:
                  .form-group.w-75
                    select#woWorkersEdit.custom-select.mr-sm-2.form-control.select2-edit-users(name='woWorkersEdit', required='')
                .d-flex
                  .mr-2.mt-2 Podatki o vozilu:
                  .form-group.w-75
                    input#woVehicleEdit.form-control(type='text', name='woVehicleEdit')
                .row.mb-2
                  .col-sm
                    .d-flex
                      .mt-2.mr-2 Čas prihoda:
                      .form-group
                        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                          input#woArrivalEdit.form-control(type='time', name='woArrivalEdit')
                          .invalid-feedback Čas prihoda in odhoda si časovno ne sledita!
                        else
                          input#woArrivalEdit.form-control(type='time', name='woArrivalEdit', required='')
                          .invalid-feedback Čas prihoda in odhoda si časovno ne sledita!
                  .col-sm
                    .d-flex
                      .mt-2.mr-2 Čas odhoda:
                      .form-group
                        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                          input#woDepartureEdit.form-control(type='time', name='woDepartureEdit')
                          .invalid-feedback Čas prihoda in odhoda si časovno ne sledita!
                        else
                          input#woDepartureEdit.form-control(type='time', name='woDepartureEdit', required='')
                          .invalid-feedback Čas prihoda in odhoda si časovno ne sledita!
                  .col-5
                .table-responsive
                  table#woTableExpensesEdit.table.table-hover.border.mb-2
                    thead
                      tr.table-active
                        th(scope="col") STROŠKI DELA, PREVOZ, OSTALO:
                        td(scope="col") Količina
                        td(scope="col") Cena
                        td(scope="col") Znesek
                    tbody
                      tr
                        td.text-nowrap(scope="row") Porabljen čas (h):
                        td
                          .form-group.mb-n1.w-300px
                            input#woTimeQuantityEdit.form-control(type='time', name='woTimeQuantityEdit')
                        td
                          .form-group.mb-n1.w-100px
                            input#woTimePriceEdit.form-control(type='number', name='woTimePriceEdit', min='0', step=".01")
                        td
                          .form-group.mb-n1.w-100px
                            input#woTimeSumEdit.form-control(type='number', name='woTimeSumEdit', min='0', step=".01")
                      tr
                        td.text-nowrap(scope="row") Prevoženi kilometri - relacija (km):
                        td
                          .form-group.mb-n1.w-300px
                            input#woDistanceQuantityEdit.form-control(type='text', name='woDistanceQuantityEdit')
                        td
                          .form-group.mb-n1.w-100px
                            input#woDistancePriceEdit.form-control(type='number', name='woDistancePriceEdit', min='0', step=".01")
                        td
                          .form-group.mb-n1.w-100px
                            input#woDistanceSumEdit.form-control(type='number', name='woDistanceSumEdit', min='0', step=".01")
                      tr
                        td.text-nowrap(scope="row") Materialni stroški:
                        td
                          .form-group.mb-n1.w-300px
                            input#woMaterialQuantityEdit.form-control(type='number', name='woMaterialQuantityEdit', min='0', step="1")
                        td
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceEdit.form-control(type='number', name='woMaterialPriceEdit', min='0', step=".01")
                        td
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumEdit.form-control(type='number', name='woMaterialSumEdit', min='0', step=".01")
                      tr
                        td.text-nowrap(scope="row") Ostalo:
                        td
                          .form-group.mb-n1.w-300px
                            input#woOtherQuantityEdit.form-control(type='number', name='woOtherQuantityEdit', min='0', step="1")
                        td
                          .form-group.mb-n1.w-100px
                            input#woOtherPriceEdit.form-control(type='number', name='woOtherPriceEdit', min='0', step=".01")
                        td
                          .form-group.mb-n1.w-100px
                            input#woOtherSumEdit.form-control(type='number', name='woOtherSumEdit', min='0', step=".01")
                .table-responsive
                  table#woTableMaterialEdit.table.table-hover.border.mb-3
                    thead
                      tr.table-active
                        th(colspan="5") MATERIAL:
                    thead
                      tr
                        td.text-center(scope="col") Zap. št.
                        td.text-nowrap(scope="col") Naziv materiala
                        td.text-center.text-nowrap(scope="col") Količina
                        td.text-center.text-nowrap(scope="col") Cena
                        td.text-center.text-nowrap(scope="col") Znesek
                    tbody#woMaterialBodyEdit
                      tr
                        td
                          .text-center(scope="row") 1.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialNameEdit1.form-control(type='text', name='woMaterialNameEdit1', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantityEdit1.form-control(type='text', name='woMaterialQuantityEdit1', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceEdit1.form-control(type='text', name='woMaterialPriceEdit1', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumEdit1.form-control(type='text', name='woMaterialSumEdit1', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 2.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialNameEdit2.form-control(type='text', name='w, autocomplete="off"oMaterialNameEdit2', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantityEdit2.form-control(type='text', name='woMaterialQuantityEdit2', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceEdit2.form-control(type='text', name='woMaterialPriceEdit2', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumEdit2.form-control(type='text', name='woMaterialSumEdit2', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 3.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialNameEdit3.form-control(type='text', name='woMaterialNameEdit3', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantityEdit3.form-control(type='text', name='woMaterialQuantityEdit3', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceEdit3.form-control(type='text', name='woMaterialPriceEdit3', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumEdit3.form-control(type='text', name='woMaterialSumEdit3', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 4.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialNameEdit4.form-control(type='text', name='woMaterialNameEdit4', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantityEdit4.form-control(type='text', name='woMaterialQuantityEdit4', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceEdit4.form-control(type='text', name='woMaterialPriceEdit4', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumEdit4.form-control(type='text', name='woMaterialSumEdit4', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 5.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialNameEdit5.form-control(type='text', name='woMaterialNameEdit5', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantityEdit5.form-control(type='text', name='woMaterialQuantityEdit5', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceEdit5.form-control(type='text', name='woMaterialPriceEdit5', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumEdit5.form-control(type='text', name='woMaterialSumEdit5', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 6.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialNameEdit6.form-control(type='text', name='woMaterialNameEdit6', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantityEdit6.form-control(type='text', name='woMaterialQuantityEdit6', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceEdit6.form-control(type='text', name='woMaterialPriceEdit6', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumEdit6.form-control(type='text', name='woMaterialSumEdit6', autocomplete="off")
                      tr
                        td
                          .text-center(scope="row") 7.
                        td
                          .form-group.mb-n1.w-230px
                            input#woMaterialNameEdit7.form-control(type='text', name='woMaterialNameEdit7', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialQuantityEdit7.form-control(type='text', name='woMaterialQuantityEdit7', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialPriceEdit7.form-control(type='text', name='woMaterialPriceEdit7', autocomplete="off")
                        td.text-center
                          .form-group.mb-n1.w-100px
                            input#woMaterialSumEdit7.form-control(type='text', name='woMaterialSumEdit7', autocomplete="off")
                .row
                  .col-md-6
                    .d-flex
                      .mr-2.mt-2 Izvajalec naloge:
                      .form-group.w-50
                        select#woWorkerEdit.custom-select.mr-sm-2.form-control.select2-edit-user(name='woWorkerEdit', disabled='')
                  .col-md-6.d-flex
                    .d-flex.ml-auto
                      .mr-2.mt-2 Pooblaščenec za naročnika:
                      .form-group.w-75
                        if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                          input#woRepresentativeEdit.form-control(type='text', name='woRepresentativeEdit')
                        else
                          input#woRepresentativeEdit.form-control(type='text', name='woRepresentativeEdit', required='')
                .row
                  .col-6
                    if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase().substring(0,5) == 'vodja' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo')
                      .d-flex
                        button#contactEditBtn.btn.btn-primary(type='button') Uredi kontaktno osebo
                  .col-6
                    .d-flex
                      button#openSignModalEditBtn.btn.btn-primary.ml-auto.mt-2(type='button') Dodaj podpis
                        i.ml-2.fas.fa-check.fa-lg.invisible
            .text-center.mb-5
              button#btnEditWorkOrder.btn.btn-success.mt-n2.mb-n2(type='submit') Posodobi
      //files
      #workOrderFiles.multi-collapse.collapse
        .card.bg-light.mb-3
          .card-header
            .row
              .col-8.ml-n2
                h4.mt-2.d-flex
                  .mr-2 Datoteke
              .col-4.d-flex.ml-2
                .ml-auto
                  button.btn.btn-secondary.ml-2(type="button" data-toggle="tooltip" data-original-title="Zapri")
                    i.fas.fa-times.fa-lg
          .card-body
            #fileList
            #addFileRow.mt-2
              .text-center
                button.btn.btn-success Dodaj datoteko
  //MODALNO OKNO PODPISOVANJE
  #modalSign.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Podpis pooblaščenca
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .wrapper
            canvas#signature-pad.signature-pad.border.border-primary(width='400' height='200')
          .mt-2
            button#clearSign.btn.btn-danger.ml-2(type="button" data-toggle="tooltip" data-placement="bottom" data-original-title="Izbriši")
              i.fas.fa-trash.fa-lg
            button#undoSign.btn.btn-secondary.ml-2(type="button" data-toggle="tooltip" data-placement="bottom" data-original-title="Razveljavi")
              i.fas.fa-undo-alt.fa-lg
            button#saveSign.btn.btn-success.ml-2(type="button" data-toggle="tooltip" data-placement="bottom" data-original-title="Potrdi")
              i.fas.fa-check.fa-lg
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Zapri
  //MODALNO OKNO PODPISOVANJE
  #modalSignEdit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Podpis pooblaščenca
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .wrapper
            canvas#signature-pad-edit.signature-pad.border.border-primary(width='400' height='200')
          .mt-2
            button#clearSignEdit.btn.btn-danger.ml-2(type="button" data-toggle="tooltip" data-placement="bottom" data-original-title="Izbriši")
              i.fas.fa-trash.fa-lg
            button#undoSignEdit.btn.btn-secondary.ml-2(type="button" data-toggle="tooltip" data-placement="bottom" data-original-title="Razveljavi")
              i.fas.fa-undo-alt.fa-lg
            button#saveSignEdit.btn.btn-success.ml-2(type="button" data-toggle="tooltip" data-placement="bottom" data-original-title="Potrdi")
              i.fas.fa-check.fa-lg
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Zapri
  //MODALNO OKNO ZA BRISANJE DELOVNEGA NALOGA
  #modalDeleteWorkOrder.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold POZOR
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
            h5#deleteModalMsg.text-center Ste prepričani, da želite odstraniti ta delovni nalog?
            .text-center
              button#btnDeleteWO.btn.btn-danger.mb-n2 Odstrani
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO ZA BRISANJE DATOTEKE
  #modalDeleteFile.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center
          h4.modal-title.w-100.font-weight-bold POZOR
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
            h5#deleteModModalMsg.text-center Ste prepričani, da želite TRAJNO odstraniti to datoteko?
            .text-center
              button#btnDeleteFile.btn.btn-danger.mb-n2 Odstrani
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO DODAJANJE DOKUMENTA
  #modalDocumentAddForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Dodaj novo datoteko
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          form#addDocForm(action='/workorders/fileUpload', method='POST', enctype='multipart/form-data')
            .form-group
              input#workOrderId.form-control(type='text', name='workOrderId', readonly='', hidden='' value='')
            .form-group
              input#docNew(type='file', name='docNew')
              small#fileHelp.form-text.text-muted Naložile lahko datoteke vrste pdf, doc(word), ppt, xls ter slike v velikosti maks. 5MB.
            .text-center
              button#btnAddDoc.btn.btn-primary(type='submit') Dodaj
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO ZA SPOROČILO
  #modalMsg.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Obvestilo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          row.d-flex
            .mr-3
              img#msgImg.img-fluid.w-125px(src='/ok_sign.png', alt='ikona')
            .ml-auto.mt-2.align-self-center
              h5#msg= msg
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Potrdi
  //MODALNO ZA KONTAKT ZA NOV DELOVNI NALOG
  #modalNewContact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Kontaktna oseba
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .form-group
            label.w-100(for='woContactNew') Kontaktna oseba:
              select#woContactNew.custom-select.mr-sm-2.form-control.select2-new-contacts(name='woContactNew')
          .form-group
            label.w-100(for='woContactPhoneNew') Telefonska številka:
              input#woContactPhoneNew.form-control(type='text', name='woContactPhoneNew')
          .text-center
            button#btnConfContactNew.btn.btn-success Potrdi kontaktno osebo
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO ZA KONTAKT ZA UREJANJE
  #modalEditContact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4.modal-title.w-100.font-weight-bold Kontaktna oseba
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
          .form-group
            label.w-100(for='woContactEdit') Kontaktna oseba:
              select#woContactEdit.custom-select.mr-sm-2.form-control.select2-edit-contacts(name='woContactEdit')
          .form-group
            label.w-100(for='woContactPhoneEdit') Telefonska številka:
              input#woContactPhoneEdit.form-control(type='text', name='woContactPhoneEdit')
          .text-center
            button#btnConfContactEdit.btn.btn-success Potrdi kontaktno osebo
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO Za POSILJANJE KOPIJE PDF NA ELEK NASLOV
  #modalSendMail.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.text-center
        .modal-header
          h4#modalMailHeader.modal-title.w-100.font-weight-bold Vnesite elek. naslov, kamor želite poslati kopijo delovnega naloga
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.mx-3
        .row.justify-content-center.mb-4
          .col-sm-12
            #autoMailColaps.collapse
              label#autoMailNotify Nov delovni nalog se je avtomatsko poslal na elektronski naslov:
              .row.justify-content-center
                .col-sm-8
                  ul.list-group
                    li.list-group-item.d-flex.justify-content-between.align-items-center tanja.muzerlin@roboteh.si
                      button#btnSendConf.btn.btn-success.mb-n2.mt-n2 Pošlji
        .col-sm-12#messagePass
          form#sendMailForm(role='form', method='post')
            //- .form-group
              label.w-100(for='woEmail') Elektronski naslov
                input#woEmail.form-control(type='email', name='woEmail', required='', autocomplete='off' multiple)
                small#mailHelp.form-text.text-muted Pošljete lahko na več naslovov hkrati. Elektronske naslove med seboj delite z vejico.
            .form-group.w-100
              label.w-100(for='woEmailSelect') Elektronski naslov
                select#woEmailSelect.custom-select.mr-sm-2.form-control.select2-email(name='woEmailSelect')
                small#mailSelectHelp.form-text.text-muted Vnos se bo filtriral preden se pošlje. Odstranijo se podvojene vrednosti in nedovljene oblike za elektronsko pošto.
                .invalid-feedback Prazno polje ali nepravilna oblika elektronske pošte!
            if (user_type.toLowerCase() == 'admin' || user_type.toLowerCase() == 'tajnik' || user_type.toLowerCase() == 'komercialist' || user_type.toLowerCase() == 'komerciala' || user_type.toLowerCase() == 'računovodstvo' || user_type.toLowerCase().substring(0,5) == 'vodja')
              .form-group
                .custom-control.custom-checkbox
                  input#officeCheckbox.custom-control-input.p-1(type='checkbox' checked='' name='office-checkbox')
                  label.custom-control-label(for='officeCheckbox') pošlji tudi na office@roboteh.si
            else 
              .form-group
                .custom-control.custom-checkbox
                  input#officeCheckbox.custom-control-input.p-1(type='checkbox' checked='' name='office-checkbox')
                  label.custom-control-label(for='officeCheckbox') pošlji tudi na office@roboteh.si
            button#btnSend.btn.btn-success.mb-2(type='submit') Pošlji
        .modal-footer.d-flex.justify-content-center
          button.close(type='button', data-dismiss='modal', aria-label='Cancel') Prekliči
  //MODALNO OKNO ZA PRIKAZ PDF DATOTEK
  #modalPDFPreview.modal.fade.overflow-hidden(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-xl.modal-doc(role='document')
      .modal-content.modal-doc-content
        .modal-body.mx-3(data-dismiss='modal')
          #imgPreviewContainer.document-content
          #pdfPreviewContainer.document-content
  //- script(type='text/javascript', src='../javascripts/orders/wo.js', async)
  //- script(type='text/javascript', src='../javascripts/orders/files.js', async)
  //- script(type='text/javascript', src='../javascripts/orders/pdf.js', async)
  //- script(type='text/javascript', src='../javascripts/orders/sign.js', async)
  //- script(type='text/javascript', src='../javascripts/orders/geolocation.js', async)
  script(type='text/javascript', src='../javascripts/orders/wo.min.js')