body {
  background-image: url("/images/escheresque.png");
  background-repeat: repeat-xy;
  margin-right: 15px !important;
}
.fixed-modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.message-modal-body {
  max-height: calc(100vh - 200px);
  min-height: calc(100vh - 200px);
  overflow-y: auto;
}
.timeline-chart-overflow {
  overflow-y: auto;
}
a {
  color: #00B7FF;
}
.container {
  margin-top: 50px !important;
}
.img-container {
  width: 64px;
  height: 64px;
}
.fixed {
  position: fixed;
  top: 70px;
  right: 10px;
  background-color: #FFF;
  border: 3px solid #6d6c6c;
}
.notification-bar {
  position: fixed;
  bottom: -2px;
  right: 6px;
  background-color: #FFF;
  border: 2px solid #6d6c6c;
  border-radius: 0.25em;
  width: 400px;
  max-width: 100%;
  z-index: 1000;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.notification-bar.new {
  background-color: #979797;
  cursor: pointer;
}
.notification-body {
  max-height: 300px;
  overflow-y: scroll;
}
.notification-body::-webkit-scrollbar {
  display: none;
}
.notification-body {
  -ms-overflow-style: none;
}
.changes-body {
  max-height: calc(100vh - 200px);
  min-height: 300px;
  overflow-y: scroll;
}
.notification-alert {
  margin-right: 2px;
}
.notification-date {
  color: #d4d1c3 !important;
}
.alert-special {
  color: #fff;
  background-color: #131313;
  border-color: orange !important;
}
.alert-special-dark {
  color: #fff;
  background-color: #444444;
  border-color: orange !important;
}
.alert-file {
  color: #fff;
  background-color: #afad45;
}
.alert-file-dark {
  color: #fff;
  background-color: #8f8d35;
}
.alert-complete {
  color: #fff;
  background-color: #8ab947;
}
.alert-complete-dark {
  color: #fff;
  background-color: #729b38;
}
.alert-add {
  color: #fff;
  background-color: #325D88;
}
.alert-add-dark {
  color: #fff;
  background-color: #244463;
}
.alert-edit {
  color: #fff;
  background-color: #325D88;
}
.alert-edit-dark {
  color: #fff;
  background-color: #244463;
}
.alert-delete {
  color: #fff;
  background-color: #d9534f;
}
.alert-delete-dark {
  color: #fff;
  background-color: #ac4441;
}
.alert-note {
  color: #fff;
  background-color: #8E8C84;
}
.alert-note-dark {
  color: #fff;
  background-color: #77756d;
}
.span-collapse {
  height: 947px !important;
  overflow: auto;
}
.date-list {
  height: 150px !important;
  overflow-y: auto;
  overflow-x: hidden;
}
.date-group-item {
  display: block;
  position: relative;
}
.span3 {  
  height: 350px !important;
  overflow: auto;
}
.span4 {  
  height: 400px !important;
  overflow: auto;
}
.span5 {  
  height: calc(100vh - 215px) !important;
  overflow: auto;
}
.span6 {  
  height: calc(100vh - 555px) !important;
  overflow: auto;
  min-height: 150px;
}
.span-collapse-content {  
  height: calc(100vh - 315px) !important;
  overflow: auto;
  max-height: 315px !important;
}
.btnAddProject {
  margin-left: 15px;
}
.table-custom-checkbox {
  margin-top: 0px;
}
.table-custom-checkbox-task {
  margin-top: -7px;
}
.invisible-button {
  width: 30px;
  height: 25px;
  background: transparent;
  border: none !important;
}
.task-button {
  height: 35px;
}
.color-builder {
  color: #93C54B;
}
.color-mechanic {
  color: #4592af;
}
.color-electrican {
  color: #8f71ff;
}
.color-plc {
  color: #8e2e6a;
}
.color-robot {
  color: #F47C3C;
}
.btn-outline-electrican {
  color: #8f71ff;
  background-color: transparent;
  background-image: none;
  border-color: #8f71ff !important;
}

.btn-outline-electrican:hover {
  color: #fff;
  background-color: #8f71ff;
  border-color: #8f71ff !important;
}

.btn-outline-electrican:focus, .btn-outline-electrican.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}

.btn-outline-electrican.disabled, .btn-outline-electrican:disabled {
  color: #8f71ff;
  background-color: transparent;
}

.btn-outline-electrican:not(:disabled):not(.disabled):active, .btn-outline-electrican:not(:disabled):not(.disabled).active,
.show > .btn-outline-electrican.dropdown-toggle {
  color: #fff;
  background-color: #8f71ff;
  border-color: #8f71ff !important;
}

.btn-outline-electrican:not(:disabled):not(.disabled):active:focus, .btn-outline-electrican:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-electrican.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}
.btn-outline-mechanic {
  color: #4592af;
  background-color: transparent;
  background-image: none;
  border-color: #4592af !important;
}

.btn-outline-mechanic:hover {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af !important;
}

.btn-outline-mechanic:focus, .btn-outline-mechanic.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}

.btn-outline-mechanic.disabled, .btn-outline-mechanic:disabled {
  color: #4592af;
  background-color: transparent;
}

.btn-outline-mechanic:not(:disabled):not(.disabled):active, .btn-outline-mechanic:not(:disabled):not(.disabled).active,
.show > .btn-outline-mechanic.dropdown-toggle {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af;
}

.btn-outline-mechanic:not(:disabled):not(.disabled):active:focus, .btn-outline-mechanic:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-mechanic.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}
.btn-outline-plc {
  color: #8e2e6a;
  background-color: transparent;
  background-image: none;
  border-color: #8e2e6a !important;
}

.btn-outline-plc:hover {
  color: #fff;
  background-color: #8e2e6a;
  border-color: #8e2e6a !important;
}

.btn-outline-plc:focus, .btn-outline-plc.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}

.btn-outline-plc.disabled, .btn-outline-plc:disabled {
  color: #8e2e6a;
  background-color: transparent;
}

.btn-outline-plc:not(:disabled):not(.disabled):active, .btn-outline-plc:not(:disabled):not(.disabled).active,
.show > .btn-outline-plc.dropdown-toggle {
  color: #fff;
  background-color: #8e2e6a;
  border-color: #8e2e6a !important;
}

.btn-outline-plc:not(:disabled):not(.disabled):active:focus, .btn-outline-plc:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-plc.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
          box-shadow: 0 0 0 0.2rem rgb(178, 6, 176);
}
.btn-mechanic {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af;
}

.btn-mechanic:hover {
  color: #fff;
  background-color: #367890;
  border-color: #367890;
}

.btn-mechanic:focus, .btn-mechanic.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #4592af;
          box-shadow: 0 0 0 0.2rem #4592af;
}

.btn-mechanic.disabled, .btn-mechanic:disabled {
  color: #fff;
  background-color: #4592af;
  border-color: #4592af;
}

.btn-mechanic:not(:disabled):not(.disabled):active, .btn-mechanic:not(:disabled):not(.disabled).active,
.show > .btn-mechanic.dropdown-toggle {
  color: #fff;
  background-color: #367890;
  border-color: #367890;
}

.btn-mechanic:not(:disabled):not(.disabled):active:focus, .btn-mechanic:not(:disabled):not(.disabled).active:focus,
.show > .btn-mechanic.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #4592af;
          box-shadow: 0 0 0 0.2rem #4592af;
}
.btn-electrican {
  color: #fff;
  background-color: #8f71ff;
  border-color: #8f71ff;
}

.btn-electrican:hover {
  color: #fff;
  background-color: #6c53c3;
  border-color: #6c53c3;
}

.btn-electrican:focus, .btn-electrican.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8f71ff;
          box-shadow: 0 0 0 0.2rem #8f71ff;
}

.btn-electrican.disabled, .btn-electrican:disabled {
  color: #fff;
  background-color: #8f71ff;
  border-color: #8f71ff;
}

.btn-electrican:not(:disabled):not(.disabled):active, .btn-electrican:not(:disabled):not(.disabled).active,
.show > .btn-electrican.dropdown-toggle {
  color: #fff;
  background-color: #6c53c3;
  border-color: #6c53c3;
}

.btn-electrican:not(:disabled):not(.disabled):active:focus, .btn-electrican:not(:disabled):not(.disabled).active:focus,
.show > .btn-electrican.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8f71ff;
          box-shadow: 0 0 0 0.2rem #8f71ff;
}
.btn-programmer {
  color: #fff;
  background-color: #8e2e6a;
  border-color: #8e2e6a;
}

.btn-programmer:hover {
  color: #fff;
  background-color: #612048;
  border-color: #612048;
}

.btn-programmer:focus, .btn-programmer.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8e2e6a;
          box-shadow: 0 0 0 0.2rem #8e2e6a;
}

.btn-programmer.disabled, .btn-programmer:disabled {
  color: #fff;
  background-color: #8e2e6a;
  border-color: #8e2e6a;
}

.btn-programmer:not(:disabled):not(.disabled):active, .btn-programmer:not(:disabled):not(.disabled).active,
.show > .btn-programmer.dropdown-toggle {
  color: #fff;
  background-color: #612048;
  border-color: #612048;
}

.btn-programmer:not(:disabled):not(.disabled):active:focus, .btn-programmer:not(:disabled):not(.disabled).active:focus,
.show > .btn-programmer.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #8e2e6a;
          box-shadow: 0 0 0 0.2rem #8e2e6a;
}
.btn-construction {
  color: #fff;
  background-color: #93C54B;
  border-color: #93C54B;
}

.btn-construction:hover {
  color: #fff;
  background-color: #729b38;
  border-color: #729b38;
}

.btn-construction:focus, .btn-construction.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #93C54B;
          box-shadow: 0 0 0 0.2rem #93C54B;
}

.btn-construction.disabled, .btn-construction:disabled {
  color: #fff;
  background-color: #93C54B;
  border-color: #93C54B;
}

.btn-construction:not(:disabled):not(.disabled):active, .btn-construction:not(:disabled):not(.disabled).active,
.show > .btn-construction.dropdown-toggle {
  color: #fff;
  background-color: #729b38;
  border-color: #729b38;
}

.btn-construction:not(:disabled):not(.disabled):active:focus, .btn-construction:not(:disabled):not(.disabled).active:focus,
.show > .btn-construction.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #93C54B;
          box-shadow: 0 0 0 0.2rem #93C54B;
}
.btn-purchase {
  color: #fff;
  background-color: #afad45;
  border-color: #afad45;
}

.btn-purchase:hover {
  color: #fff;
  background-color: #8f8d35;
  border-color: #8f8d35;
}

.btn-purchase:focus, .btn-purchase.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #afad45;
          box-shadow: 0 0 0 0.2rem #afad45;
}

.btn-purchase.disabled, .btn-purchase:disabled {
  color: #fff;
  background-color: #afad45;
  border-color: #afad45;
}

.btn-purchase:not(:disabled):not(.disabled):active, .btn-purchase:not(:disabled):not(.disabled).active,
.show > .btn-purchase.dropdown-toggle {
  color: #fff;
  background-color: #8f8d35;
  border-color: #8f8d35;
}

.btn-purchase:not(:disabled):not(.disabled):active:focus, .btn-purchase:not(:disabled):not(.disabled).active:focus,
.show > .btn-purchase.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #afad45;
          box-shadow: 0 0 0 0.2rem #afad45;
}
.btn-assembly {
  color: #fff;
  background-color: #af5e45;
  border-color: #af5e45;
}

.btn-assembly:hover {
  color: #fff;
  background-color: #97523c;
  border-color: #97523c;
}

.btn-assembly:focus, .btn-assembly.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #af5e45;
          box-shadow: 0 0 0 0.2rem #af5e45;
}

.btn-assembly.disabled, .btn-assembly:disabled {
  color: #fff;
  background-color: #af5e45;
  border-color: #af5e45;
}

.btn-assembly:not(:disabled):not(.disabled):active, .btn-assembly:not(:disabled):not(.disabled).active,
.show > .btn-assembly.dropdown-toggle {
  color: #fff;
  background-color: #97523c;
  border-color: #97523c;
}

.btn-assembly:not(:disabled):not(.disabled):active:focus, .btn-assembly:not(:disabled):not(.disabled).active:focus,
.show > .btn-assembly.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #af5e45;
          box-shadow: 0 0 0 0.2rem #af5e45;
}
.viz-content {
  background-color: #FFF;
}
.kartica {
  height: 160px;
}
.badge-purchase {
  color: #fff;
  background-color: #afad45 !important;
}

.badge-purchase[href]:hover, .badge-purchase[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #afad45 !important;
}
.badge-construction {
  color: #fff;
  background-color: #93c54b !important;
}

.badge-construction[href]:hover, .badge-construction[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #93c54b !important;
}
.badge-mechanic {
  color: #fff;
  background-color: #4592af !important;
}

.badge-mechanic[href]:hover, .badge-mechanic[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #4592af !important;
}
.badge-electrican {
  color: #fff;
  background-color: #8f71ff !important;
}

.badge-electrican[href]:hover, .badge-electrican[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #8f71ff !important;
}
.badge-assembly {
  color: #fff;
  background-color: #af5e45 !important;
}

.badge-assembly[href]:hover, .badge-assembly[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #af5e45 !important;
}
.badge-programmer {
  color: #fff;
  background-color: #8e2e6a !important;
}

.badge-programmer[href]:hover, .badge-programmer[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #8e2e6a !important;
}
.task-build-phase {
  background-color: #ccddef;
}
.task-collapse {
  background-color: #f2f5f8;
}
.task-collapse-deleted {
  background-color: #f8f5f05e;
}
.collapse-task-height {
  height: 1000px;
}
.span-absence-list {  
  max-height: calc(100vh - 215px) !important;
  overflow: auto;
  /*max-height: 315px !important; */
}
.border-low-priority {
  border-left: 5px solid #ffd446 !important;
}
.border-medium-priority {
  border-left: 5px solid #ffa631 !important;
}
.border-high-priority {
  border-left: 5px solid #f85e4a !important;
}
.border-completed {
  border-left: 5px solid #93c54b !important;
}
.border-info-priority {
  border-right: 5px solid #48c2d4 !important;
}
.list-group-item-linkable:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.card-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #F8F5F0;
  background-clip: border-box;
  border: 1px solid rgba(223, 215, 202, 0.75);
  border-radius: 0.25rem;
}
.card-body-message {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.5rem;
}
.card-subtitle-message {
  margin-top: -0.375rem;
  margin-bottom: 0;
}
.sender {
  text-align: end;
}
.bg-color-message-sender {
  background-color: #F8F5F0;
}
.bg-color-message-me {
  background-color: #C3E7f6;
}
.calendar-control {
  height: 200px;
}
.calendar-workers {
  height: calc(100vh - 200px - 200px - 20px);
}
.calendar-day {
  height: 350px;
}
.calendar-day-overview {
  height: calc((100vh - 200px)/2 + 20px);
}
.calendar-control-overview {
  height: 400px;
}
.calendar-workers-overview {
  height: calc(100vh - 200px - 400px - 20px);
}
.hidden-scroll {
  overflow: scroll;
  overflow-x: hidden;
}
.hidden-scroll::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.hidden-scroll::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
.calendar-body {
  overflow-y: auto;
  height: calc(100vh - 160px);
  min-height: 300px;
}
.border-purchase {
  border-color: #afad45 !important;
  border-width: medium !important;
}
.border-construction {
  border-color: #93c54b !important;
  border-width: medium !important;
}
.border-mechanic {
  border-color: #4592af !important;
  border-width: medium !important;
}
.border-electric {
  border-color: #8f71ff !important;
  border-width: medium !important;
}
.border-assembly {
  border-color: #af5e45 !important;
  border-width: medium !important;
}
.border-programming {
  border-color: #8e2e6a !important;
  border-width: medium !important;
}
.calendar-day-selected {
  border-width: thick !important;
  border-color: blue !important;
}
.calendar-day-weekend {
  background-color: #ccc2b2 !important;
}
.calendar-worker-builder {
  color: #93C54B;
  border-color: #93C54B !important;
}
.calendar-worker-builder:not(:disabled):not(.disabled):active, .calendar-worker-builder:not(:disabled):not(.disabled).active,
.show > .calendar-worker-builder.dropdown-toggle {
  color: #93C54B;
  background-color: #dbd8d3 !important;
}
.calendar-worker-electrican {
  color: #8f71ff;
  border-color: #8f71ff !important;
}
.calendar-worker-electrican:not(:disabled):not(.disabled):active, .calendar-worker-electrican:not(:disabled):not(.disabled).active,
.show > .calendar-worker-electrican.dropdown-toggle {
  color: #8f71ff;
  background-color: #dbd8d3 !important;
}
.calendar-worker-mechanic {
  color: #4592af;
  border-color: #4592af !important;
}
.calendar-worker-mechanic:not(:disabled):not(.disabled):active, .calendar-worker-mechanic:not(:disabled):not(.disabled).active,
.show > .calendar-worker-mechanic.dropdown-toggle {
  color: #4592af;
  background-color: #dbd8d3 !important;
}
.calendar-worker-plc {
  color: #8e2e6a;
  border-color: #8e2e6a !important;
}
.calendar-worker-plc:not(:disabled):not(.disabled):active, .calendar-worker-plc:not(:disabled):not(.disabled).active,
.show > .calendar-worker-plc.dropdown-toggle {
  color: #8e2e6a;
  background-color: #dbd8d3 !important;
}
.calendar-worker-robot {
  color: #F47C3C;
  border-color: #F47C3C !important;
}
.calendar-worker-robot:not(:disabled):not(.disabled):active, .calendar-worker-robot:not(:disabled):not(.disabled).active,
.show > .calendar-worker-robot.dropdown-toggle {
  color: #F47C3C;
  background-color: #dbd8d3 !important;
}
.calendar-worker-leader {
  font-weight: bold;
}
.calendar-worker-leader:not(:disabled):not(.disabled):active, .calendar-worker-leader:not(:disabled):not(.disabled).active,
.show > .calendar-worker-leader.dropdown-toggle {
  font-weight: bold;
  background-color: #dbd8d3 !important;
}
.calendar-worker-admin {
  font-weight: bold;
}
.calendar-worker-admin:not(:disabled):not(.disabled):active, .calendar-worker-admin:not(:disabled):not(.disabled).active,
.show > .calendar-worker-admin.dropdown-toggle {
  font-weight: bold;
  background-color: #dbd8d3 !important;
}
.calendar-worker-tajnik:not(:disabled):not(.disabled):active, .calendar-worker-tajnik:not(:disabled):not(.disabled).active,
.show > .calendar-worker-tajnik.dropdown-toggle {
  background-color: #dbd8d3 !important;
}
.calendar-worker-worker:not(:disabled):not(.disabled):active, .calendar-worker-worker:not(:disabled):not(.disabled).active,
.show > .calendar-worker-worker.dropdown-toggle {
  background-color: #dbd8d3 !important;
}
.border-project0 {
  border-color: #afad45 !important;
  border-width: medium !important;
}
.badge-project0 {
  color: #fff;
  background-color: #afad45 !important;
}
.border-project1 {
  border-color: #93c54b !important;
  border-width: medium !important;
}
.badge-project1 {
  color: #fff;
  background-color: #93c54b !important;
}
.border-project2 {
  border-color: #4592af !important;
  border-width: medium !important;
}
.badge-project2 {
  color: #fff;
  background-color: #4592af !important;
}
.border-project3 {
  border-color: #8f71ff !important;
  border-width: medium !important;
}
.badge-project3 {
  color: #fff;
  background-color: #8f71ff !important;
}
.border-project4 {
  border-color: #af5e45 !important;
  border-width: medium !important;
}
.badge-project4 {
  color: #fff;
  background-color: #af5e45 !important;
}
.border-project5 {
  border-color: #8e2e6a !important;
  border-width: medium !important;
}
.badge-project5 {
  color: #fff;
  background-color: #8e2e6a !important;
}
.border-project6 {
  border-color: #cc3600 !important;
  border-width: medium !important;
}
.badge-project6 {
  color: #fff;
  background-color: #cc3600 !important;
}
.border-project7 {
  border-color: #1d4b73 !important;
  border-width: medium !important;
}
.badge-project7 {
  color: #fff;
  background-color: #1d4b73 !important;
}
.border-project8 {
  border-color: #28731d !important;
  border-width: medium !important;
}
.badge-project8 {
  color: #fff;
  background-color: #28731d !important;
}
.border-project9 {
  border-color: #2d86b3 !important;
  border-width: medium !important;
}
.badge-project9 {
  color: #fff;
  background-color: #2d86b3 !important;
}
.border-project10 {
  border-color: #660036 !important;
  border-width: medium !important;
}
.badge-project10 {
  color: #fff;
  background-color: #660036 !important;
}
.select2-container--default .select2-results>.select2-results__options{
  max-height: 500px !important;
}
.card-report:hover {
  cursor: pointer;
}
.select2-container {
  width: 100%;
}
.popover {
  max-width: 700px;
}
.vis-custom-time {
  pointer-events: none;
}
.vis-item.orange {
  background-color: orange;
  border-color: orangered;
}
.vis-item.vis-selected.orange {
  /* custom colors for selected orange items */
  background-color: gold;
  border-color: orange;
}
.vis-item.completed {
  border-color: black !important;
  border:  solid 3px;
}
.vis-item.purchase {
  background-color: #afad45;
  border-color: gold;
}
.progress-purchase {
  background: #cfce6a;
  border: solid 2px black;
}
.vis-item.assembly {
  color: #fff;
  background-color: #af5e45;
  border-color: sienna;
}
.progress-assembly {
  background: #cf7b61;
  border: solid 2px black;
}
.vis-item.builder {
  background-color: #93C54B;
  border-color: green;
}
.progress-builder {
  background: #81af41;
  border: solid 2px black;
}
.vis-item.electrican {
  color: #fff;
  background-color: #8f71ff;
  border-color: blueviolet;
}
.progress-electrican {
  background: #a992ff;
  border: solid 2px black;
}
.vis-item.mechanic {
  color: #fff;
  background-color: #4592af;
  border-color: skyblue;
}
.progress-mechanic {
  background: #54aecf;
  border: solid 2px black;
}
.vis-item.plc {
  color: #fff;
  background-color: #8e2e6a;
  border-color: purple;
}
.progress-plc {
  background: #b34087;
  border: solid 2px black;
}
.vis-item.robot {
  background-color: #F47C3C;
  border-color: orangered;
}
.progress-brez {
  background: #b6c5f1;
  border: solid 2px black;
}
.vis-item.absence {
  background-color: #eeb6f0;
  border-color: rgb(86, 58, 90);
}
.vis-item.vis-background.odd {
  background-color: rgba(82, 226, 233, 0.2);
}
.progress-vis {
  height: 100%;
  width: 60%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.left-tab.active{
  border-color: #DFD7CA #fff #DFD7CA #DFD7CA !important;
  color: #495057 !important;
}
.border-status-open {
  border-right: 5px solid #f85e4a !important;
}
.border-status-closed {
  border-right: 5px solid #93c54b !important;
}
.border-status-other {
  border-right: 5px solid #ffd446 !important;
}
.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 45px; }

.tableFixHeadModal          { overflow-y: auto; height: 100px; }
.tableFixHeadModal thead th { position: sticky; top: 0px; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#F8F5F0;}

/*test for minimalistic date input */
[type="date"].remove-calendar-icon::-webkit-inner-spin-button {
  display: none;
}
[type="date"].remove-calendar-icon::-webkit-calendar-picker-indicator {
  display: none;
}
.remove-calendar-icon {
  width: 110px;
}
input.hide-calendar-icon {
  position: relative;
  opacity: 1;
  width: 100%;
  height: 100%;
  border: 1;
  cursor: pointer;
}
input.hide-calendar-icon::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0%;
  left: -20%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l8htcy');
  src:  url('fonts/icomoon.eot?l8htcy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l8htcy') format('truetype'),
    url('fonts/icomoon.woff?l8htcy') format('woff'),
    url('fonts/icomoon.svg?l8htcy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dn:before {
  content: "\e900";
}
.btn-on-stretched {
  z-index: 50;
  position: relative;
}
.fake-button {
  cursor: pointer;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}
.modal-doc {
  width: 920px;
  overflow: hidden;
}
.modal-doc-content {
  background: none;
  border: none;
}
.document-content-vertical-pdf {
  height: 95vh;
}
.document-content {
  height: 95vh;
  width: 85vw;
  left: 0px;
  top: 0px;
  margin: 2% 3% 3% 7%;
  position: fixed;
}
.overflow-hidden {
  overflow: hidden;
}
.preview-icon {
  position: relative;
  max-width: 400px;
}
.image-icon {
  display: block;
  width: 100%;
  height: auto;
}
.overlay-zoom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.5);;
  cursor: pointer;
}
.preview-icon:hover .overlay-zoom {
  opacity: 1;
}
.icon-overlay {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-130%, 40%);
  transform: translate(-130%, 40%);
  text-align: center;
}
.modal-img {
   height: auto;
   width: auto;
   max-width: 100%;
   max-height: 100%;
   margin: auto;
   display: block;
}
.table-fixed {
  table-layout: fixed;
}
.select2-selection__rendered .select2-selection--single {
  line-height: 31px !important;
}
.select2-selection__rendered  {
  padding-top: 3px;
}
.select2-container .select2-selection--single {
  height: 35px !important;
}
.select2-selection__arrow {
  height: 34px !important;
}
.display-none {
  display: none !important;
}
.hidden-row {
  padding: 0 !important;
}
.user-name-size {
  font-size: 15px !important;
}
.btn.stay-focus {
  box-shadow: 0 0 0 0.2rem #007bff80;
}
.btn-danger.stay-focus {
  box-shadow: 0 0 0 0.2rem #df6d6980;
}
.btn-success.stay-focus {
  box-shadow: 0 0 0 0.2rem #a3ce6680;
}
.btn-secondary.stay-focus {
  box-shadow: 0 0 0 0.2rem #9f9d9680;
}
.btn-dark.stay-focus {
  box-shadow: 0 0 0 0.2rem #5b5c5880;
}
.btn-primary.stay-focus {
  box-shadow: 0 0 0 0.2rem #51759a80;
}
.btn-construction.stay-focus {
  box-shadow: 0 0 0 0.2rem #93C54B;
}
.btn-purchase.stay-focus {
  box-shadow: 0 0 0 0.2rem #afad45;
}
.btn-mechanic.stay-focus {
  box-shadow: 0 0 0 0.2rem #4592af;
}
.btn-electrican.stay-focus {
  box-shadow: 0 0 0 0.2rem #8f71ff;
}
.btn-assembly.stay-focus {
  box-shadow: 0 0 0 0.2rem #af5e45;
}
.btn-programmer.stay-focus {
  box-shadow: 0 0 0 0.2rem #8e2e6a;
}
.odd-row {
  background-color: rgba(0, 0, 0, 0.05);
}
/* ---------------------------------------------------------SIRINE PO PX----------------------------------------------------------- */
.w-42px {  /*for same width icons*/
  width: 42px;
}
.w-50px {
  width: 50px !important;
}
.w-60px {
  width: 60px !important;
}
.w-65px {
  width: 65px !important;
}
.w-70px {
  width: 70px !important;
}
.w-75px {
  width: 75px !important;
}
.w-80px {
  width: 80px !important;
}
.w-85px {
  width: 85px !important;
}
.w-90px {
  width: 90px !important;
}
.w-95px {
  width: 95px !important;
}
.w-100px {
  width: 100px !important;
}
.w-105px {
  width: 105px !important;
}
.w-110px {
  width: 110px !important;
}
.w-115px {
  width: 115px !important;
}
.w-120px {
  width: 120px !important;
}
.w-125px {
  width: 125px !important;
}
.w-130px {
  width: 130px !important;
}
.w-135px {
  width: 135px !important;
}
.w-140px {
  width: 140px !important;
}
.w-145px {
  width: 145px !important;
}
.w-150px {
  width: 150px !important;
}
.w-155px {
  width: 155px !important;
}
.w-160px {
  width: 160px !important;
}
.w-165px {
  width: 165px !important;
}
.w-170px {
  width: 170px !important;
}
.w-175px {
  width: 175px !important;
}
.w-180px {
  width: 180px !important;
}
.w-185px {
  width: 185px !important;
}
.w-190px {
  width: 190px !important;
}
.w-195px {
  width: 195px !important;
}
.w-200px {
  width: 200px !important;
}
.w-205px {
  width: 205px !important;
}
.w-210px {
  width: 210px !important;
}
.w-215px {
  width: 215px !important;
}
.w-220px {
  width: 220px !important;
}
.w-225px {
  width: 225px !important;
}
.w-230px {
  width: 230px !important;
}
.w-235px {
  width: 235px !important;
}
.w-240px {
  width: 240px !important;
}
.w-245px {
  width: 245px !important;
}
.w-250px {
  width: 250px !important;
}
.w-255px {
  width: 255px !important;
}
.w-260px {
  width: 260px !important;
}
.w-265px {
  width: 265px !important;
}
.w-270px {
  width: 270px !important;
}
.w-275px {
  width: 275px !important;
}
.w-280px {
  width: 280px !important;
}
.w-285px {
  width: 285px !important;
}
.w-290px {
  width: 290px !important;
}
.w-295px {
  width: 295px !important;
}
.w-300px {
  width: 300px !important;
}
.w-310px {
  width: 310px !important;
}
.w-320px {
  width: 320px !important;
}
.w-330px {
  width: 330px !important;
}
.w-340px {
  width: 340px !important;
}
.w-350px {
  width: 350px !important;
}
.w-360px {
  width: 360px !important;
}
.w-0{width: 0%;} .w-1{width: 1%;} .w-2{width: 2%;} .w-3{width: 3%;} .w-4{width: 4%;} .w-5{width: 5%;} .w-6{width: 6%;} .w-7{width: 7%;} .w-8{width: 8%;} .w-9{width: 9%;} .w-10{width: 10%;} .w-11{width: 11%;} .w-12{width: 12%;} .w-13{width: 13%;} .w-14{width: 14%;} .w-15{width: 15%;} .w-16{width: 16%;} .w-17{width: 17%;} .w-18{width: 18%;} .w-19{width: 19%;} .w-20{width: 20%;} .w-21{width: 21%;} .w-22{width: 22%;} .w-23{width: 23%;} .w-24{width: 24%;} .w-26{width: 26%;} .w-27{width: 27%;} .w-28{width: 28%;} .w-29{width: 29%;} .w-30{width: 30%;} .w-31{width: 31%;} .w-32{width: 32%;} .w-33{width: 33%;} .w-34{width: 34%;} .w-35{width: 35%;} .w-36{width: 36%;} .w-37{width: 37%;} .w-38{width: 38%;} .w-39{width: 39%;} .w-40{width: 40%;} .w-41{width: 41%;} .w-42{width: 42%;} .w-43{width: 43%;} .w-44{width: 44%;} .w-45{width: 45%;} .w-46{width: 46%;} .w-47{width: 47%;} .w-48{width: 48%;} .w-49{width: 49%;} .w-51{width: 51%;} .w-52{width: 52%;} .w-53{width: 3%;} .w-54{width: 54%;} .w-55{width: 55%;} .w-56{width: 56%;} .w-57{width: 57%;} .w-58{width: 58%;} .w-59{width: 59%;} .w-60{width: 60%;} .w-61{width: 61%;} .w-62{width: 62%;} .w-63{width: 63%;} .w-64{width: 64%;} .w-65{width: 65%;} .w-66{width: 66%;} .w-67{width: 67%;} .w-68{width: 68%;} .w-69{width: 69%;} .w-70{width: 70%;} .w-71{width: 71%;} .w-72{width: 72%;} .w-73{width: 73%;} .w-74{width: 74%;} .w-76{width: 76%;} .w-77{width: 77%;} .w-78{width: 78%;} .w-79{width: 79%;} .w-80{width: 80%;} .w-81{width: 81%;} .w-82{width: 82%;} .w-83{width: 83%;} .w-84{width: 84%;} .w-85{width: 85%;} .w-86{width: 86%;} .w-87{width: 87%;} .w-88{width: 88%;} .w-89{width: 89%;} .w-90{width: 90%;} .w-91{width: 91%;} .w-92{width: 92%;} .w-93{width: 93%;} .w-94{width: 94%;} .w-95{width: 95%;} .w-96{width: 96%;} .w-97{width: 97%;} .w-98{width: 98%;} .w-99{width: 99%;}
/* ---------------------- OTHER STYLES ------------------------ */
.max-space{
  max-width: 100%;
  max-height: 100%;
}
.select2-container{
  width: 100%!important;
}
.select2-search--dropdown .select2-search__field {
  width: 98%;
}
.pre-wrap {
  white-space: pre-wrap;
}
.table-hover.table-hover-custom tbody tr:hover td {
  background: #cdeff5;
}
.embeded-pdf {
  overflow: visible;
  width: 100%;
  height: 100%;
}
.calendar-text {
  text-decoration: none !important;
  color: inherit;
}
.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:calc(100vw - 80px);
  max-width: 400px;
  height:200px;
  background-color: white;
}
.wrapper-test {
  position: relative;
  /* width: 400px;
  height: 200px; */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 580px;
}
.signature-pad-test {
  position: absolute;
  left: 0;
  top: 0;
  /* width:calc(100vw - 80px);
  max-width: 400px;
  height:200px; */
  background-color: white;
}
footer {
  height: auto;
  position: fixed;
  bottom: 0px;
  /* width: 100%; */
}
.tui-calendar {
  height: calc(100vh - 100px) !important;
  width: calc(100vw - 30px) !important;
}
.work-order-checkbox-label.mbsc-checkbox {
  padding-top: 5px;
  padding-bottom: 5px;
}
.event-color-c {
  display: flex;
  margin: 16px;
  align-items: center;
  cursor: pointer;
}

.event-color-label {
  flex: 1 0 auto;
}

.event-color {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 240px;
}

.crud-color-row {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.crud-color-c {
  padding: 3px;
  margin: 2px;
}

.crud-color {
  position: relative;
  min-width: 46px;
  min-height: 46px;
  margin: 2px;
  cursor: pointer;
  border-radius: 23px;
}

.crud-color-c.selected,
.crud-color-c:hover {
  box-shadow: inset 0 0 0 3px #007bff;
  border-radius: 48px;
}

.crud-color:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  color: #f7f7f7;
  font-size: 20px;
  text-shadow: 0 0 3px #000;
  display: none;
}

.crud-color-c.selected .crud-color:before {
  display: block;
}

.md-timeline-template .mbsc-schedule-event.mbsc-ltr {
  height: auto !important;
}

.mbsc-timeline-resource-children {
  margin-left: -0.75em;
}

.md-timeline-template-event {
  border: 1px solid transparent;
  margin: 0px !important;
}

.md-timeline-template-event-cont {
  /* background: rgba(255, 255, 255, .8); */
  font-size: 15px;
  height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.md-timeline-template-event-cont .mbsc-icon {
  padding: 5px;
  box-sizing: content-box;
}

.mbsc-timeline-event-start .md-timeline-template-event,
.mbsc-timeline-event-start .md-timeline-template-event-cont,
.mbsc-timeline-event-start .md-timeline-template-event-cont .mbsc-icon {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.mbsc-timeline-event-end .md-timeline-template-event,
.mbsc-timeline-event-end .md-timeline-template-event-cont,
.mbsc-timeline-event-end .md-timeline-template-event-cont .mbsc-icon {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.md-timeline-template-event-cont .mbsc-icon:before {
  color: #fff;
  font-size: 18px;
}

.md-timeline-template-title {
  color: #666;
}

.md-timeline-template .mbsc-timeline-column,
.md-timeline-template .mbsc-timeline-header-column {
  min-width: 100px;
}

.md-timeline-template .mbsc-timeline-resource,
.md-timeline-template .mbsc-timeline-row {
  min-height: 100px;
}

.employee-shifts-cont {
  position: relative;
  padding-left: 42px;
  max-height: 40px;
}

.employee-shifts-avatar {
  position: absolute;
  max-height: 40px;
  max-width: 40px;
  top: 18px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 20px;
}

.employee-shifts-name {
  font-size: 15px;
}

.md-tooltip .mbsc-popup-content {
  padding: 0;
}

.md-tooltip {
  font-size: 15px;
  font-weight: 600;
}

.md-tooltip-header {
  padding: 12px 16px;
  color: #eee;
}

.md-tooltip-info {
  padding: 16px 16px 16px 16px;
  position: relative;
  line-height: 32px;
}

.md-tooltip-time,
.md-tooltip-status-button {
  float: right;
}

.md-tooltip-title {
  margin-bottom: 15px;
}

.md-tooltip-text {
  font-weight: 300;
}

.md-shift-management-calendar .mbsc-schedule-event {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.md-shift-management-calendar .mbsc-timeline-slots {
  height: 94px;
}

.md-shift-management-calendar .mbsc-timeline-header-placeholder {
  height: 120px;
}

.md-shift-management-calendar .mbsc-timeline-resource {
  display: flex;
  align-items: center;
}

.md-shift-management-calendar .mbsc-timeline-slot {
  width: 200px;
}

.md-shift-header-controls {
  flex: 1 0 auto;
  display: flex;
  justify-content: end;
}

.md-shift-header-controls .mbsc-checkbox {
  padding: 18px 0 18px 45px;
}

.md-shift-cal-view.mbsc-textfield-wrapper {
  margin: 12px 12px 12px 28px;
}

.md-shift-cal-view .mbsc-select.mbsc-textfield {
  height: 32px;
  width: 120px;
}

.md-shift-cal-view .mbsc-icon.mbsc-select-icon {
  width: 20px;
  height: 20px;
  top: 7px;
}

.md-shift-resource {
  font-size: 18px;
}

.md-shift-resource-icon {
  margin-right: 10px;
}

.md-shift-header {
  margin: 3px 6px;
  display: flex;
  flex-direction: column;
}

.md-shift-name {
  font-size: 15px;
}

.md-shift-time {
  opacity: .5;
  font-size: 12px;
  margin-left: 5px;
}

.md-shift-count {
  margin-top: 6px;
  margin-right: 12px;
  display: inline-block;
  width: 26px;
  height: 20px;
}

.md-shift-icon {
  padding-right: 3px;
}
.md-meal-planner-title {
  font-size: 20px;
}

.md-meal-planner-kcal {
  color: #929292;
}

.md-meal-planner-calendar.mbsc-calendar .mbsc-schedule-event-all-day-inner {
  height: 40px;
  display: flex;
  align-items: center;
}
.mbsc-popup-wrapper {
  z-index: 10 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mbsc-popup-body-round {
  padding: 0;
  overflow: visible !important;
  max-width: 600px !important;
  max-height: 600px !important;
}
.overflow-visible {
  overflow: visible !important;
  z-index: 100 !important;
}
.rumena-ozadje { background: #ffeb3c !important; color: black !important; } .oranzna-ozadje { background: #ff9900 !important; } .oranzna-rdeca-ozadje { background: #f44437 !important; } .crimson-ozadje { background: #ea1e63 !important; } .darkmagenta-ozadje { background: #9c26b0 !important; } .mediumblue-ozadje { background: #3f51b5 !important; } .deepskyblue-ozadje { background: #5ac8fa !important; } .seagreen-ozadje { background: #009788 !important; } .limegreen-ozadje { background: #4baf4f !important; } .saddlebrown-ozadje { background: #7e5d4e !important; } .royalblue-ozadje { background: #1a73e8 !important; } .bolniska-ozadje { background: #a71201 !important; } .dopust-ozadje { background: #f0ad4e !important; }
.rumena-barva { color: #ffeb3c; } .oranzna-barva { color: #ff9900; } .oranzna-rdeca-barva { color: #f44437; } .crimson-barva { color: #ea1e63; } .darkmagenta-barva { color: #9c26b0; } .mediumblue-barva { color: #3f51b5; } .deepskyblue-barva { color: #5ac8fa; } .seagreen-barva { color: #009788; } .limegreen-barva { color: #4baf4f; } .saddlebrown-barva { color: #7e5d4e; } .royalblue-barva { color: #1a73e8; } .bolniska-barva { color: #a71201; } .dopust-barva { color: #f0ad4e; }
.rumena-obroba { border-color: #ffeb3c; } .oranzna-obroba { border-color: #ff9900; } .oranzna-rdeca-obroba { border-color: #f44437; } .crimson-obroba { border-color: #ea1e63; } .darkmagenta-obroba { border-color: #9c26b0; } .mediumblue-obroba { border-color: #3f51b5; } .deepskyblue-obroba { border-color: #5ac8fa; } .seagreen-obroba { border-color: #009788; } .limegreen-obroba { border-color: #4baf4f; } .saddlebrown-obroba { border-color: #7e5d4e; } .royalblue-obroba { border-color: #1a73e8; }
.roza-poweranger-ozadje { background: #fc03f4 !important; } .roza-poweranger-barva { color: #fc03f4; } .roza-poweranger-obroba { border-color: #fc03f4; }
.odsotnost-ozadje { background: #000000 !important; } .odsotnost-barva { color: #000000; } .odsotnost-obroba { border-color: #000000; }
.nabava-ozadje { background: #afad45 !important; } .nabava-barva { color: #afad45; } .nabava-obroba { border-color: #afad45; }
.konstrukcija-ozadje { background: #93C54B !important; } .konstrukcija-barva { color: #93C54B; } .konstrukcija-obroba { border-color: #93C54B; }
.strojna-izdelava-ozadje { background: #4592af !important; } .strojna-izdelava-barva { color: #4592af; } .strojna-izdelava-obroba { border-color: #4592af; }
.elektro-izdelava-ozadje { background: #8f71ff !important; } .elektro-izdelava-barva { color: #8f71ff; } .elektro-izdelava-obroba { border-color: #8f71ff; }
.montaza-ozadje { background: #af5e45 !important; } .montaza-barva { color: #af5e45; } .montaza-obroba { border-color: #af5e45; }
.programiranje-ozadje { background: #8e2e6a !important; } .programiranje-barva { color: #8e2e6a; } .programiranje-obroba { border-color: #8e2e6a; }
.brez-ozadje { background: #3e3f3a !important; } .brez-barva { color: #3e3f3a; } .brez-obroba { border-color: #3e3f3a; }
.mbsc-material.mbsc-timeline-event-end.mbsc-ltr .mbsc-schedule-event-background,.mbsc-material.mbsc-timeline-event-start.mbsc-rtl .mbsc-schedule-event-background {
  border-bottom-right-radius: 1.3em !important;
  border-top-right-radius: 1.3em !important;
}
.mbsc-material.mbsc-timeline-event-end.mbsc-rtl .mbsc-schedule-event-background,.mbsc-material.mbsc-timeline-event-start.mbsc-ltr .mbsc-schedule-event-background {
  border-bottom-left-radius: 1.3em !important;
  border-top-left-radius: 1.3em !important;
}
.mbsc-schedule-event-inner {
  padding: 0em !important;
}
.omili-ozadje { background: rgba(255, 255, 255, .8) !important; margin: 0.1em; }
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .tui-calendar {
    width: calc(100vw - 5px) !important;
  }
  .container-fluid {
    padding-left: 0px;
  }
  .mbsc-timeline-resource-col {
    width: 120px !important;
  }
  .mbsc-timeline-resource-children {
    margin-left: -1.2em;
  }
  .mbsc-timeline.mbsc-ltr .mbsc-schedule-event-inner {
    left: 120px !important;
  }
}
.md-rect-bg {
  opacity: 0.8;
  background-image: repeating-linear-gradient(45deg, #ffd6d6 25%, transparent 25%, transparent 75%, #ffd6d6 75%, #ffd6d6), repeating-linear-gradient(45deg, #ffd6d6 25%, #ffefef 25%, #ffefef 75%, #ffd6d6 75%, #ffd6d6);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
.md-stripes-bg {
  background: repeating-linear-gradient(-45deg, #fcfffc, #fcfffc 10px, #eefbec 10px, #eefbec 20px);
}
.md-dots-bg {
  background-image: radial-gradient(#a7a7a7 20%, transparent 20%);
  background-color: #f9f9f9;
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}
.mobiscroll-tooltip-height {
  max-height: 320px !important;
  overflow: scroll;   /* other browsers */
  overflow: overlay;  /* Chrome */
}
.md-rect-bg-compl {
  opacity: 0.8;
  background-image: repeating-linear-gradient(45deg, #e4e4e48c 25%, transparent 25%, transparent 75%, #e4e4e48c 75%, #e4e4e48c), repeating-linear-gradient(45deg, #e4e4e48c 25%, #ffffff 25%, #ffffff 75%, #e4e4e48c 75%, #e4e4e48c) !important;
  background-position: 0 0, 10px 10px !important;
  background-size: 20px 20px !important;
}
.md-stripped-bg-compl {
  opacity: 0.8;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.65) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.65) 50%, rgba(255, 255, 255, 0.65) 75%, transparent 75%, transparent) !important;
  background-position: 0 0, 10px 10px !important;
  background-size: 20px 20px !important;
}
.car-notes-list {
  overflow-y: auto;
  max-height: calc(100vh - 500px);
}
.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}


.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 0.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}
#modalPdf .modal-dialog {
  max-width: 90%; /* Adjust the max-width as needed */
  width: auto;
}

#modalPdf .modal-body {
  height: 80vh; /* Adjust the height as needed */
  overflow-y: auto;
}

#pdfObject {
  width: 100%;
  height: 100%;
}